[2017-10-15 20:09] yalisassoon opened #335 "Add Heilpflanzenwohl AG to our users list"

[2017-10-16 09:01] yalisassoon commented on #300
Hi @jorgemgoncalves - the new pages look great! There's quite a lot of smaller bits and pieces that need to be completed before we can push these lives though:

* The Technology Partners Page isn't loading? Is it missing?
* The company logos don't link through to the company web pages
* Can we add the following logos to our Technology Partners section:
  * https://predicsis.ai/
  * chartio.com
  *

[2017-10-17 21:40] jorgemgoncalves commented on #300
Hi @yalisassoon, all done! Please confirm in qa.

[2017-10-18 06:28] yalisassoon commented on #300
Looks good @jorgemgoncalves ! Only two updates I think we need to make:

On the main partner page one of the logos doesn't seem to be loading:

![image](https://user-images.githubusercontent.com/201147/31703722-c5a95000-b3d5-11e7-95f2-bbeeb691aa61.png)

When we list "Key2Market" on the Implementation Partner section, can we list their location as "Berlin" rather than "Germany"? (To make them consi

[2017-10-18 06:28] yalisassoon commented on #96
Where are we with the RSS feeds @jorgemgoncalves ? The page looks great - I'm keen to get it merged :smile:

[2017-10-19 12:02] jorgemgoncalves commented on #300
@yalisassoon as promissed i've created a pull request to merge the Partners Section into next.snowplowanalytics.com #346 and assigned it to you.

[2017-10-20 07:55] yalisassoon commented on #96
Hey @jorgemgoncalves - any update on this? Would be awesome if we can get the new page added, then fix the feeds in a separate PR...

[2017-10-20 16:13] bogaert opened #347 "Missing word in Terms of Service"
Exhibit A:

[2017-10-24 14:10] #295 closed

[2017-10-24 14:11] #300 closed

[2017-10-24 14:28] jorgemgoncalves opened #351 "Replace Snowflake's image on Implementation Partners"

[2017-10-27 12:22] jorgemgoncalves commented on #297
Hi @yalisassoon @bogaert @jbeemster, the #356 merge to QA fixed the RSS feed issue.

We've also added a Feed entry limiter in the _config.yml file which allows you to select the total number of posts that appear. If you choose to remove the value and they will all appear.

Please give me your feedback so that I request a pull to Next.

Cheers.

[2017-10-29 20:26] yalisassoon opened #357 "Partners section: enable users to filter by region"
Something like https://www.optimizely.com/partners/solutions/

[2017-11-02 11:22] jorgemgoncalves commented on #288
We've added the functionality on mnrq-288-parallax-effect and merged it to qa.snowplowanalytics.com #362.

[2017-11-02 11:44] jorgemgoncalves commented on #216
Hi @yalisassoon, we've improved the mock-up of the Customers page. You can see it here: https://drive.google.com/file/d/0B24yFNN5aMhmbDFyY3A0d3FDUWs/view?usp=sharing.

[2017-11-02 12:54] yalisassoon commented on #216
@jorgemgoncalves to speak to Hugo and look at incorporating some of the changes we discussed: mostly around having a dedicated page for retail, media and gaming.

[2017-11-02 12:56] yalisassoon commented on #298
iFrame approach doesn't really work so going to update the Discourse tempate so that it uses the same menu as on the main Snowplow website

[2017-11-08 18:30] yalisassoon opened #366 "Add sparked.com to users list"

[2017-11-11 23:02] alexanderdean opened #368 "Add tapinfluencer.com to users list"

[2017-11-13 22:21] yalisassoon opened #374 "Add cvent.com to our users list"

[2017-11-14 10:28] #297 closed

[2017-11-14 10:30] #322 closed

[2017-11-14 10:30] #324 closed

[2017-11-14 10:30] jorgemgoncalves commented on #324
User added to website.

[2017-11-14 10:31] jorgemgoncalves commented on #322
User added to website.

[2017-11-14 10:31] jorgemgoncalves commented on #335
User added to website.

[2017-11-14 10:31] #335 closed

[2017-11-14 10:39] jorgemgoncalves commented on #351
Image replaced.

[2017-11-14 10:39] #351 closed

[2017-11-14 14:03] BenFradet opened #375 "Support multiple persons as blog post authors"

[2017-11-15 11:05] jorgemgoncalves opened #377 "Menu in large touch devices"

[2017-11-17 11:39] jorgemgoncalves commented on #357
Also add Igloo Analytics to the Implementation Partner section on the main page.

[2017-11-17 15:34] Mandelliant opened #382 "Community page button alignment"
Align bottom of 'Let's Meet up' with 'Visit our Blog' and 'Talk with Us' buttons

[2017-11-17 15:35] Mandelliant opened #383 "Subscriber button"
Add dedicated 'Subscribe' call to action to Community page

[2017-11-24 08:11] nickiio opened #391 "Add crownbet.com.au to our list of users"

[2017-11-30 09:57] yalisassoon opened #393 "Add Jualo to our user list"
Quote

[2017-11-30 12:20] yalisassoon commented on #216
@jorgemgoncalves to check if there's something that can be shared with us yet...

[2017-11-30 12:20] #81 closed

[2017-11-30 12:27] yalisassoon commented on #298
Current approach looks good - can we fix this:

![image](https://user-images.githubusercontent.com/201147/33430778-a76b09f6-d5c9-11e7-99d6-c22e791ddd97.png)

We're not too concerned about showing the menu in a mobile environment.

[2017-11-30 12:32] yalisassoon commented on #289
Some infographics have been animated - hopefully we'll have a PR soon to get these integrated because they're so cool @jorgemgoncalves ?

[2017-11-30 19:35] yalisassoon opened #394 "Skin snowplow.zendesk.com"
We use Zendesk as our support system for paying customers.

It would be great to skin our Zendesk in line with our new branding.

As a first step I'll setup a call for next week or the week after with Ihor on our team, who's done the current skin, to walk you through the current setup.

[2017-12-05 14:02] Mandelliant opened #401 "Fix image "jump" issue on homepage"
On next.snowplowanalytics.com the image of the hands holding the tablet "jumps" when scrolling down.

[2017-12-05 14:24] yalisassoon commented on #214
cc @Mandelliant

[2017-12-06 15:24] jorgemgoncalves commented on #298
Hi @yalisassoon, sorry for the late feedback. I've already fixed this issue. Can you please confirm?

[2017-12-11 12:21] chuwy opened #406 "Schema Guru subdomain"
We used to have Schema Guru Web UI on previous version of website: http://schemaguru.snowplowanalytics.com/. Just noticed it is not available anymore.

Probably this should be part of Insights, but leaving here.

[2017-12-13 14:51] nickiio opened #416 "Add popxo.com to our list of trusted users"

[2017-12-13 14:53] yalisassoon opened #417 "Update CSS on jobs pages so when bold is used in job descriptions it renders on website"
From Miriam:

According to the Greenhouse team:

![image](https://user-images.githubusercontent.com/201147/33944896-5f8f6b44-e015-11e7-8f3f-96c79e2e49e3.png)

[2017-12-14 09:47] jorgemgoncalves commented on #288
We've uploaded this functionality on PR #398 and created a new issue #401 regarding a minor fix needed.

[2017-12-14 09:47] #288 closed

[2017-12-14 09:59] jorgemgoncalves commented on #366
User added and live.

[2017-12-14 09:59] #366 closed

[2017-12-14 10:02] jorgemgoncalves commented on #374
User added and live.

[2017-12-14 10:02] #374 closed

[2017-12-14 10:04] jorgemgoncalves commented on #393
User added and live.

[2017-12-14 10:04] #393 closed

[2017-12-14 12:45] yalisassoon opened #424 "Look at way of better pushing our white papers"
The whitepapers that we have on https://snowplowanalytics.com/products/snowplow-insights/ are often missed by prospects.

Can you come up with some suggestions for making these more accessible?

[2017-12-14 12:52] yalisassoon commented on #214
If we can update the blog so that we can specify a Discoruse thread (or start a new one) with comments on each, that would be great. @Mandelliant and I can then see if we think it's a nicer experience than pushing people to a separate page to discuss, which is what we do at the moment.

[2017-12-14 12:54] #298 closed

[2017-12-18 10:50] jorgemgoncalves commented on #401
Fixed deployed in #422

[2017-12-18 10:50] #401 closed

[2017-12-18 10:53] jorgemgoncalves commented on #382
Button fixed in the Community Page and deployed in #421

[2017-12-18 10:53] #382 closed

[2017-12-18 10:54] jorgemgoncalves commented on #383
Subscriber field included in the Community Page and pushed online in #420

[2017-12-18 10:54] #383 closed

[2017-12-19 09:38] BenFradet opened #437 "Category artifact on discourse"
There is this weird category artifact in the top banner (here the green dots) when you scroll down on discourse:

https://screenshots.firefoxusercontent.com/images/ae0a2aba-e409-4282-be60-7ac8cd5c70c3.png

[2018-01-02 12:27] jorgemgoncalves commented on #417
Hi @yalisassoon our Greenhouse account has been disabled. Can you please create us a new account for us to solve this issue?

Thank you.

[2018-01-02 16:15] yalisassoon commented on #417
Hi @jorgemgoncalves - apologies for that - your account has been re-activated

[2018-01-04 15:40] yalisassoon opened #459 "Take pricing section off the website"
We want to rearchitect our pricing so for the moment it'd be good to remove this section on https://snowplowanalytics.com/products/snowplow-insights/:

![image](https://user-images.githubusercontent.com/201147/34571055-776f1230-f165-11e7-8a31-d257c5b0d6a3.png)

[2018-01-05 06:46] yalisassoon opened #460 "Add logos for mailgun, statusgator, Olark and Unbounce to the sources section of the technology page"
This is the page that needs to be updated: https://snowplowanalytics.com/partners/technology/

Specifically this section:

<img width="841" alt="image" src="https://user-images.githubusercontent.com/201147/34598347-1b5c8386-f1e4-11e7-9d46-96f528d4af79.png">

[2018-01-05 06:48] yalisassoon opened #461 "update title of our Technology partners page"
Currently the page title is "Implementation Partners..." but it should be "Technology Partners..."

https://snowplowanalytics.com/partners/technology/

This is the line that needs updating: https://github.com/snowplow/snowplowanalytics.com/blob/master/pages/partners/technology/index.html#L4

[2018-01-08 14:32] jorgemgoncalves commented on #377
Issue solved on #392.

[2018-01-08 14:32] #377 closed

[2018-01-08 15:28] yalisassoon opened #466 "Add Snowflake DB to pricing section of Insights page"

[2018-01-10 10:19] yalisassoon opened #470 "Add Google Analytics logo to list of Snowplow Insights sources"

[2018-01-12 00:24] Mandelliant opened #471 "Code Snippets in Blog Content"
Find an alternative for {{}} to indicate user-supplied variables in code snippets in blog content

[2018-01-12 00:28] Mandelliant opened #472 "Develop Culture page"
Develop a page under the 'Company' section of the website dedicated to Snowplow culture.

[2018-01-12 00:29] Mandelliant opened #473 "Update team photos"
Swap out Miriam and Nicki photos in the Team section of Company page with new photos

[2018-01-15 19:26] alexanderdean opened #475 "Copyright on website is still 2017"

[2018-01-23 17:10] #96 closed

[2018-01-23 20:30] yalisassoon opened #484 "Add stockx to user list"
https://stockx.com/

[2018-01-24 08:29] yalisassoon opened #485 "Add shoprunner.com to list of users"

[2018-01-25 10:50] jorgemgoncalves commented on #214
Hi guys, @yalisassoon @Mandelliant, we've been reading about the subject and analysing all possibilities in order to find the best solution available.

Our suggestion is to create a new include that will automatically create the comment area after the author information. This include will feed off the post title and will create a new thread on Discourse.
We believe it's best to include this only f

[2018-01-25 11:45] jorgemgoncalves commented on #417
Hi guys, this issue was solved directly on the CSS file uploaded on Greenhouse.

[2018-01-25 11:45] #417 closed

[2018-01-25 12:42] jorgemgoncalves commented on #459
Pricing is already removed from Snowplow Insights page.

[2018-01-25 12:42] #459 closed

[2018-01-25 14:49] jorgemgoncalves commented on #216
Hi guys, @yalisassoon & @Mandelliant, we've already uploaded the new customers page to qa.snowplowanalytics.com.

From our site we are still going to add some visual elements and correct the users grid logos.

We need you guys to take a look if there's anything you would change and define the copy and content that will be displayed.

When you're able give us feedback.

[2018-01-26 16:29] yalisassoon commented on #321
This is another:

[code]

[2018-01-29 21:31] yalisassoon opened #496 "Add tapinfuence.com to our list of users"

[2018-02-01 10:14] yalisassoon opened #498 "Add realestate.com.au to user list"

[2018-02-01 15:42] Mandelliant commented on #475
Copyright is now 2018

[2018-02-01 15:42] #475 closed

[2018-02-05 14:23] jorgemgoncalves commented on #498
Added in PR #506

[2018-02-05 14:23] #498 closed

[2018-02-05 14:23] jorgemgoncalves commented on #496
Added in PR #506

[2018-02-05 14:23] #496 closed

[2018-02-05 14:23] jorgemgoncalves commented on #485
Added in PR #506

[2018-02-05 14:23] #485 closed

[2018-02-05 14:30] jorgemgoncalves commented on #484
Added in PR #506

[2018-02-05 14:30] #484 closed

[2018-02-05 14:30] jorgemgoncalves commented on #416
Added in PR #506

[2018-02-05 14:30] #416 closed

[2018-02-05 14:31] jorgemgoncalves commented on #391
Added in PR #506

[2018-02-05 14:31] #391 closed

[2018-02-05 14:31] jorgemgoncalves commented on #368
Added in PR #506

[2018-02-05 14:31] #368 closed

[2018-02-05 23:18] alexanderdean opened #507 "Integrate consent tracking into the webforms"
The Snowplow JS Tracker 2.9.0-rc1 is now available on the Snowplow website (currently being used for the QA tag/pipelines only currently).

Please liaise with @mhadam to integrate the consent tracking into the website forms as discussed at the last GDPR fortnightly.

Mike - please share the relevant documentation on this thread!

Thanks all

[2018-02-06 17:33] Mandelliant opened #511 "Visual call to action for blog posts"
We would like a series of different visual call to action buttons/elements that we can use at the end of blog posts. CTAs like a simple button like the email subscription button on the community page or an image banner promoting the product analytic series, for example.

Possible CTAs:
- Subscribe to our newsletter
- Contact us
- Request a demo
- Get the latest in our product analytics series
- Re

[2018-02-08 10:12] alexanderdean opened #519 "Add jualo.com (Indonesian marketplace) to our users page"

[2018-02-08 10:13] alexanderdean commented on #519
Already there! Closing

[2018-02-08 10:13] #519 closed

[2018-02-08 11:59] bogaert opened #523 "Add new team members"
- Cara
- Koen
- Louis
- Kostas
- Oguzhan

[2018-02-08 12:46] jorgemgoncalves commented on #394
Hi @Mandelliant, please check how we can access the platform to analyze the best way to do this.

[2018-02-09 15:03] jorgemgoncalves commented on #357
Hey guys! @yalisassoon @Mandelliant we've already PR all the changes in the Partners page to QA.
Unfortunately some images are having a problem which I can't identify and aren't being loaded, which is rather strange because I've checked all the paths and event the folders and they are correct...

Do you have any idea?

[2018-02-09 17:03] Mandelliant opened #529 "Infographic"
Develop an infographic to support content in a blog post.

- Content being finalized
- Will share final content along with vision for graphic

[2018-02-09 17:04] Mandelliant opened #530 "Email templates"
Create three different HTML email templates to use in marketing campaigns:

1. Regular recurring blog newsletter
2. Special announcements
3. Mostly visual CTA emails (subscribe, download, request a demo)

[2018-02-15 11:40] jorgemgoncalves commented on #214
Hey guys @yalisassoon & @Mandelliant!

We've already commited and PR the possibility of including Discourse comments on blog posts.

For the comments to show up you will need to add `discourse: true` to the front matter of each new post. I haven't added this to any posts yet because I believe it will create a new thread on Discourse and create some confusion on your followers.

Maybe it's best to

[2018-02-16 13:44] jorgemgoncalves commented on #471
Hi @Mandelliant, I think we’ve found a solution regarding this issue: [possible solution](https://stackoverflow.com/questions/24102498/escaping-double-curly-braces-inside-a-markdown-code-block-in-jekyll)

Can you check with your team if it works?

[2018-02-18 14:10] yalisassoon opened #542 "Add zynbit.com to our users list"

[2018-02-19 14:24] yalisassoon opened #543 "Bug on homepage - logo in footer is cut off"
See screenshot below:

![image](https://user-images.githubusercontent.com/201147/36382390-9db20c56-1580-11e8-868a-7c0049192b40.png)

[2018-02-20 15:19] jorgemgoncalves commented on #473
Hi @Mandelliant, I've just created PR #545 to next.snowplowanalytics.com that updates Miriam and Nicki.

[2018-02-21 10:41] jorgemgoncalves commented on #289
Hey @yalisassoon and @Mandelliant, we took the opportunity and created the rest of these animations. You can seen them all [here:](http://monarqa.com/snowplow/)

Can we proceed with placing them online?

[2018-02-21 13:44] yalisassoon commented on #289
Yes please!

On Wed, Feb 21, 2018 at 10:41 AM, Jorge Gonçalves <notifications@github.com>
wrote:

--
Co-founder
Snowplow Analytics <http://snowplowanalytics.com/>
The Roma Building, 32-38 Scrutton Street, London EC2A 4RQ, United Kingdom
+44 7841 954 117
@yalisassoon <https://twitter.com/yalisassoon>
<https://twitter.com/yalisassoon>
Sign up to our mailing list! <http://eepurl.com/b0yEgz>

[2018-02-21 15:24] yalisassoon opened #549 "Can we increase the default spacing between paragraphs please?"
It's currently a little hard to read the text-heavy blog posts e.g. https://snowplowanalytics.com/blog/2018/01/19/product-analytics-part-one-data-and-digital-products/

cc @Mandelliant

[2018-02-22 08:37] yalisassoon commented on #460
Hey @jorgemgoncalves - I can see this on qa https://qa.snowplowanalytics.com/partners/technology/ and it looks great! But I can't see a corresponding pull request into next.snowplowanalytics.com? Have  I missed something?

[2018-02-22 08:38] yalisassoon commented on #470
Should be added to the sources section in https://snowplowanalytics.com/partners/technology/.

We should make this prominent.

[2018-02-22 08:38] yalisassoon commented on #424
Let's discuss this today @jorgemgoncalves - we have some more ideas about white papers, e-books and topic-specific landing pages

[2018-02-22 08:42] yalisassoon commented on #299
I'm going to close this thread as the Insights team is communicating with the Monarqa team separately.

[2018-02-22 08:42] #299 closed

[2018-02-22 08:43] yalisassoon commented on #290
Would love an update on this @jorgemgoncalves !

[2018-02-22 08:45] yalisassoon commented on #293
We're starting to write a lot of content geared towards driving awareness and interest at Snowplow on our blog. It would be graet if we could develop a set of calls to actions (e.g. big buttons / banners) to encourage people to e.g. sign up to our mailing list, or book a demo that we can pop on any page e.g. at the top or bottom of the blog post. The links could be something like this:

<img width

[2018-02-22 08:46] yalisassoon commented on #216
I think this looks great - @Mandelliant I'm going to assign the issue to you. Can you please review https://qa.snowplowanalytics.com/customers/ and update provide @jorgemgoncalves with the content for the page please?

[2018-02-22 09:01] yalisassoon opened #550 "Improve website performance for better user experience and better SEO"
Our website is a static website served from a CDN so it _should_ be super fast.

However, it's not. An audit using the Chrome Lighthouse tool returns a pretty poor result:

<img width="1558" alt="image" src="https://user-images.githubusercontent.com/201147/36528838-6066eba2-17ae-11e8-8c42-476381c1b9d8.png">

Joao has very kindly pointed this out to us and shared some helpful resources:

Useful vid

[2018-02-22 12:20] yalisassoon commented on #357
Hi @jorgemgoncalves - not sure what you mean here - let's discuss today...

[2018-02-22 12:21] yalisassoon commented on #511
Similar ticket here: https://github.com/snowplow/snowplowanalytics.com/issues/293.

[2018-02-22 12:46] yalisassoon commented on #472
Anthony has shared a folder with content and images.

This will be a new page in the company section

[2018-02-22 19:45] jorgemgoncalves commented on #357
Hi @yalisassoon & @Mandelliant , already solved the image path issues.

Created PR #554 that deploys the changes to next.

[2018-02-22 20:14] yalisassoon commented on #214
Hi @jorgemgoncalves - this looks great!

I think if you update the snippet to http://snowplowanalytics.com and then submit a pull request into next, we can merge it to there and then to master. We understand that the functionality wont work as expected on next but should work once pushed to master.

Presumably we should remove the "Thoughts? Questions? Come and join us at our Discourse" so that th

[2018-02-22 21:33] jorgemgoncalves commented on #214
Hi @yalisassoon, Thanks!

I was think of removing it but then I remembered the other 300 posts that don't have the comments embedded. Need to check with the dev. team to see if they can figure out a solution.

Can I still make the changes a merge it to next?

[2018-02-23 11:07] mikenem opened #555 "Typo in Mike's Description"
Although Himnself sounds pretty cool, it's not an actual word apparently.

[2018-02-26 20:05] yalisassoon commented on #214
Yes you can!

On Thu, Feb 22, 2018 at 9:33 PM, Jorge Gonçalves <notifications@github.com>
wrote:

--
Co-founder
Snowplow Analytics <http://snowplowanalytics.com/>
The Roma Building, 32-38 Scrutton Street, London EC2A 4RQ, United Kingdom
+44 7841 954 117
@yalisassoon <https://twitter.com/yalisassoon>
<https://twitter.com/yalisassoon>
Sign up to our mailing list! <http://eepurl.com/b0yEgz>

[2018-02-28 09:50] yalisassoon opened #561 "Add The Washington Post to our users list"

[2018-03-06 21:37] #543 closed

[2018-03-07 21:52] Mandelliant commented on #555
Fixed by PR #566

[2018-03-07 21:52] #555 closed

[2018-03-08 11:44] jorgemgoncalves opened #567 "Image optimization"
Improve image size without compromising its appearance.

[2018-03-08 11:47] jorgemgoncalves opened #568 "Prioritise visible content"
Improve all above the fold HTML code and apply lazy-loading for below the fold content.

[2018-03-08 11:49] jorgemgoncalves opened #569 "Improve browser caching"
The website is mainly composed of static elements so we will set expiry date or maximum age to that the resources are loaded from local disk instead of server.

[2018-03-08 11:51] jorgemgoncalves opened #570 "Enable gzip compression and minify .js"
Compressing resources with gzip file on server side and minify .js file

[2018-03-08 12:10] jorgemgoncalves commented on #424
Hi @yalisassoon and @Mandelliant we weren't happy with our previous suggestions and created this final versions:

https://drive.google.com/file/d/1G0IuhWSp22RJYVG1dBs94eOSOP4NoH98/view
https://drive.google.com/file/d/1GgqG64YWInctIpzMxD6eWwR7dP4AAa3a/view

Can we fire it up?

[2018-03-08 12:14] jorgemgoncalves commented on #511
Hi, @yalisassoon and @Mandelliant we've come up with this module:

https://drive.google.com/file/d/1cSgtloOW2Ond2YyN4jbOIXSVknbBKhig/view?usp=sharing

What do you think?

[2018-03-08 12:43] yalisassoon commented on #216
@Mandelliant has uploaded text. He and @jorgemgoncalves will liaise to finalize the content so we can push live in teh next 1-2 weeks

[2018-03-08 12:52] yalisassoon commented on #424
Yes please! Fire it up

[2018-03-08 12:53] #214 closed

[2018-03-08 13:01] yalisassoon commented on #424
Should be done next week!

[2018-03-08 13:05] yalisassoon commented on #511
From @Mandelliant - if we can make the following static:

* Subscribe to our newsletter
* Contact us
* Request a demo

Let's get these quick!

With the others it'd be nice to have the ability to change the text but also modify what the button does e.g. "Download the ebook"

[2018-03-08 13:06] yalisassoon commented on #511
@jorgemgoncalves - solution - code snippet:

* title field
* copy field
* CTA field - two options:
  - copy
  - link that it'll send to

[2018-03-08 13:07] yalisassoon commented on #357
Part of the PR that should be merged today

[2018-03-08 13:07] yalisassoon commented on #289
Should be done middle of next week

[2018-03-08 13:08] yalisassoon commented on #290
Haven't made progress yet - still pending

[2018-03-08 13:11] yalisassoon commented on #292
@jorgemgoncalves idea: more blocks in each page funneling people to contact us, request a demo.

Design will be very similar to the design used for the CTAs on the blog post

[2018-03-08 13:11] yalisassoon commented on #293
Duplicate of https://github.com/snowplow/snowplowanalytics.com/issues/511 - closing

[2018-03-08 13:11] #293 closed

[2018-03-08 13:12] yalisassoon commented on #294
Prioritising page speed over this

[2018-03-08 13:15] yalisassoon commented on #394
Call scheduled with @ihortom next week

[2018-03-12 09:26] yalisassoon opened #573 "Add updated pricing back to Snowplow Insights page"
Please find the updated pricing attached.
Can we get this put on the Snowplow Insights page please?
If we can get this prioritised that would be awesome!
Many thanks
[Pricing summary - March 2018.pdf](https://github.com/snowplow/snowplowanalytics.com/files/1802133/Pricing.summary.-.March.2018.pdf)

[2018-03-12 23:55] alexanderdean commented on #406
No plans to re-open schemaguru.snowplowanalytics.com

[2018-03-12 23:55] #406 closed

[2018-03-12 23:58] alexanderdean opened #574 "Production Snowplow JS Tracker: switch to using 1EnpRtX3m0Mi45LjA.js"
Presumably this will help improve tracking of leads from users with AdBlockers.

Please leave the QA tracker (snplow6 etc) as-is as we use this for canary testing of new JS Tracker release candidates.

/cc @dmpacheco

[code]

[2018-03-13 17:30] alexanderdean opened #575 "Add checkbox (?) to flag that a demo requester is an agency, consultancy or similar"
This is so that we can do early triage of agencies and consultancies away from end-user prospects.

[2018-03-15 09:57] yalisassoon opened #577 "Add menulog.com.au to our user list"

[2018-03-15 15:53] jorgemgoncalves commented on #290
Hi @yalisassoon and @Mandelliant, we started to work on the design of this section and gathered quite a few ideas but we got to a point where we need your opinion to move on.

Basically, we imagine this block showing the next meet-up date, having a snippet of your last post, to show the latest or trending thread on Discourse. The problem is that this block would be much more dynamic than your Comm

[2018-03-15 23:03] #357 closed

[2018-03-15 23:03] #460 closed

[2018-03-16 10:56] yalisassoon commented on #290
Hi @jorgemgoncalves

Of the two designs I prefer the colourful one:

![image](https://user-images.githubusercontent.com/201147/37516952-d0a65bae-2907-11e8-896f-578dc74a8d57.png)

However, neither enable us to surface specific content on the homagepage e.g. specific white papers, or up and coming meetups. We'll want to curate these. So when we launch e.g an eBook on product analytics, we'll want to

[2018-03-16 15:11] jorgemgoncalves commented on #290
Hi @yalisassoon and @Mandelliant,

First of all, I need to apologise for not explaining the preview flow. If you press the plus button on Snowplow Blog you will see the continuation window of what would happen.

You are totally right! It is very important to have more compelling information and even visual cues that make users interact, that is why, on the second test, we included more visual aler

[2018-03-16 16:26] yalisassoon commented on #290
Ah! That makes more sense!

I guess my main concern is that we're putting that interesting content "one click away" when maybe we could preview at least some of it immediately on homepage load?

@Mandelliant what do you reckon?

[2018-03-16 16:36] Mandelliant commented on #290
@yalisassoon I agree with your suggestions for headers. I like the colorful one as well and I see what you mean about keeping content "one click away."

What if we had the first section expanded on page load (like the picture), and then cycle through each section as if the user was navigating? We could display a sample of the most recent content for each category like Jorge has now for the blog. @

[2018-03-20 10:37] yalisassoon opened #586 "Add higherlogic.com to our users list"

[2018-03-21 14:28] yalisassoon opened #591 "Can we update comments so that we don't have the Snowplow logo there?"
It looks out of place:

<img width="838" alt="image" src="https://user-images.githubusercontent.com/201147/37715475-ff3e0196-2d13-11e8-9e14-7333f9ab0456.png">

[2018-03-21 16:14] jorgemgoncalves commented on #289
Hey @yalisassoon and @Mandelliant, I've just uploaded the remaining animations to your website, they're available in:

https://qa.snowplowanalytics.com/company/ (ownership, control, freedom)
https://qa.snowplowanalytics.com/products/ (pipeline desktop and mobile, snowplow insights, snowplow react)
https://qa.snowplowanalytics.com/products/snowplow-insights/ (pipeline desktop and mobile, multiple p

[2018-03-21 16:18] Mandelliant commented on #289
@jorgemgoncalves sure thing! I'll have a look and leave some feedback

[2018-03-22 09:03] Charliescott opened #596 "Grammatical error on blog post"
https://snowplowanalytics.com/blog/2018/02/02/data-driven-product-development-is-more-about-process-culture-and-people-than-technology/

Spotted this small error:

"What does successful use of data to drive the product development process like?"

Should be "... development process look like?"

Thanks

[2018-03-22 12:04] yalisassoon commented on #591
@jorgemgoncalves already spoken to development team to see if this can be resolved. it cna be solved so will be done!

[2018-03-22 12:05] Mandelliant commented on #596
Thanks, @Charliescott, will take care of this!

[2018-03-22 12:06] yalisassoon commented on #573
Jorge to send me the branch name so I can update the text

[2018-03-22 12:08] yalisassoon commented on #573
PR should be forthcoming v soon!

[2018-03-22 12:09] yalisassoon commented on #472
Design is being developed

[2018-03-22 12:09] yalisassoon commented on #470
Expect a PR today!

[2018-03-22 12:09] yalisassoon commented on #424
Expect a PR today!

[2018-03-22 12:14] yalisassoon commented on #511
@jorgemgoncalves to get back to us - hopefully this will be delivered mid-end of next week

[2018-03-22 12:22] yalisassoon commented on #292
Currently focus is on those CTAs. Will revisit later if there's extra we want to do here.

[2018-03-22 12:22] yalisassoon commented on #292
@Mandelliant going to do some brainstorming around if there are some easy connections we can make that we're failing to do at the moment.

[2018-03-22 12:24] yalisassoon commented on #567
Started working on image optimisation. Creating the minified files to implement.
Our server accepts gzip files.

[2018-03-22 12:26] yalisassoon commented on #567
Starting to organise image files into tidy folders

[2018-03-22 12:27] yalisassoon commented on #394
@jorgemgoncalves has access to zendesk as a user.
He's taking screen prints of the screens that should be designed / branded.

[2018-03-22 12:30] yalisassoon commented on #216
Monarqa concern: too many classes / font types etc.
Trying to make it more coherent / consolidate everything down.
Should also help with minifying CSS

[2018-03-22 12:31] yalisassoon commented on #216
Monarqa team going to review customer page once design is consolidated.

[2018-03-22 21:15] Mandelliant commented on #596
Resolved with https://github.com/snowplow/snowplowanalytics.com/pull/604

[2018-03-22 21:15] #596 closed

[2018-03-23 10:09] dilyand opened #605 "Fix overlapping buttons on Discourse"
On some screens the search bar overlaps with the Community menu item, make the search bar unusable.

<img width="1170" alt="screen shot 2018-03-23 at 10 04 32" src="https://user-images.githubusercontent.com/22545434/37823681-1bdc6f12-2e82-11e8-9f4c-1e69ed95f850.png">

[2018-03-26 09:33] Mandelliant commented on #605
Thanks for spotting this, @dilyand - I'll work with Jorge to get it resolved.

[2018-03-26 10:19] alexanderdean opened #608 "Placeholder for Snowplow R102 release post"
@chuwy is working on this - @Mandelliant please grab Anton to find out what is coming here...

[2018-03-26 10:20] Mandelliant commented on #608
@alexanderdean awesome, will do

[2018-03-29 16:15] Mandelliant commented on #561
addressed in https://github.com/snowplow/snowplowanalytics.com/pull/616

[2018-03-29 16:15] #561 closed

[2018-03-29 16:16] #473 closed

[2018-03-29 16:16] Mandelliant commented on #542
Addressed in https://github.com/snowplow/snowplowanalytics.com/pull/616

[2018-03-29 16:16] #542 closed

[2018-03-29 17:00] #470 closed

[2018-03-29 17:01] #424 closed

[2018-03-29 17:01] yalisassoon commented on #511
@jorgemgoncalves any update on this?

[2018-03-29 17:02] #289 closed

[2018-04-02 13:13] jorgemgoncalves commented on #511
hi @yalisassoon we prioritized the website performance tasks and therefore this one is still in development. I believe it will be finished in the next couple of days.

[2018-04-02 13:30] jorgemgoncalves commented on #605
Hi @dilyand and @Mandelliant we've tweaked the CSS the menu doesn't overlap in wider screens.

Can you please check?

[2018-04-02 14:12] Mandelliant commented on #511
Awesome @jorgemgoncalves, I'm excited to give these a try

[2018-04-02 14:16] Mandelliant opened #618 "New careers page"
Jorge, we're replacing Greenhouse as our careers page provider. We're going to be using a service called Lever. Here is their post API: [Lever posting api](https://github.com/lever/postings-api)

Miriam and I looked a few sample websites, and like how [Mango Languages](https://mangolanguages.com/company/careers/#/) has their careers page set up with Lever.

Can you take a look at their API and the

[2018-04-02 14:20] Mandelliant commented on #605
I've checked on Chrome and Firefox on desktop, and Chrome on mobile and tablet and haven't seen an overlap, so it looks good from my perspective. @dilyand let us know if you're able to recreate the issue.

[2018-04-03 07:10] dilyand commented on #605
Looks fine for me on the big screen now. Thanks!

[2018-04-03 07:48] yalisassoon opened #620 "Can we add hometogo.co.uk to our user list?"

[2018-04-03 07:49] jorgemgoncalves commented on #605
Thanks for the feedback. Closing.

[2018-04-03 07:49] #605 closed

[2018-04-04 11:10] jorgemgoncalves commented on #216
Hi @yalisassoon and @Mandelliant, we took a fresh look at the customers' page and improved our previous proposal to be more functional and visually consolidated with the rest of the website.

[View proposal here](https://drive.google.com/open?id=1lFS5fdYcVrBUQ0rem3P70_t_NV6QIzCw)

In terms of functionalities, the first section dedicated to case studies should be the only one to show more informati

[2018-04-05 08:36] jorgemgoncalves commented on #591
We've removed the logo from the discourse embedded comments and also gave a nicer look to the Continue Discussion button.

[2018-04-05 09:29] jorgemgoncalves commented on #586
Created PR #622 to QA, but I believe that everything is ok and today will create PR to next.

[2018-04-05 12:05] jorgemgoncalves commented on #591
This is working on the production website. Closing

[2018-04-05 12:05] #591 closed

[2018-04-05 12:17] Mandelliant commented on #530
Anthony to provide some example emails

[2018-04-10 14:03] Mandelliant opened #625 "Can we add POPxo.com to our user list?"

[2018-04-11 13:00] Mandelliant opened #626 "Duplicate "Inside the plow" categories on the blog"
For some reason the "Inside the plow" category is duplicated. Both links return the same result, so identifying the broken page is challenging.

We should figure out which page has the issue and correct it.

<img width="214" alt="inside the plow" src="https://user-images.githubusercontent.com/8901138/38618037-843eb39c-3d66-11e8-866d-a3b28833b2c7.png">

[2018-04-12 13:26] jorgemgoncalves opened #628 "New branches and PRs"
Hi @jbeemster, sorry for interrupting your work.

I'm having doubts about the way I create new branches and do pull request. I'll give you an example:

Today I created branch mnrq-290-community-section from master. I change files locally and committed them to the branch.

I then created PR #627 to send the changes to qa.snowplowanalytics.com, although when I visit the PR page it shows that my PR h

[2018-04-15 17:43] yalisassoon commented on #573
Can we have a new PR please? The current one has a load of other updates that have "bled in".

I've attached the updated text - if this can be included in the PR that would be great.

Have also sent a separate email to @jorgemgoncalves

Thanks!
[Pricing summary - March 2018.pdf](https://github.com/snowplow/snowplowanalytics.com/files/1913119/Pricing.summary.-.March.2018.pdf)

[2018-04-16 12:16] jorgemgoncalves commented on #511
Hello @Mandelliant and @yalisassoon, I've just merged the Visual Call to Action to QA.

Can you please do some tests on your side and check if everything is running correctly and that you understand how it works.

To add a Call to Action on a page you can use the following:

Contact Us - {% include shortcodes/contact-us.html %}
Request Demo - {% include shortcodes/request-demo.html %}
Subscribe Bo

[2018-04-19 10:39] jorgemgoncalves commented on #626
Hi @Mandelliant & @yalisassoon, we've already fixed this issues.
The category is case sensitive so if you capitalize on category and not the other it duplicates the category.

[2018-04-19 10:59] jorgemgoncalves commented on #290
Hi @Mandelliant & @yalisassoon, I've just pushed the final version of the Community Section to QA.

Can you please check and give me feedback so I can create the PR to next?

[2018-04-19 11:37] Mandelliant commented on #625
[website](https://www.popxo.com/)

[2018-04-19 11:49] Mandelliant opened #642 "eBook"
develop product analytics ebook

[2018-04-20 13:50] yalisassoon commented on #628
Hi @jorgemgoncalves - does my explanation via email answer this question?

[2018-04-22 10:33] yalisassoon opened #645 "Add Big Tree as an implementation partner"
Graphic: Attached both as a vector and png

Tagline: Business Intelligence Meets Digital Growth Implementation

Paragraph: Big Tree provides a holistic action plan based on your business, metrics, customers, and goals. Next, we work with your team to implement solutions, measure them, and grow your business where it counts. Satisfaction guaranteed <3

Callouts: Business Intelligence - Digital Grow

[2018-04-23 07:55] yalisassoon commented on #573
Hi @jorgemgoncalves - any update on when this can be done please? Hopefully it's simple and would make a big impact on us commercially!

Thanks...

cc @Mandelliant

[2018-04-23 08:37] jorgemgoncalves commented on #573
Hi @yalisassoon, sorry I didn't put you up to date of our last meeting.

I had already created a new branch and updated with the copy you sent. I've merged it with QA for you guys to check it out.

If you'd like I can create a merge with next.

[2018-04-23 08:43] yalisassoon commented on #573
Hey @jorgemgoncalves - if you create a PR into next that would be great! I can take it from there.

Thanks

[2018-04-23 08:47] jorgemgoncalves commented on #573
Hi @yalisassoon, created PR #646. Please check if it's ok to merge.

Thank you.

[2018-04-26 08:32] jorgemgoncalves commented on #290
Hi @Mandelliant and @yalisassoon, I've just created the PR of the Community Section to next.snowplowanalytics.com.

The copy that is in the module isn't final. If you have any questions don't hesitate to ask.

[2018-04-26 08:52] jorgemgoncalves commented on #511
Hi @Mandelliant, I see you've already made the PR to next.snowplowanalytics.com! Was everything working as you wished?

[2018-04-26 08:54] jorgemgoncalves commented on #292
Hi @Mandelliant, going to assign this issues to you since we've already pushed the CTA's into next.snowplowanalytics.com.

If you require further assistance from up please assign it back to me.

[2018-04-26 08:55] jorgemgoncalves commented on #549
Hi @yalisassoon, we've made some changes on the text CSS on blog posts. Can you have a look and see if the issues are solved?

[2018-04-26 20:04] #618 closed

[2018-04-26 20:26] Mandelliant commented on #642
@jorgemgoncalves tasks live on the [eBook project](https://github.com/snowplow/snowplowanalytics.com/projects/1#card-9314460)

[2018-05-01 14:23] Mandelliant opened #667 "Add Tasman as an implementation partner"
@jorgemgoncalves here is the info for Tasman Analytics

Graphic:  ![tasman_hero](https://user-images.githubusercontent.com/8901138/39601635-92ed425a-4ef0-11e8-8a8c-aa36f5cb6536.png)

Tagline: Plug & play analytics for mobile companies

Paragraph: At Tasman, we help mobile apps realise their full potential using advanced data analysis on top of the Snowplow pipeline. We offer both tailored services

[2018-05-03 11:38] #573 closed

[2018-05-03 11:39] yalisassoon commented on #472
@jorgemgoncalves to give feedback today. This can be deprioritised.

[2018-05-03 11:41] yalisassoon commented on #511
These look great! Closing

[2018-05-03 11:41] #511 closed

[2018-05-03 11:42] yalisassoon commented on #290
@Mandelliant - do you want to have a first crack:

1. Deciding what content we want to put on
2. Test and put live

[2018-05-03 11:42] yalisassoon commented on #292
Merged with visual calls to action and delivered.

[2018-05-03 11:42] #292 closed

[2018-05-03 11:48] yalisassoon commented on #570
Currently working locally - going to push to qa to test.
@jorgemgoncalves will ping Anthony and Yali if it's not working on QA so we can get that sorted.

[2018-05-03 11:49] yalisassoon commented on #567
The compressed images have been produced.
A plugin has been enabled to compress new images that are added subsequently. @jorgemgoncalves - can you share the details of this in the thread?
We may need to work with our Tech Ops team to make sure that the Jekyll plugin works as part of our web build process.

[2018-05-03 11:51] yalisassoon commented on #530
This will be higher priority once Chih is onboard.

[2018-05-03 12:15] Mandelliant commented on #216
Looking to finish last week of May after the 25th pending the completion of the eBook and GDPR updates

[2018-05-03 14:59] jorgemgoncalves commented on #530
Hi @Mandelliant, can you send me the email template that you have been using or access to Mailchimp so that we can take a look?

[2018-05-03 15:11] jorgemgoncalves commented on #530
Sorry @Mandelliant it didn't reach its final destination 😢. Can you please resend it?

[2018-05-03 20:42] Mandelliant commented on #667
@jorgemgoncalves ran into an issue with the vector file of their image- let me know if this is at least enough to get started

[2018-05-03 20:45] Mandelliant commented on #530
@jorgemgoncalves sent!

[2018-05-03 21:00] Mandelliant opened #670 "Final product analytics posts"
Blog post and final content for PA eBook focused on where Snowplow fits in a company's product analytics stack.

To be authored by @yalisassoon, reviewed by @mandelliant

[2018-05-03 21:02] Mandelliant opened #671 "Update "Product development loop" image"

[2018-05-03 21:03] Mandelliant commented on #671
@jorgemgoncalves to modify product development loop image to be in line with Snowplow branding and style guide:

![data driven product development loop 1](https://user-images.githubusercontent.com/8901138/39602657-d2169dac-4ef3-11e8-9425-81b0c7b38128.jpg)

[2018-05-03 21:04] Mandelliant opened #672 "Develop ebook pagination"
@jorgemgoncalves and @mandelliant to review pagination style for compiling ebook content

[2018-05-03 21:05] Mandelliant opened #673 "Final content review"
@mandelliant to do final revision of complete content

[2018-05-03 21:06] Mandelliant opened #674 "eBook Landing page"
To do:
- Rough sketch of eBook landing page for @jorgemgoncalves
- Figure out Salesforce form integration
- Figure out SFDC / Mailchimp integration

[2018-05-03 21:08] Mandelliant opened #675 "Salesforce integration"
Configure appropriate Salesforce integration for eBook download form

[2018-05-03 21:11] Mandelliant commented on #675
Need to identify who the best person is for this task and coordinate with them to make sure ebook downloads:

- collect appropriate fields (name, email, company, etc)
- sends information to Salesforce
- information is displayed in SF in the correct form (lead status / stage)

[2018-05-03 21:15] Mandelliant opened #676 "eBook promotion and campaigns:"
- announcement post with CTA
- Homepage replace carousel w/ ebook
- eBook specific landing page
- eBook specific url: snowplowanalytics.com/foundersguide

[2018-05-03 21:15] Mandelliant commented on #676
To be discussed with @yalisassoon and Chih

[2018-05-04 08:40] alexanderdean opened #677 "Splitting the blog"
Following on from the on-site we had with Adam, we want to split the blog:

* Have the main blog
* Have the open-source blog (which contains e.g. the open-source snowplow/snowplow releases)

Potentially we want a third blog around thought-leadership, maybe called "Future thinking" or similar. This would be less accessible but more assertive around our thought-leadership.

Dropbox does something si

[2018-05-04 10:56] alexanderdean commented on #30
This has been done, closing.

[2018-05-04 10:56] #30 closed

[2018-05-04 10:58] alexanderdean opened #678 "Provide pricing in USD, EUR or GBP"
Showing USD prices to customers in UK and Europe is going to impact on conversion rate.

Suggest we do something simple using Google Tag Manager to start with to make this dynamic based on customer geo (or even simpler, browser locale).

Eventually it would be nice to offer a dropdown so the user can override the default pricing.

[2018-05-04 10:59] alexanderdean commented on #608
This was done, closing.

[2018-05-04 10:59] #608 closed

[2018-05-04 11:01] alexanderdean commented on #224
This is a great showcase for real-time!

[2018-05-04 12:19] Mandelliant commented on #678
I like this

[2018-05-04 12:25] Mandelliant commented on #677
This is a really interesting idea. It makes a lot of sense and several other companies do it as well. LinkedIn, Facebook, and Airbnb, for example, all have separate blogs for their "traditional" content and for their engineering content (Airbnb has one dedicated to data science as well). Would there be any content on the open-source blog besides the release posts?

Is there a reason why you think

[2018-05-04 12:28] alexanderdean commented on #677
Yes, some open-source tutorials and things like that.

I thought maybe this post (for example) would be a bit intimidating on the main blog but too expansive/interesting to bury in the open source one:

https://snowplowanalytics.com/blog/2018/03/26/building-a-model-for-atomic-event-data-as-a-graph/

[2018-05-08 12:16] Chira112 opened #684 "Minor site error: 404"
Hi Snowplow,

I recently discovered that the website's blog subsection has an error: website -> blogs -> GDPR(4) -> error.

Many Thanks

Chi

[2018-05-08 13:43] Mandelliant opened #685 "Chapter 4 visuals"
Anthony will supply sample images/sketches for chapter 4 graphics

[2018-05-09 15:33] Mandelliant commented on #674
Anthony to provide examples

[2018-05-10 20:22] knjk04 opened #687 "Typo on careers page ('Entrepeneurial')"
![1525983587_2119_10 05 2018_](https://user-images.githubusercontent.com/11173328/39892261-f70a738c-5497-11e8-942a-16597f3f01e1.png)

- Mistake: 'Entrepeneurial', instead of 'Entrepreneurial'
`<li>Entrepeneurial and delivery focused?</li>`

- Suggested fix: `<li>Entrepreneurial and delivery focused?</li>`

[Careers URL ](https://snowplowanalytics.com/company/careers/ )

[2018-05-11 19:52] Mandelliant commented on #687
Thanks, @knjk04! Great eye! This is fixed in PR https://github.com/snowplow/snowplowanalytics.com/pull/693.

[2018-05-11 19:52] #687 closed

[2018-05-11 20:28] knjk04 opened #695 "Typo on Insights page ('datawarehouse')"
![1526070386_2126_11 05 2018_](https://user-images.githubusercontent.com/11173328/39945401-41b6eee0-5562-11e8-9c98-f6957d37f111.png)

I think I found another typo:

- 'datawarehouse', instead of 'data warehouse'?

https://snowplowanalytics.com/products/snowplow-insights/

[2018-05-14 07:33] Mandelliant commented on #695
Fixed in PR https://github.com/snowplow/snowplowanalytics.com/pull/697

[2018-05-14 07:33] #695 closed

[2018-05-14 14:35] Mandelliant commented on #530
@jorgemgoncalves the base template you've created is a great start! Chih is on board now and once we finish the eBook and taking care of GDPR tasks, we'll have him on a call to go over what we'd like out of templates in greater detail

[2018-05-15 07:53] Mandelliant commented on #685
Cohort analysis:

![cohortanalysis](https://user-images.githubusercontent.com/8901138/40043779-ce5209fa-5825-11e8-9ea3-5ad817b9c6d5.png)

[2018-05-15 07:55] Mandelliant commented on #685
Retention analysis:

![retentioncurve](https://user-images.githubusercontent.com/8901138/40043899-2643f998-5826-11e8-935c-4de4c0244523.png)

[2018-05-15 07:56] Mandelliant commented on #685
A/B testing:

![ab-testing](https://user-images.githubusercontent.com/8901138/40043950-41097762-5826-11e8-9f76-6f0c49be445b.png)

[2018-05-15 07:58] Mandelliant commented on #685
Heat mapping (it might be good to make our example using the Snowplow website):

![heat-map-examples-click-tracking](https://user-images.githubusercontent.com/8901138/40044048-8bf9a742-5826-11e8-9f32-08d10ca3f3a5.jpg)

[2018-05-15 08:01] Mandelliant commented on #685
Session replay (a session replay tracks precise mouse movements, so this is a nice graphic):

![session-replay](https://user-images.githubusercontent.com/8901138/40044127-bdb6d656-5826-11e8-9bab-9e3f7ad32b85.jpg)

This is an ugly picture, but shows you what it looks like:

![hotjar](https://user-images.githubusercontent.com/8901138/40044182-eab749d8-5826-11e8-959c-f50414b2bb3e.jpg)

[2018-05-15 08:02] Mandelliant commented on #685
Funnel analysis:

![funnel-visualization](https://user-images.githubusercontent.com/8901138/40044212-05e432de-5827-11e8-9d86-dca4f48d6c34.jpg)

[2018-05-15 08:04] Mandelliant commented on #685
User survey example 1:

![419481-user-survey](https://user-images.githubusercontent.com/8901138/40044289-3afb1136-5827-11e8-8988-0a7b12adb3f4.jpg)

Example 2:

![ps4_user_survey](https://user-images.githubusercontent.com/8901138/40044296-41038888-5827-11e8-84af-82a0610356c9.png)

Possible graphic inspiration:

![user_surveys-512](https://user-images.githubusercontent.com/8901138/40044313-4982634e-

[2018-05-15 08:06] Mandelliant commented on #685
Form submission analysis:

![eform-form-submission-stat](https://user-images.githubusercontent.com/8901138/40044420-9a419e76-5827-11e8-97a2-698821ecfe33.jpg)

[2018-05-15 12:10] Mandelliant commented on #685
@jorgemgoncalves let me know if you have any questions about these examples

[2018-05-15 13:47] jorgemgoncalves commented on #671
Hey @Mandelliant, here is our redesign proposal. Give me your thoughts!

<img width="555" alt="product development process" src="https://user-images.githubusercontent.com/26622929/40060589-e2e52a54-584e-11e8-9a84-09d5519aa06a.png">

[2018-05-15 13:49] Mandelliant commented on #671
@jorgemgoncalves this is AWESOME! I love it!

[2018-05-15 13:51] Mandelliant commented on #530
Adding @Chi112

[2018-05-15 14:00] jorgemgoncalves commented on #685
Hi @Mandelliant, We're looking at chapter 4 and the images that you shared.

Is the objective to adapt them to a Branded look or to serve as inspiration to create a specific icongraphy?

[2018-05-15 14:07] Mandelliant commented on #685
Hi @jorgemgoncalves, does a minimalist, branded version of the images make sense?

Here's a very rough sketch of how I imagine each entry on the list looking, with the graphic part being a simple, Snowplow branded image:

![0515181004](https://user-images.githubusercontent.com/8901138/40061771-f6e8c244-5859-11e8-95ab-54caabd34950.jpg)

[2018-05-15 14:17] jorgemgoncalves commented on #685
What do you think if we create some icon/graphic in the same line as the ones used in the services page, visually adapted to each point of course!

<img width="947" alt="example" src="https://user-images.githubusercontent.com/26622929/40062346-eb125bb2-5852-11e8-900e-7233029ca181.png">

[2018-05-15 15:39] Mandelliant commented on #685
@jorgemgoncalves that's exactly what I had in mind! Let me know if any of these images are challenging, I can find a better example for you

[2018-05-15 16:12] Mandelliant commented on #670
Post spun off into two pieces of content:
- Snowplow makes A/B testing easy
- Snowplow is a good fit for squad-based teams

To be written by @Mandelliant

[2018-05-16 08:46] Mandelliant commented on #684
Hi @Chira112, thanks for letting us know - will be addressing this soon!

[2018-05-16 08:55] Mandelliant opened #698 "Rendering issue when inspector is open"
Top navigation doesn't render properly when opening "Inspect"

- Issue seems to be isolated to Chrome Version 66.0.3359.117 (64-bit)

<img width="1635" alt="screenshot 2018-05-16 at 08 45 57" src="https://user-images.githubusercontent.com/8901138/40107051-95615006-58f7-11e8-9a20-0b5137e7898f.png">

[2018-05-16 09:44] alexanderdean commented on #626
This is fixed.

[2018-05-16 09:44] #626 closed

[2018-05-17 12:46] #671 closed

[2018-05-17 13:13] Mandelliant commented on #675
@jorgemgoncalves to check what was done on the Monarqa side regarding Salesforce

[2018-05-17 23:36] Mandelliant opened #701 "eBook v1 design feedback"
@Mandelliant to leave comments on eBook v1 pdf

[2018-05-17 23:37] Mandelliant commented on #672
Ongoing.

@jorgemgoncalves shared v1, currently under review by @Mandelliant (see https://github.com/snowplow/snowplowanalytics.com/issues/701)

[2018-05-17 23:38] Mandelliant commented on #674
@jorgemgoncalves to create recommendation / sample page

[2018-05-17 23:51] Mandelliant opened #702 "CTA page"
@Mandelliant to write final page with calls to action.

To be discussed with @yalisassoon and @Chi112

[2018-05-18 08:32] Mandelliant commented on #701
@jorgemgoncalves I've left comments on the PDF - let me know if you can see them and we can discuss later next week!

[2018-05-18 15:35] Mandelliant commented on #702
@jorgemgoncalves here's an example of one I really like, I'll provide copy with the rest of the content.

<img width="549" alt="last page" src="https://user-images.githubusercontent.com/8901138/40243924-c468d95c-5ac1-11e8-83a0-a3e633d2cc35.png">

[2018-05-21 10:18] jorgemgoncalves commented on #701
Hi @Mandelliant we've updated the PDF with the latest version.

Maybe because of this update your comments are no longer associated with the specific area. Can you please associate them back with the specific area (sorry).

[2018-05-21 18:30] rzats opened #703 ""How much does Snowplow cost to run?" blog post has missing images"
https://snowplowanalytics.com/blog/2013/09/27/how-much-does-snowplow-cost-to-run/
https://github.com/snowplow/snowplowanalytics.com/blob/master/_posts/2013-09-27-how-much-does-snowplow-cost-to-run/index.md

`/assets/img/price-comparison/snowplow-google-analytics-omniture-sitecatalyst-price-comparison.png`
and `/assets/img/price-comparison/snowplow-saas-price-comparison.png` were apparently removed

[2018-05-22 15:32] Mandelliant commented on #701
@jorgemgoncalves I've resolved all of the comments that have been addressed - it looks like they're all taken care of!

[2018-05-24 11:49] Mandelliant opened #709 "eBook visual cta"
@jorgemgoncalves to develop visual cta linking to ebook landing page for use within blog posts

[2018-06-01 12:57] Chira112 opened #724 "Blog Post Image head matter update (FB)"
Hi Anthony,

Please add the image tags to the following blog posts when you have time:

https://snowplowanalytics.com/blog/2012/09/24/what-does-snowplow-let-you-do/?utm_source=Social%20Media&utm_medium=FB%20post&utm_campaign=Facebook

https://snowplowanalytics.com/blog/2012/10/24/web-analytics-with-tableau-and-snowplow/?utm_source=Social%20Media&utm_medium=FB%20post&utm_campaign=Facebook

https://

[2018-06-01 22:58] Mandelliant commented on #471
@jorgemgoncalves I finally had a chance to give that fix a try, but it unfortunately didn't work...

I figured the raw highlighting wouldn't color the syntax like the json highlight, but it actually messed with some of the formatting as well (see image below). Bummer...

<img width="821" alt="raw highlight" src="https://user-images.githubusercontent.com/8901138/40866760-92f40d94-65cd-11e8-821a-2d3

[2018-06-05 20:55] Mandelliant commented on #625
Addressed in #723

[2018-06-05 20:55] #625 closed

[2018-06-05 20:56] Mandelliant commented on #586
addressed in #723

[2018-06-05 20:56] #586 closed

[2018-06-05 20:56] Mandelliant commented on #620
addressed in #723

[2018-06-05 20:56] #620 closed

[2018-06-05 20:56] Mandelliant commented on #667
addressed in #723

[2018-06-05 20:57] Mandelliant commented on #645
addressed in #723

[2018-06-05 20:57] #645 closed

[2018-06-06 10:21] Chi112 opened #753 "Minor site issue"
Bottom of company page, below employee pictures, trusted by: icons not showing.

Chi

[2018-06-13 13:22] ungn opened #762 "Fix header id in Snowplow R88 post"
#### Problem
Link to second header at top of the page is broken on blog post due to incorrect header id.

#### Expected
`crossbatch-natural-deduplication` in `<a href="/blog/2017/04/27/snowplow-r88-angkor-wat-released#crossbatch-natural-deduplication">Cross-batch natural deduplication</a>`
[Line 16](https://github.com/snowplow/snowplowanalytics.com/blame/master/_posts/2017-04-27-snowplow-r88-angko

[2018-06-13 17:52] Mandelliant commented on #753
resolved with #755

[2018-06-13 17:52] #753 closed

[2018-06-14 14:09] Chi112 opened #764 "Fix for blog post images for scheduled social media posts"
https://snowplowanalytics.com/blog/2016/03/16/introduction-to-event-data-modeling/

https://snowplowanalytics.com/blog/2018/02/08/warehousing-google-analytics-data-api-vs-hit-level-data/

https://snowplowanalytics.com/blog/2018/03/09/how-to-manage-consent-for-gdpr-a-nuanced-approach/

https://snowplowanalytics.com/blog/2017/04/12/how-to-develop-better-games-with-level-analytics/

https://snowplowa

[2018-06-14 15:57] Mandelliant opened #765 "Blog post rendering issue"
[Loading and analysing Snowplow event data in Neo4j](https://snowplowanalytics.com/blog/2017/07/17/loading-and-analysing-snowplow-event-data-in-Neo4j/) is having an issue building (see screenshot).

<img width="1559" alt="screen shot 2018-06-14 at 11 57 13 am" src="https://user-images.githubusercontent.com/8901138/41423734-1f48432c-6fca-11e8-817a-9bc7d9463dde.png">

[2018-06-15 19:36] Mandelliant commented on #764
Addressed with PR #768

[2018-06-15 19:36] #764 closed

[2018-06-25 14:52] yalisassoon opened #774 ""Recent releases" section on blog sidebar doesn't seem to be populating..."

[2018-06-28 14:16] Mandelliant commented on #774
I hadn't noticed this - will take a quick look to see if I can learn anything.

[2018-08-22 14:17] jorgemgoncalves commented on #765
Hi @Mandelliant, can you please share the name of the branch where the post is?

[2018-08-22 14:20] Mandelliant commented on #765
Hi @jorgemgoncalves, this is an old post from 2017 - it's live on master and we don't have the original branch anymore.

This looks like the original PR: #223

[2018-08-22 15:25] Mandelliant commented on #765
@jorgemgoncalves thanks for the update!

[2018-09-03 15:27] dilyand opened #888 "Change the way `app_id` is set in the tracker initialisation tag"
In our tracker initialisation tags in GTM, we're using the following code to set the value of the `app_id` field:

[code]

It looks like we've started using additional subdomains, such as `go.snowplowanalytics.com`, so the `app_id` is now being set incorrectly for them.

[2018-09-17 13:49] Mandelliant commented on #765
@jorgemgoncalves solved this

[2018-09-17 13:49] #765 closed

[2018-09-20 09:21] alexanderdean opened #909 "Author missing on Indicative Relay release post"
https://snowplowanalytics.com/blog/2018/09/20/snowplow-indicative-relay-released/

[2018-09-20 10:42] Mandelliant commented on #909
Solved with PR #911 (lol)

[2018-09-20 10:42] #909 closed

[2018-09-24 05:46] Mandelliant commented on #774
Resolved with PR #918

[2018-09-24 05:46] #774 closed

[2018-09-24 05:47] Mandelliant commented on #709
done

[2018-09-24 05:47] #709 closed

[2018-09-24 05:47] Mandelliant commented on #724
done

[2018-09-24 05:47] #724 closed

[2018-09-24 05:47] Mandelliant commented on #702
done

[2018-09-24 05:47] #702 closed

[2018-09-24 05:47] Mandelliant commented on #701
done

[2018-09-24 05:47] #701 closed

[2018-09-24 05:48] Mandelliant commented on #685
done

[2018-09-24 05:48] #685 closed

[2018-09-24 05:48] Mandelliant commented on #684
done

[2018-09-24 05:48] #684 closed

[2018-09-24 05:48] #676 closed

[2018-09-24 05:48] Mandelliant commented on #674
done

[2018-09-24 05:48] #674 closed

[2018-09-24 05:49] Mandelliant commented on #673
done

[2018-09-24 05:49] #673 closed

[2018-09-24 05:49] Mandelliant commented on #672
done

[2018-09-24 05:49] #672 closed

[2018-09-24 05:49] Mandelliant commented on #670
done

[2018-09-24 05:49] #670 closed

[2018-09-24 05:49] #667 closed

[2018-09-24 05:49] Mandelliant commented on #642
done

[2018-09-24 05:49] #642 closed

[2018-09-24 05:51] #698 closed

[2018-09-24 05:52] Mandelliant commented on #530
done (handled in Pardot)

[2018-09-24 05:52] #530 closed

[2018-09-24 12:34] #675 closed

[2018-09-26 08:41] dmpacheco commented on #888
This was fixed in the day it was discovered. Closing.

[2018-09-26 08:41] #888 closed

[2018-10-22 10:20] knrt10 commented on #762
I would like to work on this.

[2018-10-25 14:51] palash25 commented on #200
Hey, can I work on this as a part of hacktoberfest?

[2018-10-30 03:01] ksandhu16 commented on #762
If issue isnt closed can I work on this?

[2018-10-30 04:16] knrt10 commented on #762
@ksandhu16 sorry to disappoint but Ialready made a PR for the same.

[2018-11-06 09:32] #762 closed

[2018-12-31 11:23] yalisassoon opened #1022 "VM no longer builds properly"
Starting from a fresh clone, when I try and do an initial `vagrant up` I get the following error:

[code]

[2019-01-03 09:13] yalisassoon commented on #1022
More info and some steps towards resolution can be found in: https://snowplow.zendesk.com/agent/tickets/12971

[2019-01-03 09:14] yalisassoon opened #1026 "Adopt new VM system"
The rest of the company has moved away from Ansible + Vagrant

[2019-02-05 11:04] jbeemster commented on #1022
Closing as we have now moved away from the VM approach!

[2019-02-05 11:04] #1022 closed

[2019-04-26 05:19] chuwy opened #1154 "Broken "Open source" link in footer"
Brings us to https://snowplowanalytics.com/products/open-source

[2019-04-26 10:46] franciskadfyi commented on #1154
Thank you for flagging, it has been fixed!

[2019-04-26 10:46] #1154 closed

[2019-05-26 19:17] jbeemster opened #1198 "RSS generator for atom.xml is not working"
There are two variables in there that do not seem to exist:

* site.name
* site.production_url

There could be others but the url one in particular breaks the feed entirely.  The `feed.xml` has the correct url variable but also has a nullified name.

[2019-05-27 16:39] franciskadfyi commented on #1198
Is there anything Monarqa/Marketing should do to fix this?

[2019-05-28 04:06] jbeemster commented on #1198
Its likely just a quick update to this file (https://github.com/snowplow/snowplowanalytics.com/blob/master/atom.xml) to correct the variables that do not exist.  I believe Monarqa set it up last time?

[2019-05-28 07:11] franciskadfyi commented on #1198
@jorgemgoncalves do you mind taking a look, please?

[2019-05-30 14:06] jbeemster opened #1203 "Add ability to configure redirect list from Travis"

[2019-11-07 16:42] paulboocock commented on #574
As we no longer host sp.js on cloudfront, when we put 2.12.0 on GTM we have ended up doing this.

[2019-11-07 16:42] #574 closed