[2017-03-25 12:35] yalisassoon opened #1 "Get blog page working"
The blog posts have been migrated over but we need an actual blog page to load the different post contents.

[2017-03-25 12:46] yalisassoon opened #2 "Fix top level menu underlining of currently active page"
Doesn't work currently

[2017-03-25 12:47] yalisassoon opened #3 "Make partner a top level menu item"

[2017-03-25 12:53] alexanderdean opened #4 "Fix links to Facebook/Twitter/GitHub/LinkedIn in footer"

[2017-03-25 12:54] alexanderdean opened #5 "Fix link to Privacy Policy in footer"

[2017-03-25 12:54] alexanderdean opened #6 "Fix link to Terms of Service in footer"

[2017-03-25 12:54] alexanderdean opened #7 "Rename Cases to Customers throughout site"

[2017-03-25 12:56] alexanderdean opened #8 "Fix newsletter subscription link in footer"

[2017-03-25 12:57] alexanderdean opened #9 "Add analytics incl. Snowplow Analytics tracking to site"

[2017-03-25 12:58] alexanderdean opened #10 "Snowplow Insights link in top-nav is greyed out (but clickable)"

[2017-03-25 12:59] alexanderdean opened #11 "Add missing Data Engineering Services page"
http://next.snowplowanalytics.com/services/data-engineering

[2017-03-25 13:01] alexanderdean opened #12 "Change tagline for Sauna"
Currently:

    A decisioning and response platform

Better:

    The decisioning and response platform

For parity with the other two

[2017-03-25 13:45] yalisassoon opened #13 "Fix team photos"
What's the best way of doing this Monarqa team?

[2017-03-25 14:10] yalisassoon opened #14 "Company page: additional user logos"
Currently we have the first five user logos repeated. Let's add the following five:

ABC Broadcasting
Animoto
Datadog
Shaadi
Dollar Shave Club

[2017-03-25 15:29] yalisassoon opened #15 "Rename "Cases" -> "Customers" in top level nav and footer"

[2017-03-25 20:35] yalisassoon opened #16 "Serving on website from develop seems to have an issue"
The web pages don't render the way they do locally.
Looks like a CSS issue, although the CSS files themselves seem to load fine...

![image](https://cloud.githubusercontent.com/assets/201147/24325808/0e286332-1199-11e7-875a-b9b38a84296e.png)

[2017-03-25 20:36] yalisassoon commented on #16
Could this be a caching issue? Maybe we should serve the develop site directly from s3 to save on caching issues (and caching costs?)

[2017-03-26 21:32] alexanderdean opened #17 "Dynamically highlight customers/case studies based on RT customer segmentation"
Bucket prospect using Snowplow (geo + Clearbit) and use this to "recommend" case studies... Would be a nice demo of Snowplow RT on the site.

[2017-03-26 21:34] alexanderdean commented on #7
Duplicate of #15

[2017-03-26 21:34] #7 closed

[2017-03-27 07:16] jbeemster commented on #16
Hey @yalisassoon not a cache issue as max-age=0.

The hosted S3 site also has the same issue so something has gone wrong with the latest CSS...

http://next.snowplowanalytics.com.s3-website-eu-west-1.amazonaws.com/

[2017-03-27 09:44] jbeemster commented on #16
This has been fixed and identified as a mime-type issue during the upload process.  Please re-open if any more issues like the above appear!

[2017-03-27 09:44] #16 closed

[2017-03-28 13:49] alexanderdean opened #18 "Validate Snowplow tag line in footer"
SNOWPLOW: DIGITAL ANALYTICS TECHNOLOGY. Is that a settled tag line? It feels a bit techie.

[2017-03-28 13:50] bogaert opened #19 "Replace “The best event data pipeline” in page title"

[2017-03-29 11:24] yalisassoon opened #20 "Setup redirects from some of the old web page that wont be in the new website to new pages in Discourse"
Hi Josh,

One section of the website that we'll be deprecating in the move is the documentation section:

1. Some of this will move to Discourse
2. Some of this will be junked
3. We'll then launch a new contentful powered documentation section specifically geared around Snowplow Insights and Snowplow React users

For (1) I'll want migrate the content onto Discourse and then I'll want to setup redi

[2017-03-29 14:20] petermonte commented on #2
For some reason the printing is not happening in [menuClassActive.fn](snowplowanalytics.com/_includes/fn/menuClassActive.fn).

The folder `fn` under `_includes` holds includable files with script logic. It's a way to avoid really dense logic on simple markup making it difficult to understand front-end.

[2017-03-29 14:27] #2 closed

[2017-03-29 14:33] #15 closed

[2017-03-29 16:01] dangregorio commented on #13
Right now, Idan's photo (in Linkedin) is the one that has the best quality and can be used as a reference.

Ideally, de guidelines are:
- We are aiming for a more natural, real feeling.
- Good lighting. Avoid dark spaces or high contrasts of light/shadow.
- Blurred background. Avoid the same background for all.
- Pose: Relaxed, working, spontaneous. Avoid holiday photos or photos outside the profe

[2017-03-29 21:58] petermonte commented on #4
Do we have a Facebook account?

[2017-03-29 22:17] alexanderdean commented on #4
I don't believe so - @yalisassoon ?

[2017-03-30 06:59] yalisassoon commented on #4
No...

[2017-03-30 08:44] petermonte commented on #19
Actually the entire website needs SEO attention.

[2017-03-30 08:46] petermonte commented on #4
Something to consider. In the mean time, issues closed :). Thanks for the help.

[2017-03-30 08:46] #4 closed

[2017-03-30 08:47] petermonte commented on #3
We need to consider the length of the menu. Right now the number of items are compromising the bootstrap responsive behaviour. So adding another item will require some css to get things working correctly.

[2017-03-30 14:02] petermonte commented on #12
Where exactly is this string "A decisioning and response platform"? at `pages/products/snowplow-open-source/index.html` at line [69](https://github.com/snowplow/snowplowanalytics.com/blob/develop/pages/products/snowplow-open-source/index.html#L69) you can see "THE OPEN SOURCE DECISIONING AND RESPONSE PLATFORM".

[2017-03-30 14:08] #10 closed

[2017-03-30 14:17] petermonte commented on #3
This change rases another point: Is Partners still a sub-page of Company? If so, and while living in a separated menu item, should Company menu have a sub-page Partners too?

[2017-03-30 14:17] alexanderdean commented on #12
Already fixed, closing

[2017-03-30 14:17] #12 closed

[2017-03-30 14:35] #9 closed

[2017-03-30 14:35] petermonte commented on #19
Each page must define it's own SEO meta title and meta description.

[2017-03-30 14:35] #19 closed

[2017-03-30 14:44] #8 closed

[2017-03-30 14:53] petermonte commented on #5
Is there a Terms of Service page?

[2017-03-30 15:20] #5 closed

[2017-03-30 15:23] petermonte commented on #6
@alexanderdean Is there a Terms of Service page?

[2017-03-30 15:24] alexanderdean commented on #6
Not sure - @yalisassoon ?

[2017-03-30 19:58] yalisassoon commented on #6
No - we should write one...

[2017-03-31 08:41] alexanderdean opened #21 "Implementation partners section of website is empty"
It just duplicates AWS currently.

[2017-03-31 08:43] alexanderdean opened #22 "No form for a new partner to register interest"
This is a huge missed opportunity in terms of partner funnel flow.

[2017-03-31 08:50] alexanderdean opened #23 "Italicised (?) second W in logo is super-cheesy"
Only 3% of the largest 100 brands in the US use an alternative formatting for a single letter in their logo (Max Factor, Hyatt, Dell):

https://www.rankingthebrands.com/The-Brand-Rankings.aspx?rankingID=179

I would argue that all three of these logos have made the alternative formatting of a single letter a **highly integrated** part of the brand. By comparison the italicised second W in Snowplow

[2017-03-31 09:13] alexanderdean commented on #18
Changed labels. Our tag line isn't content - it's an intrinsic part of our brand.

[2017-03-31 12:34] alexanderdean opened #24 "Where has the new Snowplow color palette been defined?"
The signature color in our new brand seems to be the purple #5b0098. There's also a green (closely associated with Snowplow Insights) and a blue (closely associated with Snowplow React). Can you clarify the full new colour scheme for Snowplow? It's unclear to me.

[2017-03-31 12:37] alexanderdean opened #25 "Split Partners into two pages"
Now that Partners is top-level, it doesn't make sense for Tech and Impl partners to be on the same page...

[2017-03-31 12:38] alexanderdean opened #26 "Customer/user logo links at bottom of Company page don't go anywhere"
http://next.snowplowanalytics.com/company/#

[2017-03-31 12:39] alexanderdean opened #27 ""Know More" links for commercial and OSS products on product page don't go anywhere"
http://next.snowplowanalytics.com/products/#

[2017-03-31 12:43] alexanderdean opened #28 "Download Comparison Whitepaper Snowplow VS dropdown doesn't work"
On the page:

http://next.snowplowanalytics.com/products/snowplow-insights/

[2017-03-31 12:57] alexanderdean opened #29 "New favicon is hard to see"
Low contrast, very thin:

<img width="1300" alt="favicon" src="https://cloud.githubusercontent.com/assets/200511/24551351/062b6e1a-161a-11e7-9382-95d6420e241a.png">

<img width="1007" alt="favicon2" src="https://cloud.githubusercontent.com/assets/200511/24551407/36b60504-161a-11e7-8107-922050a4b834.png">

[2017-03-31 16:23] alexanderdean opened #30 "Decide how much pricing information we include on the website"
There's no information about the cost of our products in any currency. Is that deliberate?

[2017-03-31 16:27] alexanderdean opened #31 "Support Contracts seem to be missing from site"
Maybe I missed them - was expecting to see them under Services...

[2017-04-01 13:33] alexanderdean commented on #3
This has been done already, changing milestone

[2017-04-02 20:16] yalisassoon commented on #28
Content for these pages is still pending (on me)

[2017-04-03 18:21] yalisassoon opened #32 "Create users page"
This would include a long list of logos of all our different users. (Similar to [this](http://snowplowanalytics.com/product/users/).)

[2017-04-03 18:29] yalisassoon opened #33 "Remove 'documentation' from the 'Resources' menu"
The plan is to:

1. Migrate useful documentation from the existing website -> Discourse
2. Remove documentation on the website

Eventually we'll then setup a new documentation section, powered by Contentful, geared towards Snowplow Insights and Snowplow React customers.

[2017-04-03 18:30] yalisassoon opened #34 "Update website with latest infographics"
Am looking forward to seeing these live!

[2017-04-04 11:11] #33 closed

[2017-04-04 11:18] #26 closed

[2017-04-04 11:19] #3 closed

[2017-04-04 11:25] yalisassoon opened #35 "Issue with footer on next.snowplowanalytics.com but not on local copy"
On my local copy the footer renders nicely:

![image](https://cloud.githubusercontent.com/assets/201147/24654475/6e027166-1942-11e7-84a9-aa53c90c06ef.png)

But on next.snowplowanalytics.com it doesn't:

![image](https://cloud.githubusercontent.com/assets/201147/24654492/8000d772-1942-11e7-9c64-981f480c1e26.png)

@jbeemster do you have any idea what's going on? Might it be another mime-file type is

[2017-04-06 12:15] jorgemgoncalves commented on #11
@yalisassoon can you please confirm that there's no need for a page for each service, or are you planning on writing content for each service?

[2017-04-06 12:39] jorgemgoncalves commented on #27
@yalisassoon each OpenSource product will have and individual page? If not where should the "Know More" buttons link to?

[2017-04-06 12:41] yalisassoon commented on #11
I think for v1 let's keep it as a single services page. We can then extend to two pages for the v1.1

[2017-04-06 12:42] yalisassoon commented on #27
The "Know More" buttons should point to the Github repos:

* https://github.com/snowplow/snowplow
* https://github.com/snowplow/iglu
* https://github.com/snowplow/sauna

[2017-04-06 12:43] jorgemgoncalves commented on #30
@yalisassoon should we include the current price table in the "Request a Demo" page?

[2017-04-06 12:49] jorgemgoncalves commented on #31
@yalisassoon should it also be in the Services page?

[2017-04-06 12:50] yalisassoon commented on #31
I've listed these as an example of a service that either "Data Engineering" or "Data Analytics Services" can provide. No dedicated page required.

[2017-04-06 12:50] #31 closed

[2017-04-06 12:57] jorgemgoncalves commented on #32
@yalisassoon Threw out the website we now have Customers, Trusted By and Users. We should stick to only one reference.

Where is this page present in the navigation?
- Top  menu: inside Customers?
- Footer: under Customers?

[2017-04-06 14:24] alexanderdean opened #36 "Replace "Know More" with "Learn More""
"Know more!" doesn't make grammatical sense as a command.

[2017-04-06 15:44] jorgemgoncalves commented on #6
@yalisassoon We've created a simple page and places the link on the footer, you just need to modify the content.

[2017-04-06 17:16] jorgemgoncalves commented on #1
The blog is already working. We are adjusting css.

@yalisassoon For **v2** we should consider defining fixed image sizes for author, full width and videos.

[2017-04-06 17:16] jorgemgoncalves commented on #20
heads-up: several blog posts also have links that need to be redirected.

[2017-04-06 18:31] alexanderdean opened #37 "Standardize on framing for avatars"
On the homepage (Eric Pantera) you are using a circle, on the [Company page](http://next.snowplowanalytics.com/company/), you are using squares.

I would think that a hexagon would be more relevant to the brand.

[2017-04-07 07:40] yalisassoon opened #38 "Add GTM container to website"
So we can enable Snowplow JS tracker!

[2017-04-07 07:41] yalisassoon commented on #38
@bogaert should this be the same container tag as we use on the current website? Or should we start fresh?

[2017-04-07 07:42] bogaert commented on #38
Depends on the timeline. I have a meeting with @dilyan on Monday to rethink our tracker setup.

[2017-04-07 08:10] jbeemster commented on #35
This seems to be an odd caching issue.  In an incognito browser I do not see this issue but in my normal browser it is showing the same as you.

I will force a CloudFront refresh and see if that fixes it.

[2017-04-07 08:37] jbeemster commented on #35
Fixed - old optimizely experiment for integration testing of the JS Tracker was at play.

[2017-04-07 08:37] #35 closed

[2017-04-07 09:11] yalisassoon opened #39 "Display blog post titles on blog post pages"
The blog looks lovely! However, the post titles aren't visible, which I think isn't great from a usability point of view or SEO (no `<h1>` tags).

Can we please add these? Thanks!

[2017-04-07 09:15] yalisassoon opened #40 "No "recent releases" listed on right hand menu of blog"
![image](https://cloud.githubusercontent.com/assets/201147/24793742/d5907b7a-1b8b-11e7-9408-398ea2abfd4e.png)

[2017-04-07 09:16] yalisassoon commented on #1
Great! Closing this issue in favour of more specific tickets e.g. https://github.com/snowplow/snowplowanalytics.com/issues/40 and https://github.com/snowplow/snowplowanalytics.com/issues/39

[2017-04-07 09:16] #1 closed

[2017-04-07 09:18] yalisassoon opened #41 "Add resources page"
Currently this doesn't exist:

![image](https://cloud.githubusercontent.com/assets/201147/24793832/294211f2-1b8c-11e7-9760-1b3cd9f57286.png)

All this needs to do is have links through to the Community (discourse) and blog.

Alternatively we could remove the page, in which case people clicking on the menu item would only open up a submenu. I don't think that that is ideal, but open to it for the v

[2017-04-07 09:19] jbeemster commented on #20
We need to add routing rules to the hosting S3 Bucket of the form:

[code]

If you can get me a list of everything that needs to be redirected I can upload the ruleset.

[2017-04-07 09:22] jbeemster opened #42 "Add 404 page"
The S3 hosting uses a page called `error.html` for all invalid paths.

cc/ @yalisassoon

[2017-04-07 10:32] dangregorio commented on #37
Different solutions for different content needs:
- Testimonials: Circles (common pratice in Ui design)
- Team members: Squares (grid)

Creating a grid with a hexagon is hard. Better leave this shape for graphic purposes only.

[2017-04-07 10:53] yalisassoon commented on #42
Yes!

[2017-04-07 10:55] yalisassoon commented on #42
Hey @jorgemgoncalves - is there a simple html page you can quickly pull together for the 404 that's on-brand? If necessary we can push a graphic treatment to a later version and launch with a purely textual page.

[2017-04-07 11:05] yalisassoon commented on #13
@bogaert - could you maybe share a folder with the different photos you took on the away week in Berlin? I think you captured most of the team then so that's a great place for us to find the first version of the photos we'll use for most of the team.

[2017-04-07 11:07] yalisassoon commented on #32
Maybe a submenu in the Customers menu called "Overview"?

[2017-04-07 11:07] yalisassoon commented on #14
Closing this in favour of https://github.com/snowplow/snowplowanalytics.com/issues/32

[2017-04-07 11:07] #14 closed

[2017-04-07 11:08] yalisassoon commented on #18
I like

[code]

but it's not something we've finalized...

[2017-04-07 11:09] yalisassoon commented on #21
Let's have this content ready for 1.1

[2017-04-07 11:09] bogaert commented on #13
Sure thing. I'll also bring my camera and tripod to the office next week to take proper portraits (like we did in New York - which is where Idan, you and I got our portraits).

[2017-04-07 11:10] bogaert commented on #13
No need to pay for a photoshoot...

[2017-04-07 11:13] yalisassoon commented on #30
I think we should indicate pricing on the product pages only. (I.e. only on the Snowplow Insights page.)

[2017-04-07 11:19] bogaert commented on #27
This should be Learn More no?

[2017-04-07 11:20] yalisassoon opened #43 "Customers section - navigation for launch"
Because at launch we'll only have two case studies (JustWatch and Simply Business) it doesn't make sense to divide case studies into ad tech vs publishing vs gaming etc.

Instead I think we just need to have:

1. An overview page (https://next.snowplowanalytics.com/customers/) with the long list of logos added
2. The Simply Business case study, which is linked through from the overview page. (And

[2017-04-07 11:26] yalisassoon opened #44 "JustWatch case studies: fix images and formatting"
The first version of the JustWatch case study can be found here: https://next.snowplowanalytics.com/customers/ad-tech/.

We need to:

#### A. Update the graphics. We could use screenshots from JustWatch, or from slides from the [JustWatch presentation at the Snowplow Meetup Berlin](http://snowplowanalytics.com/blog/2017/01/31/roundup-of-snowplow-meetup-berlin-number-three/) e.g. this from slide 8:

[2017-04-07 11:26] yalisassoon commented on #44
Let me know if I should break this ticket into multiple tickets @jorgemgoncalves (and if I should assign to someone else). Thought it would be helpful to think about the case study holistically.

[2017-04-07 11:29] yalisassoon opened #45 "Add whitepapers for Snowplow Insights comparison"
Hi @jorgemgoncalves - I sent the text for these through to you via Google Drive.

I think the next steps are:

* Format them
* Export to PDF
* Add to the website so users can download from https://next.snowplowanalytics.com/products/snowplow-insights/

Thanks!

[2017-04-07 11:29] dangregorio commented on #32
Isn't the [Customers page](https://next.snowplowanalytics.com/customers/) the overview of this section?
Wouldn't "Trusted by" be more appropriate?
It would also be more aligned to what is used in the Company page (Trusted by grid).
This way we could also rename this page to snowplowanalytics.com/trustedby

[2017-04-07 11:32] yalisassoon commented on #36
Done!

[2017-04-07 11:32] #36 closed

[2017-04-07 11:35] yalisassoon commented on #13
@dangregorio any requirements on the dimensions of the photos? Any width / height ratio we should be using if we're cropping faces out of photos?

[2017-04-07 11:56] yalisassoon commented on #32
Yes it is!

Happy to go with "Trusted by". Just so long as the menu title is "Customers"

Does that answer your questions?

[2017-04-07 11:57] yalisassoon commented on #27
Already is @bogaert

[2017-04-07 12:07] dangregorio opened #46 "Footer Behaviour / Columns"
@yalisassoon We need to redesign the footer to reduce the number of columns to match Bootstrap and to optimise the responsive behaviour.

Our suggestion is to make the first column (where the SPW logo is)  the Company column, avoiding an extra column for this.

The "About us" and "Contact Us" become links in a sentence below the logo.

Please see attached image and give us feedback.
![snowplow-foo

[2017-04-07 12:08] #27 closed

[2017-04-07 12:09] yalisassoon commented on #46
Sounds good!

[2017-04-07 12:10] yalisassoon opened #47 "Write content for Simply Business page"

[2017-04-07 12:12] yalisassoon opened #48 "Integrate demo and contact form with Salesforce"
We'll need to schedule a session with someone from Monarqa and @bogaert to explain how to get this working. (Hopefully not too difficult.)

[2017-04-07 12:12] yalisassoon commented on #48
@jorgemgoncalves let me know who from your side should speak to @bogaert and I'll introduce you via email.

[2017-04-07 12:18] dangregorio commented on #32
Yes. Thanks!
In that the case we'll do the following:
- Change the name of  "Users" page to "Trusted By", including the url /trustedby
- Add the "Trusted by" item under "Customers"

[2017-04-07 12:31] alexanderdean commented on #18
Shall we just remove the current line for now?

[2017-04-07 12:32] yalisassoon commented on #32
Great!

[2017-04-07 12:34] yalisassoon opened #49 "Categories links on blogs don't work for categories with more than one word"
When any of the links in the circle are clicked:

![image](https://cloud.githubusercontent.com/assets/201147/24800154/9b2b84fe-1ba7-11e7-8cf5-c6e780352b2d.png)

A page returns with the following error:

[code]

[2017-04-07 12:41] yalisassoon opened #50 "Can we line up buttons when we have two equivalent units next to each other?"
E.g. [here](https://next.snowplowanalytics.com/products/snowplow-open-source/):

![image](https://cloud.githubusercontent.com/assets/201147/24800276/23a6a71e-1ba8-11e7-921f-3e10568092b6.png)

It would be nice to line up the "Learn more" buttons, and

[here](https://next.snowplowanalytics.com) on the homepage:

![image](https://cloud.githubusercontent.com/assets/201147/24800328/52be5ace-1ba8-11e7-8

[2017-04-07 16:52] dangregorio commented on #23
If you remember, this logo is the result of the first tests we did for the brand when creating the new graphic language that was essential to develop the website.
We agreed to give priority to the website and leave the brand details for after.

Here you can see the evolution and the multiple versions we did at that time:
https://drive.google.com/open?id=0BwwSh8n94UreTmJnUHppeU1lSW8

Our feedback:

[2017-04-07 16:53] dangregorio commented on #24
Attached the current Snowplow palette. If needed, we can provide the colour codes.

![snowplow_brand_v6_colours](https://cloud.githubusercontent.com/assets/26771127/24810681/1296aeb6-1bbb-11e7-9e23-c12d29443488.jpg)

[2017-04-07 20:53] alexanderdean commented on #24
Thanks

[2017-04-07 21:13] alexanderdean commented on #23
Thanks @dangregorio , look forward to discussing!

[2017-04-07 21:45] alexanderdean commented on #37
If the hexagon isn't our dominant visual motif, then why are you using it for the bullet points under Services. Those hexagons don't render well at that size - they are hard to see and rather pixellated...

[2017-04-07 22:08] dangregorio commented on #37
Those are just placeholders. We are finishing creating the final icons for each bullet. Attached a preview of what we are doing.

![screen shot 2017-04-07 at 23 06 11](https://cloud.githubusercontent.com/assets/26771127/24821515/f32fb618-1be6-11e7-9f30-08b737565283.png)
![screen shot 2017-04-07 at 23 06 15](https://cloud.githubusercontent.com/assets/26771127/24821517/f3abeaa8-1be6-11e7-8e4c-727222

[2017-04-09 06:49] bogaert commented on #48
Chasing. Can we set a date and time?

[2017-04-09 06:53] bogaert commented on #13
I didn't take portraits in Berlin so that won't work. We'll be able to photograph about half the team this week. We'll take new pictures over the coming months as people visit the office.

[2017-04-10 06:11] yalisassoon opened #51 "Case studies: fix titles in submenu"
Can we please replace "Case 1" and "Case 2" with "Simply Business" and "JustWatch"?

[2017-04-10 06:12] yalisassoon opened #52 "Case Studies: add downloadable PDF for JustWatch case study."
I've [attached the current version of the long form case study](https://github.com/snowplow/snowplowanalytics.com/files/909120/JustWatch.case.study_v5.docx). note that the JustWatch team are currently reviewing this, so it is subject to change. (Though likely to be wording rather than substantive.)

Can we please:

- [x] Format the doc so it is branded appropriately
- [x] Generate PDF and add to w

[2017-04-10 06:17] yalisassoon opened #53 "Case studies: add long form version of Simply Business case study"
I've [attached the current version of the long form case study](https://github.com/snowplow/snowplowanalytics.com/files/909126/Simply.Business.case.study_v3.docx).

Can we please:

- [x] Format the doc so it is branded appropriately
- [x] Generate PDF and add to website
- [x] Update download button on case study page so that it grabs a copy of the doc

Thanks!

[Simply Business case study_v3.docx]

[2017-04-10 06:18] yalisassoon opened #54 "Finalize layout for SimplyBusiness case study page"
Not sure what the best images to use might be?

/customers/simplybusiness/

Some things we might want:

1. Picture of Stewart Duncan or Dani Sola
2. Screenshots of the Simply Business website

[2017-04-10 06:21] yalisassoon commented on #47
Done - closing

[2017-04-10 06:21] #47 closed

[2017-04-10 06:28] bogaert commented on #13
I'm adding photos to this folder: https://drive.google.com/drive/folders/0B_Ho7UyBmOJnbG1VVmhITUoxbWM

Yali, Idan and myself are first.

[2017-04-10 06:38] yalisassoon opened #55 "Finalize layout and images for JustWatch case study"
The content is done! Now we just need to finalize the images and the layout.

We might want to take screenshots from the JustWatch website and images from the [slide deck they delivered in Berlin](http://snowplowanalytics.com/blog/2017/01/31/roundup-of-snowplow-meetup-berlin-number-three/)

[2017-04-10 06:38] yalisassoon commented on #55
This might be a good image:

![image](https://cloud.githubusercontent.com/assets/201147/24848842/7846fb40-1dd1-11e7-99cf-32a774247510.png)

Taken from slide 8 of their deck

[2017-04-10 16:14] bogaert commented on #38
@dilyand will start work on this tomorrow. Could you set up the container for him, @yalisassoon?

[2017-04-10 18:00] petermonte commented on #49
Links like `resources/blog/data-modeling/`are resulting in `resources/blog/data%20modeling/` I really don't understand why the `-` character is being interpreted with a whitespace.

[2017-04-10 18:04] petermonte commented on #39
@yalisassoon I'm actually encountering an issue that I can't seem to solve on my own. I'm trying to reach the [post title](https://github.com/snowplow/snowplowanalytics.com/blob/develop/_layouts/post.html#L12) from the var `title` but it doesn't seem to print anything.

[2017-04-10 18:07] petermonte commented on #40
This implementation was actually a simple copy paste from previous site to new site. You can see that the [code](https://github.com/snowplow/snowplowanalytics.com/blob/develop/_includes/blog/sidebar.html#L4) is requesting the recent posts. Is there any configuration from old site that we are missing here?

[2017-04-11 05:38] yalisassoon commented on #40
Hey @petermonte - I don't think so because I can see that the most recent releases post can be fetched [here](https://next.snowplowanalytics.com/resources/blog/releases/). So expect we just need to see how it's done there and follow the same approach on the menu?

[2017-04-11 05:41] yalisassoon commented on #39
Looking at our [old website](https://github.com/snowplow/snowplow.github.com/blob/master/_layouts/post.html#L12-L13) maybe you need to change `title` to `page.title`?

[2017-04-11 05:55] yalisassoon commented on #49
Hi @petermonte - looking at our old code it looks like this was an issue we came across and wrote some pretty ugly code to handle: https://github.com/snowplow/snowplow.github.com/blob/master/_includes/JB/categories_list#L27.

[2017-04-11 09:32] petermonte commented on #39
Ouch @yalisassoon that makes sense. The title is actually defined on the header block therefore it is access via `page` and not `post`. Thanks

[2017-04-11 12:35] bogaert commented on #13
I photographed Giuseppe, Dilyan, Nick, and Keane. Will upload the photos later today.

[2017-04-11 17:32] petermonte commented on #49
@yalisassoon Yes I know. I copied all the JB folder knowing that it was required for that purpose. I also realise that the links needed to be changed since we now have blog under Resources.

What I don't understand is why it is not working. Could there be any configuration we are missing? Those files are like they were on previous website.

[2017-04-11 17:33] #39 closed

[2017-04-11 17:37] petermonte commented on #40
I've seen the template code and the [line](https://github.com/snowplow/snowplowanalytics.com/blob/develop/_includes/blog/sidebar.html#L4) that feeds that block is counting with a category called "Releases" - `for post in site.categories.Releases limit:10`

Now is this a Jekyll configuration that lists all recent categories or posts? Or is this a manual insertion of a category that determines if th

[2017-04-11 18:51] yalisassoon commented on #40
Manually assigning a post as a "Release" post: we do this for any post that describes a new version of any software we publish e.g. http://snowplowanalytics.com/blog/2017/04/11/snowplow-python-analytics-sdk-0.2.0-released/.

Does that answer your question? Or have I misunderstood it?

[2017-04-11 20:34] bogaert commented on #13
New photos uploaded: https://drive.google.com/drive/folders/0B_Ho7UyBmOJnbG1VVmhITUoxbWM

[2017-04-12 04:06] yalisassoon commented on #52
We have a later version of the case study - attaching here:

[JustWatch case study_v10.docx](https://github.com/snowplow/snowplowanalytics.com/files/915375/JustWatch.case.study_v10.docx)

[2017-04-12 06:32] yalisassoon commented on #48
@jorgemgoncalves @petermonte can you let us know who from your side needs to be on a call and when would be convenient? Keen to get this scheduled as it's a core piece of functionality 😄

[2017-04-12 10:20] yalisassoon commented on #13
Thanks @bogaert !

@dangregorio does that give you what you need? (At least to start?)

[2017-04-12 10:27] bogaert commented on #38
New container created, called `next.snowplowanalytics.com `. Closing.

[2017-04-12 10:27] #38 closed

[2017-04-12 10:30] dangregorio commented on #13
Yes.
We will update it online.
Thanks!

[2017-04-12 12:03] jorgemgoncalves commented on #41
We've removed the click and pointer from the Resources option on the menu, now it only opens the submenu

[2017-04-12 12:09] jorgemgoncalves commented on #34
The infographics have been uploaded to the website.

[2017-04-12 12:11] jorgemgoncalves commented on #30
@yalisassoon as discussed in yesterdays' skype (11/04) the pricing won't be placed on the website for now. Should this issue be placed in another milestone?

[2017-04-12 12:39] #6 closed

[2017-04-12 12:42] jorgemgoncalves commented on #32
The "Trusted By" page has already been created and is available at: http://next.snowplowanalytics.com/customers/trusted-by/

[2017-04-12 12:42] #32 closed

[2017-04-12 12:42] #41 closed

[2017-04-12 14:14] #51 closed

[2017-04-12 15:03] petermonte commented on #40
@yalisassoon I picked up that file form old website. Really don't understand why it is not working.

[2017-04-12 15:44] #46 closed

[2017-04-12 15:44] #34 closed

[2017-04-12 16:21] jorgemgoncalves opened #56 "Homepage - Snowplow Insights Intro"
@yalisassoon what do you think about changing the Snowplow Insights intro from:

_"For decades, across a range of sectors, many companies have used data to drive sustained competitive advantage. Digital platforms and technology create new opportunities to use data."_

to

_"Take control of your data collection. You decide what you want track. We deliver that data to you!"_

[2017-04-12 16:36] dangregorio commented on #45
@yalisassoon [Here the first comparison PDF](https://drive.google.com/open?id=0B24yFNN5aMhmMWhJU0pQVzFQVFU). Please, let me know your thoughts.
Thanks

[2017-04-12 17:46] yalisassoon commented on #56
Hey @jorgemgoncalves - which web page are you referring to? I can't see any that say

I thought we got rid of that copy a while back but let me know if I missed it and it lives on somewhere... I can't see it [here](https://next.snowplowanalytics.com/products/snowplow-insights/)?

[2017-04-12 17:53] yalisassoon commented on #45
I love it! Looks great :smile:

On Wed, Apr 12, 2017 at 7:36 PM, Daniel Gregório <notifications@github.com>
wrote:

--
Co-founder
Snowplow Analytics <http://snowplowanalytics.com/>
The Roma Building, 32-38 Scrutton Street, London EC2A 4RQ, United Kingdom
+44 7841 954 117
@yalisassoon <https://twitter.com/yalisassoon>
<https://twitter.com/yalisassoon>
Sign up to our mailing list! <http://eepurl.com

[2017-04-12 17:55] yalisassoon commented on #40
If we can't get it fixed let's remove it from the v1 and create a ticket to add it back down the line?

[2017-04-12 17:56] yalisassoon commented on #56
Sorry - I didn't read the title :-). Yes - I'm going to update the homepage content now - it definitely needs updating. (Not sure how I missed that...)

[2017-04-12 18:58] yalisassoon commented on #56
I've updated the copy now - will have a look with fresh eyes tomorrow 😄

[2017-04-12 19:01] yalisassoon commented on #49
I don't know - might an alternative be to rename the pages so that they match the URLs that are auto-generated? E.g. `resources/blog/data%20modeling/` rather than `resources/blog/data-modeling/`.

Not sure if this is bad practice from an SEO perspective?

[2017-04-13 06:34] yalisassoon opened #57 "Add additional users to users page"
* https://www.ivcbrasil.org.br/
* http://www.secretsaucepartners.com/
* http://makerist.de/
* https://www.unilever.com/
* https://codecombat.com/
* https://www.moviestarplanet.com/
* https://incrowdsports.com/
* https://simbasleep.com/

[2017-04-13 06:57] yalisassoon commented on #30
Yes - I'll rename it and put it out to another milestone - thanks @jorgemgoncalves

[2017-04-13 07:07] bogaert commented on #48
@jorgemgoncalves @petermonte who do we need to set up call with? We need to set aside time for this and the sooner we hear something the better.

[2017-04-13 08:33] bogaert commented on #45
The last page in the PDF links to www.snowplow.com, a domain which we don't own.

[2017-04-13 09:50] #56 closed

[2017-04-13 09:53] jorgemgoncalves commented on #43
@yalisassoon I believe this issues is sorted right?

[2017-04-13 10:01] jorgemgoncalves commented on #48
@yalisassoon @bogaert i would suggest monday morning? Is that good for you?

[2017-04-13 10:21] jorgemgoncalves commented on #29
We've updated the favicon. Please share your thoughts

[2017-04-13 10:25] yalisassoon commented on #48
Monday's a bank holiday in the UK @jorgemgoncalves. (I guess not in Portugal?) Would Tuesday be possible?

[2017-04-13 10:25] alexanderdean commented on #29
Love it!

[2017-04-13 10:53] jorgemgoncalves commented on #29
Great! Thanks for the feedback.

[2017-04-13 10:53] #29 closed

[2017-04-13 11:31] yalisassoon commented on #43
Sorted! Closing

[2017-04-13 11:31] #43 closed

[2017-04-13 12:21] yalisassoon opened #59 "Website requests to know my location"
That is a bit off - I suspect we have the geolocation context active in the JS tracker @dilyand ? If so please deactive.

Thanks!

[2017-04-13 13:22] dilyand commented on #59
It's turned off now @yalisassoon .

[2017-04-13 13:22] #59 closed

[2017-04-13 15:59] jbeemster opened #60 "Authors pages are not rendering correctly"
https://next.snowplowanalytics.com/resources/blog/authors/alex/

cc/ @yalisassoon

[2017-04-13 16:00] jorgemgoncalves commented on #48
Here the bank holiday is tomorrow 😂 . Tuesday, no problem! 10:30?

[2017-04-13 16:31] bogaert commented on #48
Thanks @jorgemgoncalves, I sent an invite for 10:30 on Tuesday. Have a great weekend!

[2017-04-13 16:32] jorgemgoncalves commented on #13
@yalisassoon do you want to give us an image order or should we place them randomly and you choose the sequence when placing the content?

[2017-04-13 16:35] bogaert commented on #13
Quick update on the portraits: I'll be able to take those of Alex, Diogo, and Colm next week.

[2017-04-13 16:39] jbeemster opened #61 "Discoure link missing from the bottom of blog posts"
At the bottom of all of our blog posts we have a link to discourse: http://snowplowanalytics.com/blog/2017/04/13/how-justwatch-uses-snowplow-case-study/

[2017-04-13 19:02] yalisassoon commented on #61
We do this so users can comment on posts / continue the discussion on our Discourse

[2017-04-13 19:04] yalisassoon opened #62 "Update image so we don't have Google Analytics (competitor)"
The following screenshot is from Google Analytics:

![image](https://cloud.githubusercontent.com/assets/201147/25019925/1901a83a-2095-11e7-9343-9f9711383682.png)

We should replace it - ideally with a screenshot of a BI tool on top of Snowplow data. (I can share some links.)

[2017-04-13 21:40] alexanderdean commented on #13
It would be nice to be able to layout them out dynamically-randomly at some stage, like the Stripe about page:

https://stripe.com/about

[2017-04-14 22:32] alexanderdean opened #63 "Careers section of website is missing"
(I'd like to rename it from Jobs.)

[2017-04-16 17:35] bogaert opened #64 "Data engineering misspelt as data enginnering"
The button on this page is misspelt: https://next.snowplowanalytics.com/services/

[2017-04-17 09:29] jorgemgoncalves commented on #62
@yalisassoon That would be great! Can share them here directly please?

[2017-04-18 04:10] yalisassoon commented on #63
Good point @alexanderdean!

Can we please add this in the Company section on the website?

The page can be super simple. Might be nice to put one of the photos of us all working together in Berlin on the top of it.

[2017-04-18 04:14] #64 closed

[2017-04-18 09:58] bogaert commented on #48
Following up on our conversation: we'll need separate first name and last name fields. Ping us when that's done and @dilyand will update the Javascript and Salesforce/Snowplow integration.

[2017-04-18 13:39] jorgemgoncalves commented on #48
Hi @bogaert. We've already added the required fields. Please check ir everything is ok.

[2017-04-18 13:42] jorgemgoncalves commented on #28
This issues is being followed on issue #45.

[2017-04-18 13:42] #28 closed

[2017-04-18 13:57] jorgemgoncalves commented on #50
@yalisassoon we've already lined up all the buttons.

[2017-04-18 13:57] #50 closed

[2017-04-18 14:11] colmsnowplow commented on #62
@jorgemgoncalves - See below, I have also emailed you the files. @yalisassoon let me know if these aren't what you had in mind and I'll take different ones.

![codecombat_level_dash](https://cloud.githubusercontent.com/assets/25744626/25135042/177e5172-2449-11e7-986d-9c52c720e303.jpeg)
![codecombat_level_dash_2](https://cloud.githubusercontent.com/assets/25744626/25135047/1a43dad0-2449-11e7-8286-e

[2017-04-18 14:17] bogaert commented on #62
We'll need something a lot simpler. On what pages will this asset be used?

[2017-04-18 14:24] colmsnowplow commented on #62
I think it's just to replace the one image above that happened to be a screenshot of GA.

[2017-04-18 14:26] bogaert commented on #62
That I know. But that picture is currently used on multiple pages - including the JustWatch and Simply Business case studies - so I assume it's a placeholder for something else. Do we want something that vaguely relates to JustWatch on that page? Simply Business?

[2017-04-18 14:31] colmsnowplow commented on #62
Oh I see, apologies I thought it was just one instance.

[2017-04-18 15:13] petermonte commented on #40
@yalisassoon this is fixed.

[2017-04-18 15:53] colmsnowplow commented on #62
This is a little simpler I think -is this more like what you had in mind?
![retail_looker_dash_2](https://cloud.githubusercontent.com/assets/25744626/25140241/8365e446-2457-11e7-97f7-7c6af2d9131d.jpeg)

[2017-04-18 21:33] alexanderdean opened #65 "Insecure assets are being loaded on the home page"
Getting a Connection is not Secure error on the HTTPS.

[2017-04-19 13:48] ggaviani opened #66 "Open user logos in new browser tab"
Ideally, open user logos in new browser tab.

[2017-04-19 14:22] ggaviani opened #67 "Add an industry filter to list of users"
it may be useful for visitors to filter list of users (logos) by industry so they can more easily see those relevant to them.

[2017-04-19 15:20] jorgemgoncalves commented on #13
@yalisassoon there are still missing the texts for each team member. Are you waiting for us to upload all the pictures?

[2017-04-20 07:42] bogaert commented on #13
Two more photos were added (Diogo and Colm). The last one remaining needs a haircut :)

[2017-04-20 10:31] dangregorio commented on #45
@yalisassoon Here you can check all 3 PDF.
https://drive.google.com/open?id=0B24yFNN5aMhmUFBZbEhnQ2N4NTg
Just waiting for your feedback on the logo to update it here.
Thanks,

[2017-04-20 10:33] bogaert commented on #45
We do need to replace the Google Analytics images in the whitepapers too (see #62).

[2017-04-20 10:43] dangregorio commented on #45
Yes. We have all prepared. Just waiting for the feedback on the logo do update all documents at once including that image.

[2017-04-20 12:30] ggaviani commented on #54
here is the picture of Stewart Duncan we have used for the case study:
https://drive.google.com/open?id=0BxJoshguPkc4QXljRGlDN0E5QVU

[2017-04-20 12:49] bogaert commented on #13
Do we want to keep the pictures at 235 x 235 points? If so, I'll export the photos at twice that resolution.

[2017-04-20 13:31] dangregorio commented on #13
Here you can see the photos ready to upload. Bigger and Black/White
https://drive.google.com/drive/u/1/folders/0BwwSh8n94UreVzJRdWlyQmd3VWs

[2017-04-20 14:03] ggaviani opened #68 "Typo in company page"
The following sentence under Our Mission lacks an "it".

current text:
Our tech gives companies control of their data, so they can use to drive competitive advantage.

proposed text:
Our tech gives companies control of their data, so they can use **it** to drive competitive advantage.

[2017-04-20 14:13] ggaviani opened #69 "Subject menu empty in Contact us page"
Currently it just has placeholders.

[2017-04-20 14:17] ggaviani opened #70 "Request a demo button below Contact us form does not work"
nothing happens when you click on it.

The one at the top of the page next to the menu works.

[2017-04-20 14:22] bogaert commented on #70
Closing as a duplicate of #48

[2017-04-20 14:22] #70 closed

[2017-04-20 14:23] bogaert commented on #69
Worth asking Idan what the most common questions are.

[2017-04-20 14:24] #68 closed

[2017-04-20 14:25] bogaert commented on #66
I'm not in favor of this :) give people the choice whether to open something in a tab or not.

[2017-04-20 16:01] jorgemgoncalves commented on #13
@bogaert can you please confirm how many photos are still missing?

[2017-04-20 16:04] bogaert commented on #13
- Leon
- Ihor
- Egor
- Anton
- Ben
- Rostyslav

Ed and Josh might provide updated pictures too. I'll take a new one for Alex next week.

[2017-04-20 16:05] bogaert commented on #13
Forgot to add: they are all working remotely so I won't be able to take their picture right now. Instead, they'll send us a profile picture that (hopefully) meets the criteria.

[2017-04-20 16:11] ggaviani commented on #69
I gathered from Idan that the questions we get via the Contact us page are a variety around what people can do with Snowplow.  There are no recurrent ones apparently.

Here are some ideas as to what to include in the menu items

- What can I do with Snowplow
- Professional services
- Pricing
- Partnering with Snowplow
- Support
- Other

[2017-04-20 16:19] jorgemgoncalves commented on #61
We've already placed the link and we are going to style the Author box.

[2017-04-20 16:19] #61 closed

[2017-04-20 16:20] #40 closed

[2017-04-20 16:20] jorgemgoncalves commented on #57
Additional users already placed in users page.

[2017-04-20 16:20] #57 closed

[2017-04-20 16:35] ggaviani opened #71 "Terms of service page = Privacy policy page"
should they not be different?

[2017-04-20 17:35] yalisassoon commented on #13
I tried adding the photos from @bogaert to the develop branch to see how they'd look - @jorgemgoncalves @dangregorio do please replace these with the updated versions you've put together.

We're working on the bios in parallel - we're not waiting for the photos to be done first @jorgemgoncalves .

Thanks!

[2017-04-20 17:37] yalisassoon commented on #69
Sound like a decent place to start!

[2017-04-20 17:38] yalisassoon commented on #66
Agree - closing

[2017-04-20 17:38] #66 closed

[2017-04-20 17:43] yalisassoon commented on #45
@dangregorio the design of the papers look great!

I need to make some small edits to the text e.g. 'timeline' -> 'pipeline' etc. What application were the docs created in? Can I edit them directly?

[2017-04-20 17:44] yalisassoon commented on #24
Discussion has moved on since this ticket was raised - closing

[2017-04-20 17:44] #24 closed

[2017-04-20 17:45] yalisassoon commented on #23
Discussion has happened and logo is being developed - closing this issue

[2017-04-20 17:45] #23 closed

[2017-04-20 17:52] yalisassoon commented on #71
Yup - I'm on it...

[2017-04-21 06:31] bogaert commented on #48
Thanks! We're testing the forms now.

[2017-04-21 10:48] dangregorio commented on #45
We used inDesign. I not sure if it will be easy for you to update it directly.
Later, we can convert it to a Word or keynote document but it will take some time.

Now, just open the PDF (with Acrobat Reader), add your comments and send it back to us.
Thanks,

[2017-04-21 10:49] jorgemgoncalves commented on #18
Just to close the task, the defined tagline is "Differentiate with data".

[2017-04-21 10:49] #18 closed

[2017-04-21 10:51] jorgemgoncalves commented on #69
Can we place these options on the website?

[2017-04-21 11:03] ggaviani opened #72 "Typos on Snowplow Insights page"
Section Digital data collection is hard - Engagement varies widely
Current text :
Users don't engage with email, dating services or an banking apps in the same way.

Proposed text (remove "an")
Users don't engage with email, dating services or banking apps in the same way.

Section Digital data collection is hard - Constantly evolving
Current text :
Digital products and services are constantly evo

[2017-04-21 11:21] ggaviani opened #73 "Typos on Snowplow React page"
Section Act On Your Data In Real-time - Third party APIs
Current text
Personalizing a user experience across all of them means working with multiple different APIs and protocols provides significant technical overhead.

Proposed text (see bold)
Personalizing a user experience across all of them means working with multiple different APIs and protocols, **which** provides significant technical overh

[2017-04-21 11:25] jorgemgoncalves commented on #62
@yalisassoon we've updated the images on the cases page and considering the screenshots were to complex we replaced the analytics image with a more "inspiring" one. Your thought?

[2017-04-21 11:25] jorgemgoncalves commented on #62
We are also going to place the graphic you sent below this text and image block.

[2017-04-21 11:27] ggaviani opened #74 "Add a case study to Snowplow React page"
Currently it just says "case study two" and if you click on the "see case study" button it goes to Snowplow react page. I suggest adding link to Simply Business case study.

[2017-04-21 11:31] yalisassoon commented on #69
Yes please!

[2017-04-21 12:28] bogaert opened #75 "Remove Opower from user list"
Acquired by Oracle last year - highly doubt they're still running Snowplow as opower.com redirects to oracle.com.

[2017-04-21 13:57] ggaviani opened #76 "Emphasise quote in Simply Business case study"
The following text, under Data-driven product development, is an actual quote from Stewart, but the initial quote sign (") is missing. I would add that and emphasise the text like in the other quote below (we can zoom...), so it stands out more and it separates it from the text that follows, which I don't think is a quote (the product team run...)

Pretty much everyone at Simply Business uses Snow

[2017-04-21 14:16] ggaviani opened #77 "Come up with a solution for showing blog posts that are old blog posts"
The list of blog posts is not complete: both most recent and older ones are missing.
- The latest blog post showing is dated March 3rd, but we published several others since.
- the oldest one appearing is dated January 9th (2017)

[2017-04-21 14:23] ggaviani opened #78 "Blog posts not showing images before "continue reading" button"
In the current website, blog posts typically show an image (when the post contains one) before the "continue reading" button, which is useful to engage visitors to read on. Have we decided to change the format or is this unintentional?

[2017-04-21 14:33] ggaviani opened #79 "Links to Guides and Support missing"
I am referring to links below in current website:
http://snowplowanalytics.com/guides/
https://snowplow.zendesk.com/hc/en-us/restricted?return_to=https%3A%2F%2Fsnowplow.zendesk.com%2Fhc%2Fen-us

Do we plan to include them in a following version of the new website?

[2017-04-21 14:45] jorgemgoncalves commented on #13
I've uploaded the latest photos on the website. I placed @yalisassoon 's photo on the missing ones just to check if everything worked right.

Please do me a favour, on the /img/team folder please delete all photos that aren't actual team members.

If in the meantime you receive the missing photos inform me. Thanks

[2017-04-21 14:46] ggaviani opened #80 "Button "Explore our case studies" on home page does not work properly"
When I click on it, it just refreshes the home page. It should link to the Customers page.

[2017-04-21 15:13] ggaviani opened #81 "Add "what our users say" section"
As a suggestion, I would add a "what our users say" section under the Customers page. It would include links to blog / social media posts published by Snowplow users who have mentioned Snowplow in a favourable light. Below some links to such posts that I have collected.

How to supercharge your growth with Snowplow Analytics
https://joaocorreia.io/blog/how-to-supercharge-your-growth-with-snowplow-

[2017-04-21 15:20] ggaviani commented on #81
We could also include links to posts by people who mention us favourably but are not a user (e.g. not sure Anup is a Snowplow user), so maybe we could call this section "what people say about us" or something similar.

[2017-04-21 16:02] jorgemgoncalves commented on #44
This page has been updated, please review.

[2017-04-21 16:14] jorgemgoncalves commented on #80
Thank you Guiseppe! Problem will be solved.

[2017-04-21 16:14] #80 closed

[2017-04-21 16:18] jorgemgoncalves commented on #49
I believe that this is already working?

[2017-04-21 16:21] jorgemgoncalves commented on #54
Page updated, please review

[2017-04-21 16:22] jorgemgoncalves commented on #55
We've updated this page, please review.

[2017-04-21 16:24] jorgemgoncalves commented on #63
Careers section added.

Can you share the photos so that we can add one?

[2017-04-21 16:26] jorgemgoncalves commented on #69
Done!

[2017-04-21 16:26] #69 closed

[2017-04-21 16:43] jorgemgoncalves commented on #74
Done

[2017-04-21 16:43] #74 closed

[2017-04-21 16:48] jorgemgoncalves commented on #76
This text block wasn't looking good with 3 paragraph with only 2 line sentences each.

What do you think if we gathered the first and second quotes in a single quote and place the middle paragraph first?

The product team run an ongoing A/B testing program on top of Snowplow data, driving systematic improvements to the on-site experience. In addition, they analyze data to identify and improve fric

[2017-04-21 17:02] ggaviani commented on #76
@jorgemgoncalves  yes, I can see that. I think what you suggest would look better.

@yalisassoon , what do you think?

[2017-04-23 19:13] yalisassoon commented on #63
The careers section looks good! Let's not worry about a photo at this stage - I'll create another ticket to explore this for the 1.1 release.

thanks!

[2017-04-23 19:13] #63 closed

[2017-04-23 19:28] yalisassoon opened #83 "Add photo of team working together for the careers section?"
@bogaert - are there any photos from Berlin that might be good here? If not no worries - let's just close this ticket and create a new one when we have a suitable set of pics.

Thanks!

[2017-04-23 19:29] yalisassoon commented on #62
The new images are great @jorgemgoncalves - very happy with them!

[2017-04-23 19:29] #62 closed

[2017-04-23 19:29] yalisassoon commented on #55
LOOKS AWESOME! Closing...

[2017-04-23 19:29] #55 closed

[2017-04-23 19:30] yalisassoon commented on #54
LOVE IT! Closing

[2017-04-23 19:30] #54 closed

[2017-04-23 19:32] yalisassoon commented on #49
Sadly not - the links to categories which are one word categories work, but any two or more word categories dont' work e.g. 'data modeling', 'inside the plow', 'user stories'.

Please can we either get this fixed tomorrow or remove the categories section and create a ticket to add it back pending resolution in a future release?

Thanks

[2017-04-23 19:34] yalisassoon commented on #48
Adding @bogaert and @dilyand as assignees. We're hoping to launch tomorrow - do you think you'll have an opportunity to complete the testing tomorrow?

Thanks!

[2017-04-23 19:34] yalisassoon commented on #44
Looks great! Closing

[2017-04-23 19:34] #44 closed

[2017-04-23 21:01] bogaert commented on #83
That's all we have: https://drive.google.com/drive/folders/0B_Ho7UyBmOJnNTU1bWZnTDlwbWc

[2017-04-23 21:03] bogaert commented on #48
Probably not. The schemas haven't been deployed yet.

[2017-04-23 21:29] yalisassoon commented on #13
@jorgemgoncalves - I've added initial versions of the bios. These are likely to be revised further, but should be OK to release with tomorrow.

However, we wont be able to get photos from all the team members by tomorrow. Is there an interim solution we can do (e.g. a square with the individual's initials) in the interim?

[2017-04-23 21:33] yalisassoon commented on #77
@ggaviani I've added the recent content.

@jorgemgoncalves @petermonte the current solution shows a fixed number of blog posts, with no option to view posts that are older. The current site has an 'all posts' page [here](http://snowplowanalytics.com/blog/archive/) that is linkable via a button on the bottom of the blog roll.

The new website does have a page with all the posts: https://next.snowpl

[2017-04-23 21:36] yalisassoon commented on #76
I like the idea of having it as a single quote separated into two paragraphs with a `...` between the i.e.

We could then format them so that they are completely consistent? (I.e. all italicised or not italicised).

Sound good?

[2017-04-23 21:39] yalisassoon commented on #73
Great spots / suggestions @ggaviani - have updated accordingly

[2017-04-23 21:39] #73 closed

[2017-04-23 21:42] yalisassoon commented on #72
Great spots @ggaviani - thanks! Have updated - closing

[2017-04-23 21:42] #72 closed

[2017-04-23 21:42] yalisassoon commented on #65
Hey @jorgemgoncalves @petermonte - any idea what this is?

[2017-04-23 21:45] yalisassoon commented on #42
So we have a lovely 404 page [here](https://next.snowplowanalytics.com/404/index.html). How do we ensure that any incorrect URL e.g. https://next.snowplowanalytics.com/nonsense forwards to this? Is it a Jekyll thing @petermonte, or a hosting thing @jbeemster?

[2017-04-23 21:46] yalisassoon commented on #20
Adding @ggaviani to this card - @ggaviani we'll work on this together tomorrow. (I'll brief you in the morning.)

Thanks

[2017-04-23 21:51] yalisassoon opened #84 "Fix typos in PDFs (comparison papers for Snowplow Insights and case studies) and put live on website"
Have discussed this in an email thread with @jorgemgoncalves (subject: "Small updates to PDFs")

[2017-04-23 22:05] yalisassoon opened #85 "Add igloo analytics to trusted by page"
![image](https://cloud.githubusercontent.com/assets/201147/25317859/1accfa3c-288a-11e7-94d2-5f3966daedce.png)

If this can be done for the v1 that's awesome, otherwise put back to v1.1

[2017-04-23 22:13] yalisassoon commented on #48
Adding @jbeemster to the thread - @jbeemster anyway we can get the relevant schemas deployed tomorrow? Keen to launch the new website tomorrow if possible...

Thanks!

[2017-04-23 22:14] yalisassoon commented on #83
OK - closing this issue

[2017-04-23 22:14] #83 closed

[2017-04-24 06:05] bogaert commented on #48
There's a thread open in L3 Tech Ops. Let's keep the discussion there.

[2017-04-24 06:10] jbeemster commented on #42
Right so as I mentioned above the 404 page is currently mapped to `error.html`.  So either we can move that page to the root of the project and name it `error.html` and it will work - or I can change the mapping with how the site is hosted to point at the location that has been setup.

[2017-04-24 06:11] jbeemster commented on #42
Also on the 404 page the button to Visit our Homepage actually points to the 404 page instead of the homepage.

[2017-04-24 06:19] jbeemster commented on #42
I changed the path in S3 - all working now.

[2017-04-24 06:23] jbeemster commented on #49
The links need to be hyphenated rather than percent escaped:

* Current: https://next.snowplowanalytics.com/resources/blog/inside%20the%20plow/
* Working: https://next.snowplowanalytics.com/resources/blog/inside-the-plow/

[2017-04-24 06:25] jbeemster commented on #65
Looking in the debugger console it looks like we are using collectors which do not have HTTPs support.  Seems to be coming from a Snowplow Mini by the looks of it.

[2017-04-24 07:36] jorgemgoncalves commented on #42
I've placed "Visit our Homepage" inside a button and corrected it and now points to the homepage.
I believe everything is ok for launch.

[2017-04-24 07:37] yalisassoon opened #86 "Google Analytics screenshot still on our products page /products/"
![image](https://cloud.githubusercontent.com/assets/201147/25326629/ef5c3bd0-28c8-11e7-8266-7e43b039a3cb.png)

Is there something we can replace it with today? Maybe one of the images [here](https://github.com/snowplow/snowplowanalytics.com/issues/62).

@bogaert don't know if you got the chance to take an alternative? (Take a photo of one of the dashboards on a laptop?)

[2017-04-24 07:38] yalisassoon opened #87 "Update Snowplow Insights and Snowplow React logos on /product/ to latest version"
Currently they still have the italicized 'w':

![image](https://cloud.githubusercontent.com/assets/201147/25326743/6b86737e-28c9-11e7-9a4d-7b08d43db811.png)

[2017-04-24 07:41] yalisassoon opened #88 "Can we add the 'BETA' label to the Snowplow React page please?"
The Insights page doesn't make clear the product is in beta:

![image](https://cloud.githubusercontent.com/assets/201147/25326799/9ae66520-28c9-11e7-8c49-fdddbbdabff7.png)

Unlike the /product/ page where this is made clear:

![image](https://cloud.githubusercontent.com/assets/201147/25326841/c6bdcfda-28c9-11e7-95f7-3bdb3c8f2771.png)

[2017-04-24 08:32] jorgemgoncalves commented on #88
BETA added to the header. Please review.

[2017-04-24 08:58] yalisassoon opened #89 "Make it clear on Insights page that Insights is a beta product"
The Insights page doesn't make clear the product is in beta:

![image](https://cloud.githubusercontent.com/assets/201147/25326799/9ae66520-28c9-11e7-8c49-fdddbbdabff7.png)

Unlike the /product/ page where this is made clear:

![image](https://cloud.githubusercontent.com/assets/201147/25326841/c6bdcfda-28c9-11e7-95f7-3bdb3c8f2771.png)

[2017-04-24 08:58] bogaert commented on #86
I can do this tomorrow. Don't have my camera with me today and need daylight.

[2017-04-24 08:58] yalisassoon opened #90 "Fix Giuseppe photo on Company page"
For some reason it's not rendering

[2017-04-24 08:59] yalisassoon opened #91 "Update bios with entries that people have put together for themselves"
@ggaviani please forward these to me so I can add them. (Photos + bios.)

[2017-04-24 09:06] dilyand opened #92 "Add confirmation pages for when users request a trial or send a message via the contact form"
The old site has these:

http://snowplowanalytics.com/trial/thanks/
http://snowplowanalytics.com/contact/thanks/

The new one does not seem to have the corresponding pages.

[2017-04-24 09:08] yalisassoon commented on #92
Thanks @dilyand - great spot

[2017-04-24 09:09] dilyand opened #93 "Fix button on Contact Us page"
It currently is a "Request Demo" button, but should have a more appropriate label.

[2017-04-24 09:15] ggaviani commented on #91
@yalisassoon , in the links below you will find the team bios I have collected so far (Dilyan, Ben, Keane, Diogo and me) and the team photos (Ben sent two versions).

https://drive.google.com/open?id=1KqWZYsR-5HebLlrU_-9YN7cpvpjLQp4hrhFIYh_pA38

https://drive.google.com/open?id=0BxJoshguPkc4Mkt4NlhfbTlJbXhUeWI2cXFkOTFOZC1yWFpn

https://drive.google.com/open?id=0BxJoshguPkc4VEZwQkRmV1NzMTFsM29WUEJY

[2017-04-24 09:17] yalisassoon commented on #86
OK cool - I'll move the issue to v1.1 so we're not delayed on our launch 😄

[2017-04-24 09:18] yalisassoon commented on #91
Thanks @ggaviani - can you please consolidate all the photos people have sent into a single Google drive folder and share the folder with Jorge and Daniel @ Monarqa?

[2017-04-24 09:20] jorgemgoncalves commented on #13
What do you think about using a simple profile picture placeholder like this one:

![profile-placeholder](https://cloud.githubusercontent.com/assets/26622929/25330455/a4b75024-28d7-11e7-9b27-3f6e9c379d0f.jpg)

[2017-04-24 09:21] bogaert commented on #13
That's definitely better than using Yali as a placeholder 🙃

[2017-04-24 09:26] yalisassoon opened #94 "Move /resources/blog/{{ rest of path }} to /blog/{{ rest of path }}"
Hey @jbeemster - I'm breaking down the different redirects that we need to setup. (Hoping this makes things easier to track and manage.) A lot of them can be setup within Jekyll so I've been able to action them directly myself. Hopefully that means I only need to bother you with a handful of additional ones.

One of them that I'm hoping to setup is a rule that redirects any link to:

[code]

to

[

[2017-04-24 09:33] ggaviani commented on #91
@yalisassoon , yes, it is done.

Hi @jorgemgoncalves and @dangregorio, all our team photos collected so far are in one google drive folder. here is the link:
https://drive.google.com/open?id=0B_Ho7UyBmOJnbG1VVmhITUoxbWM

As I receive photos from other team members, I'll save them to the same folder.

[2017-04-24 09:37] jorgemgoncalves commented on #13
Or we can use as Yali suggested a something like this with the initials:

![profile-placeholder-v2](https://cloud.githubusercontent.com/assets/26622929/25331182/f75553a6-28d9-11e7-8161-cd7042441a1d.jpg)

What do you prefer?

[2017-04-24 09:39] ggaviani commented on #76
It sounds good to me.

[2017-04-24 10:05] jorgemgoncalves commented on #85
Is there a website for Igloo analytics?

[2017-04-24 10:06] petermonte commented on #77
@yalisassoon

- So it seems that we're missing the button to point to the [archive](https://next.snowplowanalytics.com/resources/blog/archive/). Do you want this button under the the [blog most recent posts](https://next.snowplowanalytics.com/resources/blog/)?

- As you may understand the building of the new website never got daily updated with what is updated on the new site. So this process need

[2017-04-24 10:08] #90 closed

[2017-04-24 10:09] #88 closed

[2017-04-24 10:10] alexanderdean commented on #13
Oh that's nice! Much less anonymous

[2017-04-24 10:11] jorgemgoncalves commented on #93
Changed the text to "Send"

[2017-04-24 10:11] #93 closed

[2017-04-24 10:12] jorgemgoncalves commented on #13
Cool! So until we receive the missing pictures I'll place these last placeholder with the missing team members' initials. Thanks @alexanderdean!

[2017-04-24 10:13] alexanderdean commented on #94
I am really not a fan of putting our blog under a /resources/ sub-folder. It just reads totally wrong to me. The blog is so much more than a "resource".

[2017-04-24 10:17] petermonte commented on #65
I'm going to paste and simplify the code that we're using to load the new website assets. These assets are css and javascript files that are needed for styling and interactive logic:

in header:
[code]

The rest of the calls are done with local files like in :
[code]

For the moment I can see that in the console there is this error but it is pointing to a `https`:
`https://collector-rt-demo.snplow

[2017-04-24 10:19] alexanderdean opened #95 "Resources > Community redirects to our forums"
This is a weird bit of UX:

* It's an external link in our main site navigation
* Our forums are an *expression* of our community, but they are not *synonymous* with our community
* Another expression of our community would e.g. be all our meetup groups, https://www.meetup.com/topics/snowplow/

My recommendation:

* For launch, rename Community to "Forums" or "Discourse"
* For after launch, add a

[2017-04-24 10:41] jorgemgoncalves commented on #13
Ok, images are in place. Should we kick this issue further to milestone 1.1?

[2017-04-24 10:42] jorgemgoncalves commented on #89
Done.

[2017-04-24 10:42] #89 closed

[2017-04-24 10:47] jorgemgoncalves commented on #87
We've updated these images also.

[2017-04-24 10:47] #87 closed

[2017-04-24 11:29] jorgemgoncalves commented on #86
I've replaced the photo with another one until we don't have the final one

[2017-04-24 11:49] jorgemgoncalves commented on #52
@yalisassoon uploaded the new pdf and placed the button on the page. Please review.

[2017-04-24 11:54] jorgemgoncalves commented on #45
I've uploaded the whitepapers and updated the link. Please review

[2017-04-24 11:59] petermonte commented on #49
@yalisassoon

this issue is fixed. Please review commits [8c60fe4](https://github.com/snowplow/snowplowanalytics.com/commit/8c60fe4334e91845f04df4de7e330a754a451a65), [27f549c](https://github.com/snowplow/snowplowanalytics.com/commit/27f549c9aa6e82271f8da8c9726478111cdbb4fd) and [05bb211](https://github.com/snowplow/snowplowanalytics.com/commit/05bb21190b038e9d052fb0d0273801db3206b540)

[2017-04-24 12:00] jorgemgoncalves commented on #76
I've made the required changes on the page. What do you think?

[2017-04-24 12:06] yalisassoon commented on #95
Makes sense @alexanderdean - let's do that. @jorgemgoncalves are you OK to rename "Community" -> "Discourse".

[2017-04-24 12:07] yalisassoon opened #96 "Add a community page"
This should have links to those sites / pages that are expressions of our community including:

* Discourse
* Meetup page(s)

[2017-04-24 12:09] yalisassoon commented on #94
I know what you mean but I don't think it should be a top-level nav item - so the question becomes where should it live.

Can we launch with it in resources and then potentially move?

[2017-04-24 12:10] jorgemgoncalves commented on #84
I've updated the files and placed the path on the Insights page.

[2017-04-24 12:11] yalisassoon commented on #49
Awesome! Thanks so much @petermonte. Closing.

[2017-04-24 12:11] #49 closed

[2017-04-24 12:25] jorgemgoncalves commented on #92
@yalisassoon @dilyand hey guys! Just created the two thank you pages:

http://next.snowplowanalytics.com/company/contact-us/thank-you
http://next.snowplowanalytics.com/request-demo/thank-you

Please give me your thoughts.

[2017-04-24 12:27] dilyand opened #97 "Create notification that the websites uses cookies"

[2017-04-24 12:28] yalisassoon commented on #65
Ah - @petermonte - you're absolutely right. The Snowplow collector for our demo account doesn't an the SSL cert attached. @jbeemster is this something we can get sorted today? Otherwise I'll ask @dilyand to remove the demo from the website so as not to generate the insecure warning.

ThankS!

[2017-04-24 12:30] jorgemgoncalves commented on #95
Change done!

[2017-04-24 12:54] yalisassoon commented on #92
Looks great!

[2017-04-24 12:55] yalisassoon commented on #65
Hey @dilyand - I think the easiest thing for launch is if you remove snplow6 from the website and we re-add at a later date when @jbeemster has got the SSL cert working on the demo collector.

Sound like a plan?

[2017-04-24 12:57] yalisassoon commented on #92
Can we please update the website so that users get forwarded to these beautiful pages after filling in the forms?

Thanks!

[2017-04-24 13:03] yalisassoon commented on #85
Yes! (Sorry should have said.) https://www.iglooanalytics.com/

[2017-04-24 13:04] yalisassoon commented on #84
Hi @jorgemgoncalves - that's great! We need to update the drop down on the Insights page so that it triggers a download of the PDFs. (This doesn't seem to be working for me at the moment.)

[2017-04-24 13:08] jorgemgoncalves commented on #85
Done. I took the liberty and closed the issue.

[2017-04-24 13:08] #85 closed

[2017-04-24 13:10] yalisassoon commented on #77
Hi @petermonte - I moved over the blog posts that had been published since the development started from the old website to the new website over the weekend. I copied over each post markdown file, and the additional assets (mostly images) used in them.

Are there additional variables that need to be updated for those posts that I migrated? I think they work fine but may have missed something...

[2017-04-24 13:34] yalisassoon opened #98 "Come up with a better solution for viewing older blog posts"
Currently we have a button that points to a new version of the contents page but with all the blog content. This is a bit ugly from a UX perspective.

Two alternatives:

1. On the archive page just show a list. (So it is easier to navigate / scroll.)
2. Use some type of paging

Not sure what is fashionable these days?

[2017-04-24 13:51] yalisassoon commented on #91
Done - closing!

[2017-04-24 13:51] #91 closed

[2017-04-24 13:55] yalisassoon commented on #20
Reassigning back to @jbeemster (sorry / thanks!)

Please can we setup the following redirects:
| **FROM** | **TO** |
|:-----------|---------|
| http://snowplowanalytics.com/guides/recipes/customer-analytics/cohort-analysis.html | http://discourse.snowplowanalytics.com/t/performing-cohort-analyses-with-snowplow/1154 |
|  http://snowplowanalytics.com/guides/recipes/platform-analytics/funnel-analysis

[2017-04-24 13:57] dilyand commented on #92
@jorgemgoncalves Can you please change the text on the Contact-Us message to read: "Thank you for your message" ?

Otherwise, both are great. I'll make sure the forwarding works.

[2017-04-24 13:59] yalisassoon commented on #20
I need to add a few more - just need to jump into a meeting

[2017-04-24 14:08] jbeemster commented on #20
First set is done

[2017-04-24 14:16] dilyand commented on #92
@yalisassoon The update is waiting to be merged: https://github.com/snowplow/snowplowanalytics.com/pulls

[2017-04-24 14:43] alexanderdean commented on #95
Cool, closing, see #96 for the phase two

[2017-04-24 14:43] #95 closed

[2017-04-24 14:46] alexanderdean commented on #94
Can it be under Resources in the UX / top-level nav but still in the root from a URI perspective? That pushes the problem back... Any mistake with these redirects (or with taking the blog off a root path in general) could have a huge impact on the site's SEO performance...

[2017-04-24 14:51] yalisassoon commented on #94
No idea... @petermonte @jorgemgoncalves any idea?

I'd be surprised if it had a big impact on SEO - it's the same content. And I think there's something nice about the URL following the menu / overall information architecture.

Is setting up the redirect problematic?

[2017-04-24 14:53] yalisassoon commented on #76
Looks good! Closing

[2017-04-24 14:53] #76 closed

[2017-04-24 14:54] yalisassoon opened #102 "Add SSL cert to collector-rt.snplow.com"
So we can put our demo pipeline live! (Otherwise breaks HTTPS.)

This is not part of the v1 milestone @jbeemster so no rush to get it done.

[2017-04-24 14:57] jbeemster commented on #102
You mean: http://collector-rt-demo.snplow.com/ ?

[2017-04-24 14:58] yalisassoon commented on #53
Looks great! Closing

[2017-04-24 14:58] #53 closed

[2017-04-24 14:59] alexanderdean commented on #94
I believe the redirect would be easy to setup, but I'm not sure losing some or a lot of SEO juice is worth a slightly cleaner mapping from URI resources to UX navigation.

[2017-04-24 14:59] jbeemster commented on #102
Also @alexanderdean please share the `*.snplow.com` certificate details with me so I can action this.

[2017-04-24 14:59] yalisassoon commented on #52
Looks great! Closing

[2017-04-24 14:59] #52 closed

[2017-04-24 15:01] yalisassoon commented on #45
The papers look good - we need to update the Snowplow Insights webpage so that when you select a paper it downloads. Then I think we're done @jorgemgoncalves!

[2017-04-24 15:05] rzats opened #103 "Contributors Guide link missing"
In https://github.com/snowplow/snowplowanalytics.com/blob/develop/README.md#what-is-snowplowanalyticscom - neither a wiki nor a contributors guide exist.

[2017-04-24 15:33] dilyand commented on #92
The update has been merged. Now all we need is that slight change to the wording of the first message. It should be:

[code]

[2017-04-24 15:37] jorgemgoncalves commented on #45
The load is now functioning in the website. Please review.

[2017-04-24 15:45] rzats opened #104 "Fix header/footer inconsistencies"
![image](https://cloud.githubusercontent.com/assets/13783592/25344570/303e81d8-291b-11e7-968a-94ae98bf18d8.png)

- [ ] **_Company > Careers_ should be added to the footer** - the Careers page is currently really easy to miss.
- [ ] _Services > Data Analytics_ and _Services > Data Engineering_ should be added to the header.
- [ ] Sections should be consistently ordered (either _Services_ followed b

[2017-04-24 16:00] yalisassoon opened #105 "Update GTM container tag in Discourse"
Let's do this as soon as possible after we go live with the new site.

[2017-04-24 16:00] jorgemgoncalves commented on #84
Hi @yalisassoon this issue is already solved. The selection automatically opens a tab and presents the PDF.

[2017-04-24 16:03] yalisassoon opened #106 "Blog: Youtube videos not maintaining width restriction"

[2017-04-24 16:07] yalisassoon commented on #92
If we can change "Thank you for your message" rather than "Thank you for your message", we're good to close! Thanks

[2017-04-24 16:07] yalisassoon commented on #84
AWESOME! Closing

[2017-04-24 16:07] #84 closed

[2017-04-24 16:08] #77 closed

[2017-04-24 16:10] #45 closed

[2017-04-24 16:12] jbeemster commented on #103
Hey @yalisassoon - I created a link for the Wiki but would be good to get some content for it.  The old documentation was a bit confused on this point...

[2017-04-24 16:16] yalisassoon commented on #48
@dilyand just to confirm this all works and this issue can be closed?

[2017-04-24 16:16] jorgemgoncalves commented on #92
@yalisassoon the message was changed to "Thank you for your message".

[2017-04-24 16:22] yalisassoon commented on #20
Thanks @jbeemster - I think the list is complete now!

[2017-04-24 16:24] jorgemgoncalves commented on #106
@yalisassoon we've managed to force the videos to stay within the max-width.

[2017-04-24 16:33] dilyand commented on #48
@yalisassoon Confirmed. 

--- Sent on the move

Original Quoted context has been removed as per policy

[2017-04-24 16:51] jorgemgoncalves commented on #94
@yalisassoon we've moved blog to the root domain. It is still under Resources on the nav but URL wise it's

... /blog ...

 and not

... /resources/blog ...

[2017-04-24 17:01] yalisassoon commented on #94
Great! Closing :smile:

[2017-04-24 17:01] #94 closed

[2017-04-24 17:03] yalisassoon commented on #106
Looks good!

[2017-04-24 17:03] #106 closed

[2017-04-24 17:08] yalisassoon commented on #48
Just tested these and I don't think they're working I'm afraid. I no longer get redirected to the thank you page - I get stuck on the following:

![image](https://cloud.githubusercontent.com/assets/201147/25349160/b7ed8f82-2918-11e7-98ef-fc45ef39ffd1.png)

from the demo (URL https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8), and the following from the contact page:

![image](htt

[2017-04-24 17:10] yalisassoon commented on #48
Just confirmed and I get the above behaviour on next.snowplowanalytics.com and the website when I run it locally.

[2017-04-24 17:10] yalisassoon commented on #65
Looks like this was done so closing! Thanks @dilyand

[2017-04-24 17:10] #65 closed

[2017-04-24 18:04] #92 closed

[2017-04-24 18:10] dilyand commented on #48
@yalisassoon These were both working fine locally and on next.snowplowanalytics.com when I tested them. I'm looking for anything that may have changed in the meantime, but so far haven't found anything.

[2017-04-24 18:14] dilyand commented on #48
@yalisassoon the events are getting through into Salesforce. I just have to figure out why the redirect is not working.

[2017-04-24 18:16] yalisassoon commented on #48
Figured this out: https://github.com/snowplow/snowplowanalytics.com/commit/fced53cac2e150769efa1426c7a21fbd2f03645a

Creating a ticket so that in a future version we set this dynamically. (So on next.snowplowanalytics.com the thank you page is served from there rather than hard coded to the production site.)

[2017-04-24 18:16] #48 closed

[2017-04-24 18:17] yalisassoon opened #107 "Update JS on contact and trial form so that page that users are redirected has dynamically set URL host"
Currently it is hardcoded to https://snowplowanaltyics.com.

We should set it dynamically so that it's set to localhost / next.snowplowanalytics.com / snowplowanalytics.com depending on the environment it is running in.

[2017-04-24 18:18] #71 closed

[2017-04-24 20:58] alexanderdean commented on #94
Thanks both!

[2017-04-24 21:03] alexanderdean commented on #103
Do we really want to maintain a wiki here - do we expect many open-source contributors? We could probably just maintain a guide to fixing typos / adding blog posts to our Google Drive...

[2017-04-24 21:58] alexanderdean commented on #102
Shared!

[2017-04-25 05:05] yalisassoon commented on #103
No I don't think we do...

[2017-04-25 06:40] jbeemster commented on #103
Cool will remove it from the repo then - lets change this to needing a Google document for how to add blog posts instead then?

[2017-04-25 06:57] jbeemster commented on #20
All added!

[2017-04-25 06:57] #20 closed

[2017-04-25 08:30] bogaert opened #109 "Inconsistency in JustWatch case study"
Which is it?

[2017-04-25 08:52] chuwy opened #110 "Logo overlaps on React/Insights pages"
After stretching window up to 1700px.

![overlap-bug](https://cloud.githubusercontent.com/assets/681171/25376616/1401e7a8-29cf-11e7-922c-27787f998983.png)

[2017-04-25 09:08] dilyand opened #111 "New logo image files"
Where can I grab different versions (small, large, white, black, etc) of the new Snowplow logo?

[2017-04-25 09:54] idanby1 opened #112 "Need to change ABC logo in customer page."
https://snowplowanalytics.com/customers/trusted-by/
It is currently the American ABC and not the Australian one.

[2017-04-25 10:02] idanby1 opened #113 "Change from Snowplow pipeline to Snowplow Insights"
In https://snowplowanalytics.com/assets/pdf/Snowplow-VS-SaaS_Data_Warehouse_Providers.pdf Page 3 need to change from:

A formal approach to handling bad data. Bad data is a fact of life. The
**Snowplow pipeline** has a formal validation step: where input data is validated

To:

A formal approach to handling bad data. Bad data is a fact of life. **Snowplow Insights** has a formal validation step: w

[2017-04-25 10:04] yalisassoon commented on #111
@jorgemgoncalves can you please help here? We want to put the new logo live on discourse.snowplowanalytics.com

[2017-04-25 10:06] yalisassoon commented on #109
Thanks - have corrected

[2017-04-25 10:06] #109 closed

[2017-04-25 10:19] dilyand commented on #105
GTM container tag updated.

[2017-04-25 10:19] #105 closed

[2017-04-25 13:47] idanby1 opened #114 "Mailchimp - change snowplow logo to email template"

[2017-04-25 14:11] chuwy opened #115 "Subscribe button's height doesn't match input's height"
Only in Firefox on macOS/Linux.

![2017-04-25 21 06 41](https://cloud.githubusercontent.com/assets/681171/25389750/a378b020-29fb-11e7-993f-92faaf58bec5.png)

[2017-04-25 14:22] chuwy opened #116 "Not all author photos are shown in blog posts"
Cannot see at least @ggaviani. Seems like URL in img src is capitalized (/assets/img/team/Giuseppe.jpg) while only lower-cased exists.

![2017-04-25 21 18 19](https://cloud.githubusercontent.com/assets/681171/25390207/0b925e1c-29fd-11e7-9483-8c97806a5f90.png)

[2017-04-25 14:30] idanby1 opened #117 "Change from Snowplow pipeline to Snowplow Insights - take 2"
In https://snowplowanalytics.com/assets/pdf/Snowplow-VS-SaaS_Data_Warehouse_Providers.pdf Page 3 need to change from:

Auditable. Each stage in the **Snowplow data pipeline** is fully auditable. You
have direct access to the raw collector logs, the output of the validation,

To:
Auditable. Each stage in the **Snowplow Insights pipeline** is fully auditable. You
have direct access to the raw collec

[2017-04-25 17:37] alexanderdean opened #118 ""OUR OFFER" on homepage should be "OUR OFFERING""
Offer - an expression of readiness to do or give something if desired.

Offering - a thing offered, especially as a gift or contribution / a thing produced for entertainment or sale

[2017-04-25 21:58] alexanderdean opened #119 ""These are some of Snowplow users" on Trusted By"
Should be "Snowplow's users" or better, "our users"

[2017-04-26 07:51] yalisassoon opened #120 "Fix logo on discourse"
@jorgemgoncalves - would it be possible to get a copy of the logo for discourse.snowplowanalytics.com?

We'll ask you guys to do a full skin of this at some stage in the next few couple of months. (Still want to concentrate on the main website at the moment.)

Thanks!

[2017-04-26 07:52] yalisassoon commented on #112
Should be the one here: http://www.abc.net.au/

[2017-04-26 08:02] yalisassoon opened #121 "Replace Simon Rumble quote with another"
@ggaviani - can you please look through the different quotes we have from meetups and case studies and think of some suitable alternatives please? Then reassign the ticket to me.

Thanks!

[2017-04-26 08:02] yalisassoon opened #122 "Add redirect from www.snowplowanalytics.com to https://snowplowanalytics.com"

[2017-04-26 10:15] jorgemgoncalves commented on #111
@yalisassoon and @dilyand we'll have a logo suite ready for you in no time.

For now here is the snowplow white logo in svg and the background-color should be #9014477

[Snowplow_Website-Logo_Menu_White.svg.zip](https://github.com/snowplow/snowplowanalytics.com/files/958007/Snowplow_Website-Logo_Menu_White.svg.zip)

[2017-04-26 10:23] jbeemster commented on #122
https://simpleit.rocks/redirect-http-to-https-and-www-to-non-www-with-aws-s3-bucket-cloudfront-route-53-and-a-custom-domain/

[2017-04-26 10:32] dilyand commented on #120
FYI, Discourse only accepts .jpg, .jpeg, .png or .gif.

[2017-04-26 10:44] ggaviani commented on #121
@yalisassoon , yes, I have done that. See below the quotes I have collected! We could use all of them on our website.

"The core of our analytics pipeline is the open-source, event analytics platform Snowplow, which I believe is a game-changer in the data analytics world. The platform leverages the latest (AWS) technologies, is cost effective and has a lively community".
Dejan Petelin, Head of Dat

[2017-04-26 12:38] dilyand opened #123 "Fix logo when sharing links from site on social media or in chat clients"
Whenever a link to the website is shared on social media or in chat clients (such as HipChat), the auto-generated preview uses a version of the logo that has the final w in Snowplow slanted.

[2017-04-26 13:41] ggaviani opened #124 "Typos on white paper Snowplow VS SaaS load-your-data warehouse providers"
I have found the following typos in this pdf:

Page 2
current text: "Today the value is value of warehousing your digital event data ..."
proposed text (eliminate "is value" - repetition): "Today the value of warehousing your digital event data ..."

Page 5
current text: "Weather enrichment: identify the what the weather was like when the event occurred"
proposed text (eliminate "the" before "what

[2017-04-26 14:20] ggaviani opened #125 "Typos & changes for white paper Snowplow VS Build-Your-Own Data Pipeline"
I have found in this pdf the following typos and text I propose to change.

Page 3
Current text: WE BELIEVE THAT SNOWPLOW INSIGHTS OFFERS ALL THE BENEFITS ASSOCIATED WITH BUILDING OUR OWN EVENT DATA PIPELINE BUT WITH A NUMBER OF SIGNIFICANT ADVANTAGES
Proposed text (see bold - I would refer to the pipeline as yours, not ours, as it refers to the user's): WE BELIEVE THAT SNOWPLOW INSIGHTS OFFERS AL

[2017-04-26 14:59] ggaviani opened #126 "Small text changes for Simply Business case study"
I would make the following text changes in the pdf:

Page 8
Current text: A/B TEST UPDATES TO PRODUCTS TO ENABLE SYSTEMATIC, DATA-DRIVEN IMPROVEMENTS IN THE USER EXPERIENCE
Proposed text (see bold - I think testing sounds better in this heading): A/B **TESTING** UPDATES TO PRODUCTS TO ENABLE SYSTEMATIC, DATA-DRIVEN IMPROVEMENTS IN THE USER EXPERIENCE

Page 11
Current text: See the presentation sli

[2017-04-26 15:26] ggaviani opened #127 "Small text change on JustWatch case study page"
I would suggest making the following text change on the JustWatch page (https://snowplowanalytics.com/customers/justwatch/)

Current text: JustWatch is growing rapidly in currently 23 countries, adding more than 2 million new user profiles per month
Proposed text (see bold ): JustWatch is growing rapidly in currently **25** countries, adding more than 2 million new user profiles per month

Note: s

[2017-04-26 17:36] #110 closed

[2017-04-26 17:46] jorgemgoncalves commented on #120
Please check if this works.

![snowplow_website-logo_menu_white](https://cloud.githubusercontent.com/assets/26622929/25448502/919967a4-2ab0-11e7-9359-f8771439bc62.png)

[2017-04-26 17:50] jbeemster opened #128 "Back to jobs page directs to /careers not /company/careers"
The Back to jobs page button needs to be updated as it currently sends you to a 404 page.

https://snowplowanalytics.com/company/careers/data-engineer/

[2017-04-27 07:48] dilyand commented on #120
Done.

[2017-04-27 07:48] #120 closed

[2017-04-27 07:48] #111 closed

[2017-04-27 08:37] yalisassoon opened #129 "Create guidelines for images and videos on blog"

[2017-04-27 09:00] ggaviani opened #130 "Some blog posts do not show the author..."
...neither in the summarised version of the post, nor in the full post.

examples:
https://snowplowanalytics.com/blog/2017/04/03/snowplow-analytics-gets-nod-at-measurecamp-london/

https://snowplowanalytics.com/blog/2017/04/12/how-to-develop-better-games-with-level-analytics/

https://snowplowanalytics.com/blog/2017/03/30/google-cloud-dataflow-example-project-released/

[2017-04-27 10:41] ungn commented on #130
Changes to authors.yml made in the old repo were not migrated to the new one when new joiners started contributing. Copying over all changes in old repo (and adding myself) which should fix this. Likewise with the /pages/blog/authors dir.

We probably want to do a diff between the repos at some point to ensure everything has been migrated over.

[2017-04-27 11:07] #130 closed

[2017-04-27 11:07] yalisassoon commented on #129
@jorgemgoncalves what should those guidelines be?

[2017-04-27 11:09] #128 closed

[2017-04-27 11:11] #127 closed

[2017-04-27 11:13] yalisassoon commented on #126
Hi @jorgemgoncalves - assigning this to you at the moment.

I'm keen though that we get to the point that we can make tweaks to the case study docs, either by using InDesign or getting the doc in another format. What do you suggest?

[2017-04-27 11:15] yalisassoon commented on #123
@jorgemgoncalves I expect this is to do with one of the metatags on the page template?

[2017-04-27 11:20] yalisassoon commented on #121
Hi @jorgemgoncalves - can we please update the quote with the one from Martin Johansson, Managing Director, Hipper.com

You can find his photo [here](https://www.linkedin.com/in/martin-johansson-a8b91417/?ppe=1)

Thanks!

[2017-04-27 11:22] #119 closed

[2017-04-27 11:23] yalisassoon commented on #118
Thanks! Done

[2017-04-27 11:23] #118 closed

[2017-04-27 11:28] yalisassoon commented on #116
Thanks - done!

[2017-04-27 11:28] #116 closed

[2017-04-27 11:29] yalisassoon commented on #114
Hey @idanby1 - please send this request to @ggaviani  - it relates to the email newsletter not the website.

[2017-04-27 11:29] #114 closed

[2017-04-27 11:31] yalisassoon commented on #79
No

[2017-04-27 11:31] #79 closed

[2017-04-27 11:31] yalisassoon commented on #78
This is deliberate until we've finalized a consistent approach to sizing images, so that the blog roll looks good I believe. @jorgemgoncalves is that right?

[2017-04-27 11:33] yalisassoon commented on #75
Removed

[2017-04-27 11:36] yalisassoon opened #131 "Add to users list"
Carbonite (https://www.carbonite.com/)
Space Ape Games (https://www.carbonite.com/)
Blue Apron (https://www.blueapron.com/)

[2017-04-27 11:37] yalisassoon commented on #60
Believe this is fixed now: https://next.snowplowanalytics.com/blog/authors/alex/.
Closing!

[2017-04-27 11:37] #60 closed

[2017-04-27 11:38] yalisassoon commented on #81
I love this idea!

As a start - can you create this as a Discourse post please?

[2017-04-27 12:20] ggaviani commented on #13
As an update to this thread, Leon and Egor have provided their photos, which I have saved in the folder below.

https://drive.google.com/drive/folders/0B_Ho7UyBmOJnbG1VVmhITUoxbWM

Egor does not have a high quality portrait photo. If the one he provided does not meet our standards, he can have another one taken.

[2017-04-27 12:56] ggaviani commented on #81
Excellent, I have just done that!

[2017-04-27 13:28] yalisassoon commented on #81
That's cool Giuseppe. My idea was more that you prototyped the page on
discourse - so instead of saying "We're going to publish a page on our
website" (which isn't that interesting for our users) you'd say "What our
users say" in discourse. Something like:

Hey Community! We're collecting blog posts written by Snowplow users about

Does that make sense?

On Thu, Apr 27, 2017 at 1:56 PM, ggaviani <

[2017-04-27 14:12] ggaviani commented on #81
I see, OK. I have changed my Discourse post accordingly.

[2017-04-27 15:00] jorgemgoncalves commented on #112
I've replaced the existing logo with the correct one.

[2017-04-27 15:21] jorgemgoncalves commented on #123
@dilyand Thank you very much for noticing! This passed right through our radars! Image replaced.

[2017-04-27 16:06] jorgemgoncalves commented on #121
@yalisassoon if we replace Simon's testimonial with Martin's we'll continue to have only 2 testimonials.

You can choose on another testimonial so that we have several scattered on the site?

[2017-04-27 16:13] jorgemgoncalves commented on #115
@chuwy Thank you very much for the warning! Problem solution committed in the develop branch.

[2017-04-27 17:50] dmpacheco commented on #42
@yalisassoon Should the 404 say "Woops! Request a demo."?

[2017-04-27 18:04] alexanderdean opened #134 "TRUSTED BY (Some of) our users"
I love the "TRUSTED BY", I love the friendly/jokey "(Some of) our users", but when you read them together it's quite an alarming statement:

    TRUSTED BY
    (Some of) our users

[2017-04-28 00:08] alexanderdean opened #135 "Develop a better approach for text heavy pages e.g. the blog and terms of service"
Here's a new blog post that we've just put out:

https://snowplowanalytics.com/blog/2017/04/27/snowplow-r88-angkor-wat-released/

The readability of this is really low on a 15" MBP (Firefox). It's painful having to read end to end of the blog post - the font is too large, there is too much horizontal whitespace, the code excerpts jump out a lot, bolding looks terrible, the amounts of vertical whit

[2017-04-28 02:56] chuwy opened #136 "Resources in footer is broken link"

[2017-04-28 05:57] yalisassoon commented on #121
Great! Let's add a few more then 😄

Let's add the one from Rob Kingson. His photo can be found [here](https://www.linkedin.com/in/robertkingston/).

Robert Kingston, Director, MintMetrics.IO

Let's add the one from Thomas @ Peak (we have a photo of him already on our blog and one from Dejan @ Gousto:

Dejan Petelin, Head of Data Science, Gousto

You can find a photo of him [here](https://www.linke

[2017-04-28 08:36] dmpacheco opened #137 "Blogpost stuck on redirect"
The blog post [introduction-to-event-data-modeling](https://snowplowanalytics.com/blog/2016/03/16/introduction-to-event-data-modeling/) is stuck in a loop trying to redirect the page. Clicking also does not redirect.

[2017-04-28 10:45] jorgemgoncalves commented on #42
@dmpacheco Woops! I've committed this correction just now. Obrigado.

[2017-04-28 14:18] yalisassoon opened #138 "Make "Trusted by" box on homepage smaller"
There is a lot of white space above and below the user logos.

This means that on a normal sized monitor, you can't see any logos when you initially load the homepage, because they are below the fold.

This is unnecessary as by removing the white space you would be able to see those logos.

[2017-04-28 14:21] yalisassoon opened #139 "Update logos on homepage"
Let's pick the most readily recognised brands:

* Nordstrom
* Economist (they needed to be added to the Trusted by page as well)
* Datadog
* Weebly
* ABC

[2017-04-28 14:56] #115 closed

[2017-04-28 18:34] #112 closed

[2017-04-30 22:10] yalisassoon commented on #134
Whoops! Actioned... (Removed the TRUSTED BY)

[2017-04-30 22:10] #134 closed

[2017-05-02 08:55] dmpacheco commented on #42
@jorgemgoncalves Is that commit still pending? Seems that the error is still on both live version and develop. Obrigado!

[2017-05-02 10:20] ggaviani opened #142 "Blog posts do not show date when shown in full"
They do show date only when shown in summary format in the list of blog posts

[2017-05-02 12:41] yalisassoon commented on #42
Reopening pending confirmation from @jorgemgoncalves

[2017-05-02 13:42] jorgemgoncalves commented on #42
@yalisassoon I hadn't pushed the commit. It is now corrected in the Develop branch.

[2017-05-02 13:54] jorgemgoncalves commented on #13
@ggaviani these last added photos of Ben, Egor and Leon don't meet the standards. We would also like to know if the photos of Alex, Josh and Ed are final?

[2017-05-02 14:21] bogaert commented on #13
They're final for now. We'll take proper photos at the end of June when we all meet in person again.

[2017-05-02 14:27] jorgemgoncalves commented on #121
@yalisassoon I've added Rob's and Dejan testimonial to the website's Data folder but Dejan LinkedIn photo isn't good enough to publish online and so I've only placed Rob's testimonial in one of the pages.

[2017-05-02 14:51] bogaert opened #143 "Contact form mistakenly used for support"
We had an existing customer send in a message via the contact us form. It should have been sent to support@ instead.

We need to somehow make it clear that the contact form is not for support.

[2017-05-02 14:54] jorgemgoncalves commented on #138
@yalisassoon I've removed as much white space as possible. These logos were created in a square to make it easier for them to respect the same size and position.

Please share your thoughts.

[2017-05-02 15:11] jorgemgoncalves commented on #113
PDF corrections placed online in the develop branch. Please review.

[2017-05-02 15:12] jorgemgoncalves commented on #117
PDF corrections placed online in the develop branch. Please review.

[2017-05-02 15:12] jorgemgoncalves commented on #124
PDF corrections placed online in the develop branch. Please review.

[2017-05-02 15:12] jorgemgoncalves commented on #125
PDF corrections placed online in the develop branch. Please review.

[2017-05-02 15:12] jorgemgoncalves commented on #126
PDF corrections placed online in the develop branch. Please review.

[2017-05-02 15:22] jorgemgoncalves commented on #139
@yalisassoon are your referring to http://www.economist.com/? The website seems to be down.

[2017-05-02 16:17] jorgemgoncalves commented on #131
Space Ape was already on the list and I added the other 2.

[2017-05-02 16:22] jorgemgoncalves commented on #139
I've updated all the Trusted by on the Homepage except the Economist. Waiting for your confirmation regarding the Economist.

[2017-05-03 08:26] ggaviani commented on #125
Thanks @jorgemgoncalves . However one of the typos is still there. see below.

Current text: "How do you evolve your data pipeline with your business as it
changes? H ow do you ensure your analytics stack keeps up with your
business?"
Action: Eliminate space between H and ow

[2017-05-03 09:38] jorgemgoncalves commented on #125
@ggaviani I've just uploaded a new version of the PDF to the develop branch. I checked it personally.

[2017-05-03 10:33] idanby1 opened #144 "Suggestion - Change white papers drop down"
In the insight page https://snowplowanalytics.com/products/snowplow-insights/
there is a drop down button for the different white papers.

In my view, this section can easily be missed. This is important content and needs to have a more central place for easy discovery.

[2017-05-03 14:35] alexanderdean opened #146 "TPM Data Engineering job not loading on site"
https://next.snowplowanalytics.com/company/careers/technical-product-manager-data-engineering/

[2017-05-03 15:03] alexanderdean commented on #146
@yalisassoon any thoughts on this one?

[2017-05-04 06:56] jbeemster commented on #102
This has been done - can be re-added to the website now.

[2017-05-04 07:03] bogaert commented on #102
Done. Closing.

[2017-05-04 07:03] #102 closed

[2017-05-04 14:32] yalisassoon commented on #124
Hey @jbeemster - the folks at Monarqa have updated the PDF. However, whenever I try and redownload it I get the old version.

I've double checked and it's the new version that is in the repo.

Is their a cache invalidation step that we need to take and have missed? (Maybe because it is a PDF?)

Thanks!

[2017-05-04 14:33] jbeemster commented on #124
How long ago did you upload it before attempting to re-download?  The invalidation can take a bit of time to finish.

[2017-05-04 16:31] ggaviani commented on #125
thanks @jorgemgoncalves , it looks good.

[2017-05-04 17:38] alexanderdean commented on #146
@jbeemster - any idea on this - some kind of caching issue?

[2017-05-04 18:28] alexanderdean opened #147 "Add Snowplow Insights > Enrichments showcase"
One of the most distinctive features of Snowplow is our ability to enrich the event stream with a variety of external data sources in real-time.

At the moment the "showcase" for this capability is this page:

https://github.com/snowplow/snowplow/wiki/Configurable-enrichments

I would love to have a page on the website within the Snowplow Insights section that showcases all of the enrichments that

[2017-05-04 18:33] alexanderdean opened #148 "Add Snowplow Insights > Sources directory"
I think there's probably an opportunity to start this with a single (long-form) page, but we need to crack on with a public directory of all the sources we support.

Here's the Segment directory for inspiration:

https://segment.com/catalog#sources/all

[2017-05-04 20:06] yalisassoon commented on #146
Fixed! https://github.com/snowplow/snowplowanalytics.com/commit/0dc1b2d61d2b1d5606e4b9e422e025a000cc246e

[2017-05-04 20:06] #146 closed

[2017-05-04 20:10] alexanderdean commented on #146
:doughnut: Thanks!

[2017-05-05 06:40] bogaert opened #149 "Link to office manager posting broken"
https://snowplowanalytics.com/company/careers/office-manager/

[2017-05-05 06:41] bogaert opened #150 "Office manager and event marketing executive roles mixed"
https://snowplowanalytics.com/company/careers/event-marketing-executive/

[2017-05-05 09:56] yalisassoon commented on #150
Thanks for flagging @bogaert - have fixed

[2017-05-05 09:56] #150 closed

[2017-05-05 09:56] yalisassoon commented on #149
Thanks for flagging - fixed

[2017-05-05 09:56] #149 closed

[2017-05-05 09:59] yalisassoon commented on #139
The Economist is here: http://www.economist.com/. Looks like they have some website issues...

[2017-05-05 10:00] yalisassoon commented on #138
Looks great! Closing

[2017-05-05 10:00] #138 closed

[2017-05-05 10:05] yalisassoon commented on #136
That's because it shouldn't be a link at all. Assigning to @jorgemgoncalves

[2017-05-05 10:08] yalisassoon commented on #135
This feels like part of a larger issue with very text heavy pages e.g. the [Terms of Service](https://snowplowanalytics.com/terms-of-service/).

Renaming the ticket accordingly.

I think there are a few elements that we need to think about:

1. Font size, especially headings
2. White space around images
3. Use of width
4. Formatting of code excerpts

[2017-05-05 10:11] alexanderdean opened #151 "Review and tweak the front-end engineer spec"

[2017-05-05 10:11] alexanderdean commented on #151
Thanks both!

[2017-05-05 10:18] yalisassoon commented on #135
Hi @jorgemgoncalves - this is out of scope of the current commissioned work - I"ll email you and Daniel on this and a number of other tickets I'd like you to quote for.

[2017-05-05 10:19] #125 closed

[2017-05-05 10:19] #121 closed

[2017-05-05 10:21] #126 closed

[2017-05-05 10:21] #123 closed

[2017-05-05 10:22] yalisassoon commented on #113
Sorry @jorgemgoncalves - this needs another update. It is currently

It should be

(We need to drop the "The".)

[2017-05-05 10:26] yalisassoon commented on #124
Days ago...

[2017-05-05 10:27] #117 closed

[2017-05-05 10:28] yalisassoon opened #152 "Provide powerpoint / Keynote templates"

[2017-05-05 10:28] yalisassoon opened #153 "Provide branding guide"

[2017-05-05 10:30] yalisassoon opened #154 "Provide folder of assets"
Will include logo in multiple format / file types, fonts, colours, images, graphics and other brand elements.

[2017-05-05 10:30] yalisassoon opened #155 "Provide design of business cards and letter heads"

[2017-05-05 10:33] yalisassoon commented on #122
Hey @jbeemster - is this something we can get scheduled please? Thanks!

[2017-05-05 10:34] #131 closed

[2017-05-05 10:37] #13 closed

[2017-05-05 10:38] #86 closed

[2017-05-05 10:40] #78 closed

[2017-05-05 10:46] yalisassoon opened #156 "Provide Keynote versions of PDFs"
3 x docs for Snowplow Insights vs ...
2 x case studies (JustWatch and Simply Business)

[2017-05-05 11:01] yalisassoon commented on #124
Actually I think I was mistaken. Looking at the PDFs in the repo it looks like the update to the PDF wasn't made. Reassigning to @jorgemgoncalves to take another look - @jorgemgoncalves we still have

Rather than

on page 2 of the PDF...

[2017-05-05 11:31] alexanderdean commented on #135
Agree, I started noticing it on other longform pages too...

[2017-05-05 11:59] alexanderdean commented on #122
+1

[2017-05-05 19:18] yalisassoon opened #157 "Add General Assembly to users list"

[2017-05-08 11:13] jorgemgoncalves commented on #104
I've done all the required changes to the navigator and footer. Please review.

[2017-05-08 11:32] jorgemgoncalves commented on #124
My bad! I've had placed the new PDF with a wrong filename 😅 ...everything is correct now. Sorry...

[2017-05-08 13:12] jorgemgoncalves commented on #136
I've removed the link. Please review.

[2017-05-08 13:56] jorgemgoncalves commented on #139
I've placed the Economist logo on the homepage and Trusted by.

[2017-05-08 14:43] yalisassoon commented on #124
Looks great! Thanks

[2017-05-08 14:43] #124 closed

[2017-05-08 14:45] yalisassoon commented on #113
@jorgemgoncalves - this still appears to be an issue (see the sentence starts with "The":

![image](https://cloud.githubusercontent.com/assets/201147/25809588/5c6d79cc-3405-11e7-8ddf-507996a97c41.png)

[2017-05-08 14:47] yalisassoon commented on #104
Thanks @jorgemgoncalves - that looks good but we still don't have a link to our careers section in the footer. That makes it a lot harder for people to find...

[2017-05-08 14:49] yalisassoon commented on #136
Thanks! Closing

[2017-05-08 14:49] #136 closed

[2017-05-08 14:49] yalisassoon commented on #139
Thanks! Closing

[2017-05-08 14:49] #139 closed

[2017-05-08 14:51] jorgemgoncalves commented on #113
@yalisassoon We've corrected and update the file. Please confirm.

[2017-05-08 15:04] jorgemgoncalves commented on #104
@yalisassoon actually I added the link in the footer on the written part on the left.

The issue we came across when we created the footer was due to bootstraps column system and distributing the newsletter subscription plus 5 columns were leaving very little space between items.

If you think this doesn't solve the situation we can try to take a look at it again.

[2017-05-09 20:29] yalisassoon commented on #113
Looks great! Thanks

[2017-05-09 20:29] #113 closed

[2017-05-09 20:30] yalisassoon commented on #104
That works for the moment - closing!

[2017-05-09 20:30] #104 closed

[2017-05-11 09:44] bogaert opened #161 "Change title on homepage"
The title on the homepage is still "Snowplow - The event data pipeline".

[2017-05-11 13:18] jorgemgoncalves opened #162 "www. not working"
When we try to access your website using www.snowplowanalytics.com we got to an ERR_NAME_NOT_RESOLVED page.

[2017-05-11 13:20] jorgemgoncalves commented on #162
Sorry...there's already an issue for this (#122)

[2017-05-11 13:20] #162 closed

[2017-05-11 19:14] yalisassoon opened #164 "1.x Add Viewbix case study"
Content can be found [here](https://docs.google.com/a/snowplowanalytics.com/document/d/198T3yepTsN_WgAy4hnfuDGe5iSpf-Ztm3fLAp1ixV84/edit?usp=sharing).

Note that this has been shared with @jorgemgoncalves  - let us know if you want it shared with anyone else!

[2017-05-11 19:18] yalisassoon opened #165 "Add Peak case study"
Content can be found [here](https://drive.google.com/a/snowplowanalytics.com/file/d/0B6DwymRX2qNyb2Q2QjZCdXl4ODQ/view?usp=sharing)

[2017-05-14 09:19] bogaert opened #166 "Add metadata and assets for rich previews on Linkedin and Twitter"
Last week, I linked to one of the case studies on Linkedin. This is how it was displayed:

<img width="573" alt="screen shot 2017-05-14 at 07 25 31" src="https://cloud.githubusercontent.com/assets/1975872/26032532/bcdfa92e-388d-11e7-8406-7b090f487bb4.png">

The logo is low quality with compression artifacts.

The default preview should be a high-quality logo that has both the name and hexagonal lo

[2017-05-15 10:51] yalisassoon commented on #157
https://www.aceable.com/

[2017-05-15 11:42] BenFradet opened #167 "Relative links in blog posts are off"
If I take [the factotum server blogpost](https://snowplowanalytics.com/blog/2017/04/28/introducing-factotum-server/) and click on [Why Factotum Server?](https://snowplowanalytics.com/blog/2017/04/28/introducing-factotum-server/), it scrolls a bit too far to:

![2017-05-15-12 40 21_1920x1080_scrot](https://cloud.githubusercontent.com/assets/1737211/26056084/b137a818-396b-11e7-80c3-3844f7443e64.png)

[2017-05-16 15:14] yalisassoon commented on #144
@jorgemgoncalves - is there something we can do visually to make downloading the case studies a stronger call to action?

[2017-05-16 15:14] yalisassoon commented on #137
Fixed!

[2017-05-16 15:14] #137 closed

[2017-05-16 15:20] yalisassoon commented on #155
Waiting on template to be setup in our Moo account and then will mark this as closed

[2017-05-16 15:21] #153 closed

[2017-05-16 15:52] jorgemgoncalves commented on #165
@yalisassoon I've posted the PEAK case study to the develop branch accessible at http://next.snowplowanalytics.com/customers/peak. I've already placed the content from the powerpoint on some os the existing block but Hugo is still taking care of the images. Please give me your thoughts.

[2017-05-16 16:10] jorgemgoncalves commented on #154
@yalisassoon Daniel informed me that the folder of assets was already shared with you via Google Drive.

Can you please confirm that you received it?

[2017-05-16 20:08] yalisassoon opened #169 "Add AEG presents to users list"
https://www.aegpresents.com/

[2017-05-16 20:14] yalisassoon commented on #154
Received! Thanks

[2017-05-16 20:14] #154 closed

[2017-05-16 20:41] yalisassoon commented on #165
Hey @jorgemgoncalves - I can't see the case study there? Are you sure you pushed to origin?

[2017-05-17 09:54] jorgemgoncalves commented on #144
@yalisassoon I'm going to discuss this internally with Hugo and will get back to you with some solutions.

[2017-05-17 10:18] jorgemgoncalves commented on #165
Sorry @yalisassoon i hadn't pushed it. It's there now

[2017-05-18 10:55] jorgemgoncalves commented on #164
Hi @yalisassoon i've replicated Justwatch page for Viewbix. You can place the contents as you wish and afterwords we'll do our magic.

[2017-05-19 13:25] yalisassoon opened #170 "Integrate greenhouse.io with our website for the careers section"
This means that we would:

1. Generate all our careers content (i.e. job posts) directly in Greenhouse.io
2. The careers page would be dynamically updated based on the latest job offerings
3. The content on the individual jobs pages would be served from Greenhouse
4. The pages would be properly branded

[2017-05-19 13:26] yalisassoon opened #171 "Skin our discourse community forum"
This is available on discourse.snowplowanaytics.com

[2017-05-22 09:23] jorgemgoncalves opened #172 "Logo on Social Networks"
Just to warn you that the logo you are using in Social Networks isn't the latest version.

[2017-05-22 13:21] yalisassoon commented on #172
Thanks for flagging @jorgemgoncalves ! Are there specific social networks you have in mind? (I thought we'd updated our LinkedIn and Twitter.) Can you ping me a list please?

[2017-05-22 14:09] jorgemgoncalves commented on #172
The one's that appear first on Google are:

- Github
- Meetup
- CrunchBase
- Funderbeam

But we also found it scattered all over the internet but it will be complicated to update, some examples:

- https://www.observepoint.com/tag-database/snowplow-analytics/
- https://aws.amazon.com/solutions/case-studies/snowplow/
- https://redash.io/integrations/snowplow

[2017-05-23 10:30] jorgemgoncalves commented on #157
@yalisassoon I've added General Assembly to the users' list. Do you want me to add Aceable as well?

[2017-05-23 10:31] jorgemgoncalves commented on #169
@yalisassoon I've added AEG Presents to the users' list.

[2017-05-23 11:46] yalisassoon commented on #157
We've already got Aceable on the list!

[2017-05-23 11:46] #157 closed

[2017-05-23 11:46] yalisassoon commented on #169
Awesome! Thanks @jorgemgoncalves

[2017-05-23 11:46] #169 closed

[2017-05-23 14:46] jorgemgoncalves commented on #144
Hi, guys! We've come up with these alternatives for the drop down button:

https://drive.google.com/file/d/0BwwSh8n94UreLXFVUGZOa2FwUXM/view?usp=sharing
https://drive.google.com/file/d/0BwwSh8n94UreWk13djI3ZUVmSGc/view?usp=sharing
https://drive.google.com/file/d/0BwwSh8n94Ured0htUWJDZ3V2VTQ/view?usp=sharing
https://drive.google.com/file/d/0BwwSh8n94UreNnlqUkJPc1haSDQ/view?usp=sharing

In my opinio

[2017-05-23 14:58] jorgemgoncalves commented on #135
Hi guys, we have revised this issue and made some changes on the blog posts on http://next.snowplowanalytics.com.

Can please have a look and check if readability has improved?

If so we'll apply it to other heavy text pages (privacy policy, terms and conditions, careers).

[2017-05-23 15:16] alexanderdean commented on #135
Better! It still feels like there is a lot of whitespace *below* each heading though...

[2017-05-23 18:19] alexanderdean commented on #135
<img width="793" alt="image" src="https://cloud.githubusercontent.com/assets/200511/26369450/9d60a092-3fec-11e7-8f1a-d242b353ada4.png">

* The bold also stands out as much much bolder than the normal text
* There needs to be a bit more vertical spacing between lines of code

[2017-05-24 10:16] jorgemgoncalves commented on #152
@yalisassoon Daniel already shared the final documents with you?

[2017-05-24 10:16] jorgemgoncalves commented on #156
@yalisassoon Daniel already shared the final documents with you?

[2017-05-24 10:31] ggaviani opened #174 "Fix link to JustWatch pdf in blog post (404 error)"
The link in the JustWatch blog post to the case study pdf is broken.

https://snowplowanalytics.com/assets/pdf/justwatch-case-study.pdf

It is an opportunity to replace it with the pdf in the new layout.

For tracking purposes, it is better to give the pdf a different name from the one on the web page e.g.  Snowplow-Case-Study-Just_Watch-blog-post.pdf (so we can more easily distinguish between peo

[2017-05-24 10:32] jorgemgoncalves commented on #129
Hi @yalisassoon, we've been working on this issue.

We created some rules that adapt the images' width and height and I believe that these are solved.

Regarding the Slideshare we still haven't found a solution and we believe that if we "force" changes there may be other issues that pop up.

We are currently working on a fix for the YouTube embeds.

I'll get back to you with more news soon.

[2017-05-24 14:14] yalisassoon commented on #165
Thanks @jorgemgoncalves - assigning to @ggaviani. @ggaviani please can you look through the case study and update the copy on the page @jorgemgoncalves linked to? Then reassign to me to review.

If it all looks good we'll reassign to @jorgemgoncalves to update the images and port the case study over to the new template. (We might be able to do the latter with the new template files that Monarqa wi

[2017-05-24 18:41] chuwy opened #176 "Add code highlighting"
This intersects with https://github.com/snowplow/snowplowanalytics.com/issues/135

Besides of increasing line-height we can also improve readability by adding language-specific highlighting.

Also, I think it's important to widen block itself. Most of our excerpts are in Scala and Bash, where line width used be pretty long.

![2017-05-25 1 27 47](https://cloud.githubusercontent.com/assets/681171/2

[2017-05-25 16:16] ggaviani commented on #165
@yalisassoon , I have reviewed the Peak case study web page and made some changes to the copy. You can see them here:
https://next.snowplowanalytics.com/customers/peak/

The image about Optimising customer engagement relates to Simply Business, so it needs to be removed.

The company info is taken from the blog post below, which is an updated version of the ppt slide.
https://snowplowanalytics.com

[2017-05-25 17:38] ggaviani commented on #165
@yalisassoon , I have made some further changes to the case study page as discussed. See them here:
https://next.snowplowanalytics.com/customers/peak/

[2017-05-26 09:04] yalisassoon commented on #165
Thanks @ggaviani - the content looks good.

Reassigning to @jorgemgoncalves - can you please

1. make the page look beautiful - like the equivalents for JustWatch and Simply Business
2. Produce a beautiful version of the PDF download?

Thanks!

[2017-05-29 20:18] alexanderdean opened #180 "Add a visual click-through to case study from Trusted By logos"
Idea: as we add more case studies, there is more and more value in having some kind of overlay / visual cue on the Trusted By logos where those companies have also provided a case study. Clicking the logo would then load the case study rather than the external site.

Validation: result in increased views of our case studies.

[2017-05-31 11:06] jorgemgoncalves commented on #165
Hi @yalisassoon I've uploaded the Peak case study to the Develop website.

Regarding the PDF download do you have a base document for us to work on?

[2017-05-31 11:10] yalisassoon commented on #165
Yes! It's [here](https://drive.google.com/a/snowplowanalytics.com/file/d/0B6DwymRX2qNyb2Q2QjZCdXl4ODQ/view?usp=sharing)

[2017-05-31 15:23] alexanderdean opened #181 "Add bigbasket.com to our users list"

[2017-05-31 17:08] ggaviani commented on #164
@yalisassoon , I have placed the content of the Viewbix case study page in the Develop branch. You can see it here:
https://next.snowplowanalytics.com/customers/viewbix/

Ready for Monarqa to do their magic changing images, etc.

[2017-05-31 17:45] yalisassoon commented on #164
Thanks @ggaviani - assigning to @jorgemgoncalves to work his magic :smile:

[2017-06-01 10:39] ggaviani opened #183 "Update Snowplow logo in newsletter sign up form"
Here is the link to it:
http://snowplowanalytics.us11.list-manage.com/subscribe?u=10bb4a6f31d5f19e0d0b54476&id=bb28c7d30d

[2017-06-01 12:05] dmpacheco opened #184 "Checkbox for Insights on request demo page"
There is an issue with the checkbox for Insights on the request demo page.

The Insight checkbox is checked by default when the page is loaded.
If a user submits the demo request, the value for insights appears as false instead of true in the demo request event.

Expected behavior  - The value should appear as true since it was by default. The value should only be sent as false if the user uncheck

[2017-06-02 09:31] ggaviani opened #185 "Add social media sharing buttons to our blog posts"
To increase sharing, promotion of our content, traffic and brand exposure beyond our followers, I would add the following sharing buttons/links to our blog posts:

Facebook
Twitter
LinkedIn
+1 by Google (Google+)

We could add more, but the above are the main ones and it is best practice to limit the number of sharing buttons shown.

Apparently native plugins are better and the best placement is c

[2017-06-02 09:32] jorgemgoncalves commented on #96
Hello @yalisassoon so you would like us to create a page that makes an introduction to your community sites/pages and has links to them, similar to what you had on you previous website?

Let me know it's what you want so I can organize our team on creating a mock up for you to approve and move with creating the page.

[2017-06-02 09:49] ggaviani opened #186 "Update links to Simply Business case study pdf (old format)"
In the Simply Business blog post and in another Discourse post, there are links to the case study pdf in the old format (see links below). Let's replace it with the pdf in the new, nice layout, as on our website.

https://snowplowanalytics.com/blog/2017/01/24/how-simply-business-is-using-real-time-data-to-better-engage-and-serve-its-customers-with-Snowplow/

http://discourse.snowplowanalytics.com/

[2017-06-02 10:18] jorgemgoncalves commented on #129
Hi @yalisassoon we've implemented several CSS rules that will format the images, videos and slideshares.

Please check if it works for you guys.

[2017-06-02 10:50] jorgemgoncalves commented on #155
Hey @yalisassoon we uploaded a template to Moo to test but it seems that you can't change the written information on it, so we will have to create separate templates for each team member.

We would like to know what is the card format you wish (standard, Moo, square or mini) and a list of info for each team member's card (or at least the ones that need a card).

[2017-06-05 11:23] ggaviani opened #187 "Add case study quotes to customers page"
@yalisassoon , I would suggest adding user quotes to our customers page in each case study teaser. I think this would make it more likely for our visitors to explore our case studies.
https://snowplowanalytics.com/customers/

The teaser would include: a quote, photo of user (the hero), their role / job title, in addition to the user's logo and a very brief description of how they use Snowplow (log

[2017-06-05 13:12] yalisassoon commented on #155
This should be a standard format please!

[2017-06-05 13:14] yalisassoon commented on #129
@jorgemgoncalves can you point at the relevant commits, so I check the right thing? (E.g. should I be checking in next.snowplowanalytics.com or on the live site etc.)

Thanks!

[2017-06-05 13:15] yalisassoon commented on #122
Ping @jbeemster !

[2017-06-05 14:17] jorgemgoncalves commented on #155
@yalisassoon are you also going to send us your team members' information?

[2017-06-06 11:12] ggaviani opened #188 "Add "where did you first hear about us" question in Contact us and Demo forms"
@yalisassoon , I would add the question "where did you first hear about us" in our Contact us and Demo forms to help us gauge the impact of our marketing activities. Especially for the offline activities that are not as easy to track.

I would make this field optional to prioritise having the form completed vs having this extra information and suggest the following list for the drop down menu (I h

[2017-06-06 12:27] ggaviani opened #189 "Call our case studies "success story" or "user story""
On our website and pdf. Same meaning, but it evokes something more interesting to read.

[2017-06-06 15:31] ggaviani commented on #81
In this section, I would also add links to our YouTube videos of Snowplow users.

https://www.youtube.com/channel/UCeLlVPW8RF0zZNmRY2EWqbA/videos

[2017-06-06 18:29] yalisassoon commented on #81
Go for it! If you can embed the videos, even better :-)

On Tue, Jun 6, 2017 at 4:31 PM, ggaviani <notifications@github.com> wrote:

--
Co-founder
Snowplow Analytics <http://snowplowanalytics.com/>
The Roma Building, 32-38 Scrutton Street, London EC2A 4RQ, United Kingdom
+44 7841 954 117
@yalisassoon <https://twitter.com/yalisassoon>
<https://twitter.com/yalisassoon>
Sign up to our mailing list! <

[2017-06-07 09:11] ggaviani commented on #81
OK, I have done that on Discourse, with videos embedded!

[2017-06-07 15:52] ggaviani commented on #189
![screen shot 2017-06-07 at 16 34 53](https://user-images.githubusercontent.com/25175145/26888027-b2bd20a8-4ba1-11e7-9779-5b6496224c3c.png)

[2017-06-07 15:54] ggaviani commented on #187
current teaser
![screen shot 2017-06-07 at 16 34 53](https://user-images.githubusercontent.com/25175145/26888027-b2bd20a8-4ba1-11e7-9779-5b6496224c3c.png)

mock up for suggested teaser
![screen shot 2017-06-07 at 16 52 05](https://user-images.githubusercontent.com/25175145/26888074-cf1b9f86-4ba1-11e7-86a3-a882a5ee1e4d.png)

I think this would drive traffic to our case study pages / pdfs, which sho

[2017-06-07 15:57] ggaviani commented on #187
I would do the same for the other case studies, using the first quote on case study web page, which is the strongest.

[2017-06-09 09:41] ggaviani commented on #81
@yalisassoon , as discussed, I would go ahead with including a section of what our users say on our website. I believe it would encourage exploration of our website and increase leads because of the social proof it provides.

This is how I propose to do it:
- Include new web page under the Customers menu item. Call the sub menu item "What our users say".
- Add a link to it in the Customers page ca

[2017-06-11 13:31] yalisassoon commented on #189
Not going to do this - unknown upside for potentially big SEO downside...

[2017-06-11 13:31] #189 closed

[2017-06-11 13:31] yalisassoon commented on #188
Not going to do this either

[2017-06-11 13:31] #188 closed

[2017-06-12 06:47] yalisassoon commented on #156
Yes! Closing

[2017-06-12 06:47] #156 closed

[2017-06-12 06:59] yalisassoon commented on #155
I thought this was being set up in my Moo account? I'll send through the details now.

[2017-06-12 06:59] yalisassoon commented on #152
Done! Closing

[2017-06-12 06:59] #152 closed

[2017-06-12 07:01] #129 closed

[2017-06-12 07:02] #155 closed

[2017-06-12 07:02] yalisassoon commented on #122
@jbeemster - know you're swamped this week - can we get this scheduled for somepoint after Vienna? Just keen to get it in the calendar so it gets done at some point!

Thanks

[2017-06-12 07:04] yalisassoon commented on #144
Agree @jorgemgoncalves - let's go green!

[2017-06-12 07:06] yalisassoon commented on #165
Hi @jorgemgoncalves - the page looks great!

Have you been able to produce a branded version of the PDF yet?

[2017-06-12 07:08] yalisassoon commented on #166
@jorgemgoncalves - any update on this ticket?

[2017-06-12 07:17] yalisassoon commented on #186
Agree @ggaviani - can you make the relevant updates please?

[2017-06-12 07:18] yalisassoon commented on #184
@dilyand would you mind having a look at this please? No hurry...

[2017-06-12 07:19] yalisassoon commented on #183
Agree! Can you action this please @ggaviani ?

[2017-06-12 07:26] #75 closed

[2017-06-12 07:27] #42 closed

[2017-06-12 07:54] yalisassoon opened #191 "Add Picnic.nl case study"
@ggaviani - can you please post here two links:

1. To the full case study text
2. To the shortened version of the text?

We can then assign to the Monarqa team to brand.

Thanks

[2017-06-12 09:21] jorgemgoncalves commented on #155
Hi @yalisassoon yes this will be set up in your Moo account. The problem we encountered was that we could just upload one template and then edit the written information, so we need to upload multiple templates, one for each team member.

[2017-06-12 10:12] jorgemgoncalves commented on #165
Hi @yalisassoon sorry for the delay.

In attach you can see the Peak case study PDF. Please give us your feedback so we can update the page.

[Snowplow-Case-Study-Peak.pdf](https://github.com/snowplow/snowplowanalytics.com/files/1067778/Snowplow-Case-Study-Peak.pdf)

[2017-06-12 10:25] yalisassoon commented on #165
Looks great! Can we push it live please? :smile:

On Mon, Jun 12, 2017 at 11:12 AM, Jorge Gonçalves <notifications@github.com>
wrote:

--
Co-founder
Snowplow Analytics <http://snowplowanalytics.com/>
The Roma Building, 32-38 Scrutton Street, London EC2A 4RQ, United Kingdom
+44 7841 954 117
@yalisassoon <https://twitter.com/yalisassoon>
<https://twitter.com/yalisassoon>
Sign up to our mailing list!

[2017-06-12 15:01] ggaviani commented on #191
@yalisassoon , Here are the links to the Picnic case study:

full case study: https://drive.google.com/open?id=1jKhahq4tsM5_diZaa-Pu9k2wA2_PIEfTGF8ZpH6NRic

copy for web page: https://drive.google.com/open?id=1f-rHDNeQhqO5S1IJMa_yemvOTiwASo22rwOC8Ab8P8U

I have chased Picnic today to get their sign off, but they are still reviewing the case study.
So maybe better to wait for their sign off before

[2017-06-12 15:38] yalisassoon commented on #191
Understood - I'll reassign back to you and you can let me know once we get that feedback through.

[2017-06-12 15:59] ggaviani commented on #186
Ok @yalisassoon , I have updated the pdf in the blog and Discourse posts.

[2017-06-12 16:37] ggaviani commented on #183
Ok @yalisassoon , the sign up form is now updated with our new logo!

[2017-06-12 18:20] jorgemgoncalves commented on #165
Hi @yalisassoon, I've already uploaded the file into the develop branch and updated all the links. You can push it to the master.

[2017-06-12 20:04] yalisassoon commented on #165
Thanks @jorgemgoncalves - looks great! Closing

[2017-06-12 20:04] #165 closed

[2017-06-12 20:05] yalisassoon commented on #181
@jorgemgoncalves - is this another quick one we could knock off the list 😄 ?

[2017-06-13 13:35] yalisassoon opened #195 "Users who submit forms get automatically added to our email newsletter"
Add pre-populated checkbox that users can uncheck if they don't want to get automatically added.

Add them to a new list in Mailchimp so that we can target with nurturing campaigns potentially down the line.

[2017-06-13 13:35] yalisassoon commented on #195
Credit to @ggaviani - great idea

[2017-06-13 21:24] yalisassoon commented on #183
Nice! Closing

[2017-06-13 21:24] #183 closed

[2017-06-13 21:24] #186 closed

[2017-06-14 09:13] jorgemgoncalves commented on #97
Hi @yalisassoon we've created two desktop mockups and a mobile one for this notification message:

![sp_cookie_policy_mobile](https://user-images.githubusercontent.com/26622929/27124648-aef58c6a-50e9-11e7-81bb-a1696579a064.jpg)
![sp_cookie_policy_v1](https://user-images.githubusercontent.com/26622929/27124713-d2905506-50e9-11e7-812f-a357fa1f5f04.jpg)
![sp_cookie_policy_v2](https://user-images.gith

[2017-06-16 10:04] yalisassoon commented on #181
Will be done today

[2017-06-16 10:05] yalisassoon commented on #144
Will be done today

[2017-06-16 10:05] yalisassoon commented on #166
Due to be solved at the beginning of next week.

[2017-06-16 10:08] yalisassoon commented on #166
The suggestion is to have some new variables in the YAML front end that mean we can choose, on a page-by-page basis, what the preview image should be.

We can also use variables to set the default text.

As well as this, have a default fallback for pages where the above is not set.

It would great to know if when we're choosing images when we create new pages, what the type of image should be. (An

[2017-06-16 10:10] yalisassoon commented on #164
Hugo should have a chance to brand the page and the PDF early next week so we can put it live.

[2017-06-16 10:12] yalisassoon commented on #176
Hoping this will be solved by Friday next week

[2017-06-16 10:12] yalisassoon commented on #135
Hoping this will be solved by late next week

[2017-06-16 10:20] yalisassoon commented on #97
Let's link from the warning to our cookie policy: https://snowplowanalytics.com/privacy-policy/.

The text should be:

[2017-06-16 10:21] yalisassoon commented on #98
We can delay this to a later release if that's helpful.

[2017-06-16 10:22] yalisassoon commented on #98
Should be done within a couple of weeks (by the 30th) should have this figured out.

[2017-06-16 10:22] yalisassoon commented on #97
Should be done next week.

[2017-06-16 10:23] dilyand commented on #97
Fixed typo:

We use cookies on this website to track how our users are browsing and engaging with it. We use that to figure out how good we are at introducing Snowplow to prospective companies and how well we serve existing users with documentation and other supporting material. For more information [see here](https://snowplowanalytics.com/privacy-policy/).

[2017-06-16 10:27] yalisassoon commented on #96
I need to design what this page will look. (What the content is.)

[2017-06-16 10:28] yalisassoon opened #196 "Put together CSS for greenhouse.io jobs section our website"

[2017-06-16 10:31] yalisassoon commented on #196
https://app.greenhouse.io/configure/dev_center/css_guide

[2017-06-16 10:44] yalisassoon commented on #187
@ggaviani - can you please add the quote you think we should use for each of the existing case studies? Or just confirm if it's the first quote in each case.

Assigning to @jorgemgoncalves to implement

[2017-06-16 10:45] yalisassoon commented on #187
We can reassign to another milestone if helpful

[2017-06-16 10:51] yalisassoon commented on #81
@jorgemgoncalves idea - maybe we should blend the current users page with the new content suggested by @ggaviani.

[2017-06-16 11:23] ggaviani commented on #187
@yalisassoon and @jorgemgoncalves , see below the quotes I would include in the case study teasers.

**JustWatch**: “Snowplow provides rich, granular data, that enabled us to build a sophisticated audience intelligence and double the efficiency of trailer advertising campaigns for our clients compared to the industry averages”, Dominik Raute, Co-Founder & CTO

**Simply Business**: "The Snowplow da

[2017-06-16 14:01] jorgemgoncalves commented on #144
Hi @yalisassoon, we've completed this task and upload it to the development website.

[2017-06-16 14:23] jorgemgoncalves commented on #181
Hi @yalisassoon we've added BigBasket to the list of users.

[2017-06-16 14:31] idanby1 opened #197 "Wrong redirect in React page"
In the https://snowplowanalytics.com/products/snowplow-react/ page when pressing on the "See Case Study" button at the end of page for the simply business, you are redirected to the same page instead of the Simply business case study page.

[2017-06-16 16:13] yalisassoon commented on #181
Love it! Closing

[2017-06-16 16:13] #181 closed

[2017-06-16 16:13] yalisassoon commented on #144
Looks great! Closing

[2017-06-16 16:13] #144 closed

[2017-06-16 16:15] yalisassoon opened #198 "Add www.douglas.de to our users list"

[2017-06-16 16:24] yalisassoon commented on #170
This has been done - closing

[2017-06-16 16:24] #170 closed

[2017-06-16 16:26] yalisassoon commented on #196
Hi @jorgemgoncalves - you can view the careers homepage here: https://snowplowanalytics.com/company/careers/ and an example job listing here: https://snowplowanalytics.com/company/careers/?gh_jid=700719.

I think the main things we want to accomplish are:

1. Make the job listings look like part of the site. (I.e. make the font and colourings consistent.)
2. Ensure that the form that candidates su

[2017-06-16 17:09] yalisassoon commented on #196
Let me know if you need access to greenhouse admin panel. (This is where you can add your own css location.)

[2017-06-20 09:35] jorgemgoncalves commented on #198
Hi @yalisassoon I've added Douglas to the users list.

[2017-06-20 09:40] jorgemgoncalves commented on #197
Hi @idanby1 and @yalisassoon I've already corrected this issue on the develop website.

[2017-06-20 09:44] jorgemgoncalves commented on #167
Hi @BenFradet We've checked this issue and made some changes.

Can you please confirm that it's ok now?

[2017-06-20 21:24] BenFradet commented on #167
yup :+1: , closing

[2017-06-20 21:24] #167 closed

[2017-06-21 08:56] jorgemgoncalves commented on #196
Hi @yalisassoon can you please give us access to Greenhouse admin panel?

[2017-06-21 09:11] jorgemgoncalves commented on #176
Hi @chuwy and @yalisassoon we've uploaded a functionality that highlights the code. Can you verify if this is working as you wish?

[2017-06-21 09:30] jorgemgoncalves commented on #164
@yalisassoon @ggaviani , we are struggling to find a good photo of Dani Waxman to place next to his quote. Can you help us with this matter?

[2017-06-21 10:04] ggaviani commented on #164
@yalisassoon , I have done a search and could only find Dani's photos on his social media profiles below, but they are the same as in our case study and fairly low resolution.

https://www.linkedin.com/in/daniwaxman/
https://twitter.com/daniwaxman?lang=en

Do you want me to ask him for a higher res photo or will you?

[2017-06-21 10:21] jorgemgoncalves commented on #187
Hey, I've been working on this request with Hugo contemplating all the if and these are our conclustions:

- Adding the photo of the customer would generate great visual noise to this block
- Some of the quotes you want to add are very long and will occupy alot of space. I've coded them so we could have an idea:

![screen shot 2017-06-21 at 11 08 53](https://user-images.githubusercontent.com/26622

[2017-06-21 12:09] jorgemgoncalves commented on #164
Hey guys, we've already upload the new images to the development website and updated the menu.

We are still creating the PDF and waiting for a better option for Dani's picture. Give us your opinion!

[2017-06-21 16:08] jorgemgoncalves commented on #97
Hi, @dilyand and @yalisassoon, we've uploaded this functionality, but we are still running some tests. If you would like to do some tests from your side that would be awesome.

Give us your feedback.

[2017-06-21 22:53] yalisassoon commented on #97
Hi @jorgemgoncalves ,

Can we update the text so instead of

We write

This should have a hyperlink.

Also - can we either explore another colour or having the message at the bottom rather than the top of the screen? Having the purple up at the top really distracts from the "Request demo" button, which we really want people to click :smile:

[2017-06-21 22:58] yalisassoon commented on #176
I think this looks awesome! But I want to check with @chuwy and @alexanderdean as I'm not very good with colours.

Gents - what do you think of the colouring on code snippets on next.snowplowanalytics.com?

[2017-06-21 23:07] alexanderdean commented on #176
I looked at the code on https://next.snowplowanalytics.com/blog/2017/05/24/snowplow-scala-analytics-sdk-0.2.0-released/

I think it looks lovely!

[2017-06-22 06:53] chuwy commented on #176
Looks great! Very readable.

[2017-06-22 08:48] jorgemgoncalves commented on #164
Hi @yalisassoon and @ggaviani, in attachment you can take a look at the Viewbix Case Study PDF.

[Snowplow-Case-Study-ViewBix.pdf](https://github.com/snowplow/snowplowanalytics.com/files/1094155/Snowplow-Case-Study-ViewBix.pdf)

I've already uploaded it to the develop website assets and updated the link on the case study page.

Take a look and give me your feedback!

[2017-06-22 09:11] ggaviani commented on #164
Hi @jorgemgoncalves , it looks good to me. Just a couple of remarks.

1.  small typo on page 8: "This enables is customers to understand the
success of their campaigns ..." should be "This enables **its** customers to understand the
success of their campaigns ..."

2. the quote “25% of viewers who watch a video enhanced by Viewbix engage with at least
one of the apps. That’s 16 times higher than t

[2017-06-22 09:51] jorgemgoncalves commented on #97
Hi @yalisassoon you are totally right! We're on it. I give you some options as soon as possible.

[2017-06-22 14:11] jorgemgoncalves commented on #135
Hi @yalisassoon and @alexanderdean we've uploaded several changes to the most text heavy pages. Can you please check and give me your feedback?

[2017-06-22 20:15] alexanderdean commented on #135
Can you give an example of a page @jorgemgoncalves ?

[2017-06-23 08:55] jorgemgoncalves commented on #135
Hi @alexanderdean the css rules were applied on every blog posts in http://next.snowplowanalytics.com.

[2017-06-23 12:25] jorgemgoncalves commented on #98
Hi @yalisassoon we've analysed this issue and came up with several solutions, from the fastest to the more time consuming but that ultimately would be a more advanced option.

The easiest and quickest approach would be removing the excerpt, reduce the title size and spacings between elements, adding a paging system that presents 15 posts per page.

Another option is to display the post information

[2017-06-23 12:27] alexanderdean commented on #98
OT and apologies for the derail but I quite like the Mixpanel blog architecture:

https://mixpanel.com/blog/

[2017-06-23 12:34] jorgemgoncalves commented on #98
Hi @alexanderdean so instead of reviewing only the archive we should be considering redesign the blog?

This example fits perfectly with our most complete idea of the Masonry grid with included tools.

[2017-06-23 12:35] alexanderdean commented on #98
Up to @yalisassoon

[2017-06-23 17:07] yalisassoon commented on #198
Done!

[2017-06-23 17:07] #198 closed

[2017-06-23 17:07] #197 closed

[2017-06-23 17:20] yalisassoon commented on #135
I think it looks great! Unless @alexanderdean has spotted anything further, am closing...

[2017-06-23 17:20] #135 closed

[2017-06-25 15:36] alexanderdean commented on #135
I looked at https://next.snowplowanalytics.com/blog/2017/06/12/snowplow-r89-plain-of-jars-released/

Looks good...

[2017-06-27 09:52] ggaviani commented on #164
@jorgemgoncalves and @yalisassoon , I also just noticed that a quote in the pdf is truncated.

Page 11: “25% of viewers who watch a video enhanced by Viewbix engage with at least
one of the apps. That’s 16 times higher than the in.”  It should be "... 16 times higher than the industry average”.

And it is taken from the Viewbix website, it is not Dani's. (I noticed the source has been changed in t

[2017-06-27 09:56] ggaviani opened #200 "Link in blog post to Analytics Cookbook broken (404 error message)"
The link to the Analytics Cookbook in the blog post below is broken and gives a 404 error message.

https://snowplowanalytics.com/blog/2014/04/16/identity-stitching-snowplow-vs-google-universal-analytics-kissmetrics-and-mixpanel/

https://snowplowanalytics.com/analytics/customer-analytics/identifying-users.html

[2017-06-27 13:08] yalisassoon opened #201 "Add a sentence to bottom of both lead forms"

[2017-06-29 11:43] yalisassoon commented on #166
Has this functionality been delivered? It looks like it might have been - if so let me know how it works and reassign to me and I'll test.

[2017-06-29 11:44] yalisassoon commented on #164
Thanks @ggaviani

[2017-06-29 11:44] yalisassoon commented on #164
Correction has been made.

[2017-06-29 11:44] yalisassoon commented on #164
I need to check and then mark as closed

[2017-06-29 11:45] #176 closed

[2017-06-29 11:47] yalisassoon commented on #97
Still in progress

[2017-06-29 11:50] yalisassoon commented on #98
Suggestion from Daniel - add simple paging so each time you go back another 15 blog posts.

I think this is the right approach for the moment - in the future we can look at a more fundamental redesign.

[2017-06-29 11:54] yalisassoon commented on #187
I will review and put together some shortened quotes. Let's see if they work

[2017-06-29 12:11] yalisassoon opened #203 "Put together initial mockup of partners section"
Based on the mockup I emailed Daniel on June 29th.

[2017-06-29 18:57] yalisassoon opened #204 "Update footer with new customer case studies"
Add Viewbix and Peak to Footer

[2017-07-03 16:11] dangregorio commented on #98
@yalisassoon The last version of Jekyll has a native standard blog navigation. Which is great! The only problem is, in order to work, we need to change the post structure; for each post, a folder with the post name and an index.html file. You can still use markdown but you need to respect the file name, extension, folder and tag.
This way you'll be aligned with the new Jekyll and we can run a scri

[2017-07-03 16:13] dangregorio commented on #171
@yalisassoon This week we are doing the new skin process. We are developing and testing it live making all iterations visible. Users will notice all the steps of the development, but it will be much easier and quicker. Off course, we try to schedule each update to maintain the consistency of the layout throughout all process.
When the process is done, we'll ask for your feedback.

[2017-07-03 16:26] dangregorio commented on #196
This week we are doing the new skin process. We are developing and testing it live making all iterations visible. Users will notice all the steps of the development, but it will be much easier and quicker. Off course, we try to schedule each update to maintain the consistency of the layout throughout all process.
When the process is done, we'll ask for your feedback.

[2017-07-03 16:34] dangregorio commented on #97
@yalisassoon We updated the cookie bar colour to make it less distracting. If you still feel necessary, we can change it to the footer.

[2017-07-03 16:37] alexanderdean commented on #97
Can we make it say "Learn more" not "Know more"? Know more doesn't make sense in English.

[2017-07-04 07:04] alexanderdean opened #207 "Add imaginecurve.com to our users"
https://news.ycombinator.com/item?id=14688987

[2017-07-04 10:42] dangregorio commented on #97
Done! Please check at https://next.snowplowanalytics.com
Thanks,

[2017-07-04 21:23] idanby1 opened #208 "Add Logo of Grofers.com to "trusted by" page"

[2017-07-05 07:29] yalisassoon commented on #164
Looks good - can we update the image of Dani with the high res image I sent through today via email? Thanks!

[2017-07-05 16:48] bogaert opened #209 "Replace Know More with Learn More in cookie warning"

[2017-07-07 16:22] #209 closed

[2017-07-07 16:48] yalisassoon commented on #166
@jorgemgoncalves just checking in on this? I'm pretty sure this has been done and the functionality is enabled by simply adding

[code]

in the YAML front end - if you can confirm and let us know how to use it, that'd be great!

[2017-07-07 16:53] yalisassoon commented on #187
Do the following shortened quotes work @jorgemgoncalves ?

Simply Business: "The Snowplow data set has become part of our core strategic offering", Stewart Duncan, Director of Data Science

JustWatch: “Snowplow enabled us to build a sophisticated audience intelligence and double the efficiency of campaigns”, Dominik Raute, Co-Founder & CTO

Peak: “Snowplow is really powerful when you start to hit

[2017-07-07 16:54] yalisassoon commented on #97
Looks great! Closing

[2017-07-07 16:55] yalisassoon commented on #98
Hi @dangregorio - that makes sense and is probably the right thing to do. Some questions:

1. If we do that, will the URL of each blog post change? If so, we need to add a redirect. (Better if not - maybe we can use the `permalink` feature to ensure it we don't?
2. Is there a clever way we can programmatically make this update? (So some poor person doesn't have to update every blog post individual

[2017-07-07 16:56] yalisassoon commented on #171
Sounds good - looking forward to seeing the update!

[2017-07-10 11:37] yalisassoon opened #211 "Bug with CSS on jobs page"
When someone uploads their CV on any of the jobs pages, the "LinkedIn Profile", "Website" and "How did you hear about this job? " and "Submit Application" button are hidden.

Can you please look into this as a priority?

Thanks!

[2017-07-10 15:54] dangregorio commented on #98
Answers:
1. The URL will not change but we are still confirming how it will work with the new pagination.
2. Yes. Script.
3. Yes. Doing it.

[2017-07-10 16:43] dangregorio opened #212 "Correct #anchor links on Blog posts"
@yalisassoon The #anchor links on the posts are being used in a wrong way. Menu/list not working. (ie: https://snowplowanalytics.com/blog/2017/07/07/kinesis-s3-0.5.0-released/).

Wrong: Fix silent suppresion of failures](/blog/2017/07/07/kinesis-s3-0.5.0-released#fix)
Correct: Fix silent suppresion of failures](#fix)

[2017-07-10 20:47] yalisassoon opened #213 "Add collage.com to our users list"

[2017-07-10 21:03] alexanderdean commented on #212
I remember the reason was so that the links still worked from the blog summary page (maybe this has changed and is no longer required)

[2017-07-11 20:48] #184 closed

[2017-07-12 15:27] jorgemgoncalves commented on #187
Hi @yalisassoon and @ggaviani, I've uploaded the changes on the customers' page on the development website.

Please give me your feedback.

[2017-07-12 21:53] yalisassoon commented on #187
Looks great @jorgemgoncalves ! Only update I'd like to make is the text size for "Dani Waxman" looks too big? (Larger than the other authors?)

[2017-07-13 08:31] jorgemgoncalves commented on #187
You were absolutely right! I've already corrected it.

[2017-07-13 09:43] jorgemgoncalves commented on #166
Hello @yalisassoon, sorry for the delay answering.

The functionality has been created, you just need to fill in the title, description and if you wish and image just as you said.

If none of these fields are filled you have a default meta.

[2017-07-13 09:48] jorgemgoncalves commented on #164
@yalisassoon We've replaced Danis' image with the high res that you have sent. I believe everything is ok now.

[2017-07-13 10:40] yalisassoon opened #214 "Test using discourse to power comments on our blog"
https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963

[2017-07-13 11:13] jorgemgoncalves commented on #208
Hi @yalisassoon, I've just added this user to the trusted by list.

[2017-07-13 11:13] jorgemgoncalves commented on #213
Hi @yalisassoon I've just added this user to the Trusted by list.

[2017-07-13 11:39] yalisassoon commented on #166
Looks great! Closing

[2017-07-13 11:39] #166 closed

[2017-07-13 11:40] yalisassoon opened #215 "Add title, description and image meta tags for each page"
Let's prioritise the main pages (i.e. not every blog post).
I'll work with the team publishing blog posts so we start to include these ourselves with new content that we write.

[2017-07-13 11:41] yalisassoon commented on #211
Should be solved today

[2017-07-13 11:41] yalisassoon commented on #208
Thanks!

[2017-07-13 11:41] #208 closed

[2017-07-13 11:42] yalisassoon commented on #164
Thanks!

[2017-07-13 11:42] #164 closed

[2017-07-13 11:43] yalisassoon commented on #187
Looks great! Closing

[2017-07-13 11:43] #187 closed

[2017-07-13 11:47] yalisassoon commented on #97
Can we update the last sentence so it says:

[2017-07-13 11:49] yalisassoon commented on #213
Thanks! Closing

[2017-07-13 11:49] #213 closed

[2017-07-13 11:50] yalisassoon commented on #185
Let's just put buttons for the four networks listed above

[2017-07-13 11:51] yalisassoon commented on #185
Mock up to share early next week

[2017-07-13 11:59] yalisassoon commented on #203
Hopefully have something middle of next week.

[2017-07-13 12:06] yalisassoon commented on #81
Giuseppe's mockup: http://discourse.snowplowanalytics.com/t/what-our-users-say-section-for-snowplow-website/1161

[2017-07-13 12:09] yalisassoon opened #216 "Have a brainstorm about how the customers section should look / be architected"
Monarqa team to look at how other companies have done it and come to us with a suggestion.

[2017-07-13 16:55] alexanderdean opened #217 "Add safetrek.com to our users"

[2017-07-13 20:11] yalisassoon opened #218 "Add http://www.boomerangcommerce.com/ to our users list"

[2017-07-13 20:12] #174 closed

[2017-07-14 08:29] jorgemgoncalves commented on #97
Hi @yalisassoon i've updated the last sentence as you resquested. I believe this task is done.

[2017-07-14 08:32] jorgemgoncalves commented on #98
Hi @yalisassoon, Peter asked if your (or even him) could create a branch for him to work so that he can test every possibility?

[2017-07-14 08:36] jorgemgoncalves commented on #171
@yalisassoon as you may have noticed we've published the new discourse skin. We've already detected that this CSS also changes the display in the settings and options pages.

As I said there are still some styling that needs to be done, and we will continue perfecting it.

I would be wonderful to collect some of your team and community feedback.

[2017-07-14 08:36] yalisassoon commented on #98
Of course! He should be able to create a branch himself?

On Fri, Jul 14, 2017 at 9:32 AM, Jorge Gonçalves <notifications@github.com>
wrote:

--
Co-founder
Snowplow Analytics <http://snowplowanalytics.com/>
The Roma Building, 32-38 Scrutton Street, London EC2A 4RQ, United Kingdom
+44 7841 954 117
@yalisassoon <https://twitter.com/yalisassoon>
<https://twitter.com/yalisassoon>
Sign up to our mailin

[2017-07-14 08:41] jorgemgoncalves commented on #98
I believe so. I'll ask him to do it.

[2017-07-14 08:43] yalisassoon commented on #98
Great. In general he should be creating a new branch for each new piece
he's working on then merging to develop when it's ready for testing /
sharing. Definitely no need to ask permission to create new branches

On Fri, Jul 14, 2017 at 9:41 AM, Jorge Gonçalves <notifications@github.com>
wrote:

--
Co-founder
Snowplow Analytics <http://snowplowanalytics.com/>
The Roma Building, 32-38 Scrutton Stree

[2017-07-14 08:43] jorgemgoncalves commented on #196
@yalisassoon if you visit the Careers page, you will see that:

- there's no longer a huge space between the title and the job listing and that these elements are inside a light blue box giving it a better look.
- Inside the each Job we've hidden the title replication and we also corrected the problem with the CV upload.

Meanwhile, we discovered a bug with the iframe that each time some submits a

[2017-07-14 08:46] yalisassoon commented on #171
Thanks @jorgemgoncalves ! This looks great.

One piece of feedback immediately jumps out: the text is a bit too light making the contents hard to read. (Esp. on mobile.) Can we make the standard text darker?

[2017-07-14 08:49] yalisassoon commented on #171
I should note that the problem is an issue on mobile - on desktop it's not such an issue. (The actual content of posts on mobile is very light.)

[2017-07-14 08:58] yalisassoon commented on #171
I'm seeing the same on Chrome on Mac OS X

On Fri, Jul 14, 2017 at 9:55 AM, Alexander Dean <notifications@github.com>
wrote:

--
Co-founder
Snowplow Analytics <http://snowplowanalytics.com/>
The Roma Building, 32-38 Scrutton Street, London EC2A 4RQ, United Kingdom
+44 7841 954 117
@yalisassoon <https://twitter.com/yalisassoon>
<https://twitter.com/yalisassoon>
Sign up to our mailing list! <http://

[2017-07-14 09:03] jorgemgoncalves commented on #211
@yalisassoon, the CV upload no longer creates a massive image that pushed the content down. The only issue that we found is regarding a javascript that increases the height of the content every time you press the submit button.

[2017-07-14 09:06] jorgemgoncalves commented on #171
Would you like us to place your previous layout while we work on these changes?

[2017-07-14 09:09] yalisassoon commented on #171
No need Jorge - if you just keep fixing them as you go that would be great!

On Fri, Jul 14, 2017 at 10:06 AM, Jorge Gonçalves <notifications@github.com>
wrote:

--
Co-founder
Snowplow Analytics <http://snowplowanalytics.com/>
The Roma Building, 32-38 Scrutton Street, London EC2A 4RQ, United Kingdom
+44 7841 954 117
@yalisassoon <https://twitter.com/yalisassoon>
<https://twitter.com/yalisassoon>
S

[2017-07-14 14:54] BenFradet commented on #212
the links aren't even rendered in the blog summary page now, so I guess we could skip it, no?

[2017-07-14 15:01] BenFradet opened #219 "Excerpts do not respect more tag"
I thought I had logged this one but apparently not.

On the previous website, the excerpt visible for each blog post on https://snowplowanalytics.com/blog/ was delimited by a `` tag which doesn't seem to be the case anymore as the excerpt seems to be cut off at some arbitrary number of characters which defeats the purpose of an excerpt altogether.

[2017-07-14 15:06] BenFradet commented on #212
Just tested locally and the `[Fix silent suppresion of failures](#fix)` do not work

[2017-07-14 15:40] #97 closed

[2017-07-18 14:36] dmpacheco opened #224 "Notification on website if location is near a meetups that is happening soon"
The idea is to promote our next meetups for the relevant users when they arrive at our website.
Relevant users would be users who are either from the country or nearby countries of the meetup / X kilometres from the event.

We could have two messages being sent:

- When we display the first notification we might say something like "We would like to announce that we are going to have a meetup in XX

[2017-07-18 14:42] mikenem commented on #122
+1

[2017-07-18 15:52] jorgemgoncalves commented on #98
Hi @yalisassoon, Peter created a new `<a href="https://github.com/snowplow/snowplowanalytics.com/tree/develop-new-blog">Branch</a>` where he implemented Jekyll update to 3.5.0 and moved all the posts into their own folders containing the same name and file was changed into index.html so that paging could work.

He also installed a plugin called jekyll-paginate-v2 to extend the paging capabilities.

[2017-07-18 18:23] alexanderdean commented on #224
This is a cool idea...

[2017-07-20 11:42] ungn opened #227 "Fix logo in Discourse Summary emails"
Fixing the logo on Discourse (https://github.com/snowplow/snowplowanalytics.com/issues/120) seems to have made the logo in the Discourse summary email illegible due to the white background in the email and image transparency of the PNG file (and the white text of the logo itself).

This assumes that the same file is being used for both the emails and the Discourse forum. Simple fix would be to use

[2017-07-21 17:08] BenFradet commented on #212
I think those links have been broken recently, they don't work on the live website for me anymore.

[2017-07-24 09:13] yalisassoon commented on #98
Hi @jorgemgoncalves @petermonte

I've checked with @jbeemster on getting the new branch merged:

1. **Monarqa**: @petermonte please can you give us a list of all the software used in the new branch and the versions of the software used including all plugins and dependencies.
2. **Monarqa**: @petermonte please add Travis to the branch. You do need to make any updates to it (we'll handle these below

[2017-07-24 15:55] jorgemgoncalves commented on #171
Hi, guys! Peter committed several changes to some of the things you pointed out and also some that we found.

Please take a look and give us feedback if there's anything else you feel that needs our attention.

[2017-07-24 16:28] petermonte commented on #98
@yalisassoon travis as been added to branch.

[2017-07-24 17:31] jorgemgoncalves commented on #215
Hi @yalisassoon, please check this link to see our [Metadata](https://docs.google.com/spreadsheets/d/1IAHx8n3J9vFZLnL-HWGvNWDSAjcGJlDKi77h8yxKhE4/edit?usp=sharing) suggestions for titles and description.

Give me your feedback so that I can start uploading them to the website.

[2017-07-24 17:34] jbeemster commented on #122
This has now been done!

[2017-07-24 17:34] #122 closed

[2017-07-24 17:47] mikenem commented on #122
Yes it has!

On 24 July 2017 at 18:35, Josh <notifications@github.com> wrote:

--
Mike Nemirovsky
Insights Manager
Snowplow Analytics <http://snowplowanalytics.com/>
The Roma Building, 32-38 Scrutton Street, London EC2A 4RQ, United Kingdom
+44 7769 708 852
@nembot <https://twitter.com/nembot> <https://twitter.com/yalisassoon>
Sign up to our mailing list! <http://eepurl.com/b0yEgz>

[2017-07-24 19:11] yalisassoon opened #229 "Add sourceclear to our users list"
https://www.sourceclear.com/

[2017-07-24 19:46] alexanderdean commented on #171
The bug I mentioned looks like it's been fixed...

[2017-07-25 12:45] colmsnowplow opened #230 "Broken links in SP Schema Registry documentation"
https://github.com/snowplow/iglu-example-schema-registry#2-uploading-the-schemas-to-iglu

The two links in section 2 of the documentation lead to 404s:

Upload the schemas to snowplow-mini (for testing) - https://github.com/snowplow/iglu-example-schema-registry/blob/master/snowplow-mini

Upload the schemas to Iglu for the full pipeline - https://github.com/snowplow/iglu-example-schema-registry/blo

[2017-07-25 13:00] alexanderdean commented on #230
Please migrate this to https://github.com/snowplow/iglu-example-schema-registry/issues

[2017-07-25 13:08] colmsnowplow commented on #230
Apologies, silly error. Closing this one, will create in the correct place.

[2017-07-25 13:08] #230 closed

[2017-07-25 15:57] jorgemgoncalves commented on #161
This issue will be solved once #215 is implemented.

[2017-07-26 10:15] jorgemgoncalves commented on #142
This issue has been solved in [Commit ff58ef8](https://github.com/snowplow/snowplowanalytics.com/commit/ff58ef845127400b9e3776e4155229360c23a62c).

[2017-07-26 10:33] yalisassoon opened #231 "Add hipagesgroup.com.au to our users page"

[2017-07-26 10:34] yalisassoon commented on #98
Hi @petermonte - sorry for the delay replying:

1. Yes I believe so - @jbeemster can you confirm?
2. Thanks!

[2017-07-26 11:24] jbeemster commented on #98
Hi @petermonte

I have now created a new branch that did not tamper with the Travis settings called: `develop-new-blog-travis`

This has had all of your commits cherry-picked across with the only change being that Travis was never removed now.  If you could please switch your development efforts to this branch.

In this branch I have added some new build guidance to the `Vagrant up` and have updat

[2017-07-26 15:37] petermonte commented on #98
@jbeemster
Thanks for the update.

It seems that `.gitignore` was ignoring those files. The usage is basically:

1. Backup `_posts` folder. I repeat, Backup!
2. Install **[Node](https://nodejs.org/en/download/)** and **[Node Package Manager](https://www.npmjs.com/get-npm?utm_source=house&utm_medium=homepage&utm_campaign=free%20orgs&utm_term=Install%20npm)**
3. On terminal, focusing the **root** fo

[2017-07-26 15:50] jbeemster commented on #98
Hey @petermonte

We have an entire replicable environment structure around Vagrant and Ansible playbooks across all of our open and closed source projects.  Restructuring to use Docker with the same Ansible playbooks is something we have thought about as it is much much faster for spin up time but it is a very long way from being road-mapped let alone implemented.

---

Is the gulp script somethin

[2017-07-26 18:01] petermonte commented on #98
@jbeemster

Once, and that is it.

This is only an old posts converter.

Totally understandable. Count with me for any help : )

[2017-07-27 06:40] jbeemster commented on #98
Hey @petermonte,

Thanks for clarifying!  So it sounds like then it will not need to be part of the build process so we will not need to add this to Travis or Vagrant as this is not a normally required tool.

So I think then once you are happy with this branch it can be merged to Develop without any issues to check that everything looks good on next.snowplowanalytics.com!

[2017-07-27 11:41] #211 closed

[2017-07-27 11:45] yalisassoon commented on #196
This is done except fixing a bug on Safari where the job listing is split across two columns:

![image](https://user-images.githubusercontent.com/201147/28668773-63763e22-72c9-11e7-95f6-65c8fa06a5e1.png)

[2017-07-27 11:47] mikenem opened #232 "Add LinkedIn Demographics Tracking"
If we add LinkedIn's js, we'll be able to see the demographics info for those users that have a linkedin cookie... could be good for targeting of future mktg campaigns.

I've set up the campaign manager on the LinkedIn side. Just need to add the following script:

`<script type="text/javascript">
_linkedin_data_partner_id = "66929";
</script><script type="text/javascript">
(function(){var s = docu

[2017-07-27 11:49] yalisassoon commented on #171
On a user's account page the inactive buttons are hard to read:

![image](https://user-images.githubusercontent.com/201147/28668907-e346d134-72c9-11e7-97aa-50268a890ca4.png)

[2017-07-27 11:51] yalisassoon commented on #227
@jorgemgoncalves is going to see if we can have separate logos for the emails and the website

[2017-07-27 11:51] yalisassoon commented on #185
Already implemented on new branch

[2017-07-27 11:54] yalisassoon commented on #203
Hopefully receive August 1st for some initial mockups

[2017-07-27 12:19] yalisassoon commented on #212
So the requirement here is just that the links start to work. I'm not sure why they don't work now but if we can get this fixed that'd be good because it's definitely a bug.

A theory from @jorgemgoncalves - is this related to an old issue (now fixed) where the anchor links took you to the wrong part of the blog. (Because of an offset in the CSS introduced by the header that needed to be accounted

[2017-07-27 12:22] yalisassoon commented on #215
Looks good! Can we put this live please @jorgemgoncalves

[2017-07-27 12:24] yalisassoon commented on #142
Solved as part of new branch that will be merged shortly.

[2017-07-27 12:26] yalisassoon opened #233 "Put together updated pricing information for Snowplow Insights product page"
Mock this up and share with the Monarqa team

[2017-07-27 12:28] yalisassoon opened #234 "Update team photos"
We need to add entries for:

* Mike
* Sarah
* Nicki
* Tim

Remove entries for:

* Idan
* Giuseppe

[2017-07-27 12:29] yalisassoon opened #235 "Update team photos for those that are missing"
These were taken on the away week

[2017-07-27 14:38] yalisassoon commented on #98
Hey @jbeemster - when I try and build the site locally I get an error because of an incorrect Ruby version:

[code]

I'm a bit loathe to merge to develop unless I can first test it locally. Is there an update that needs to be made on the vagrant or ansible playbook side of things to get this working?

[2017-07-27 16:27] yalisassoon commented on #98
Hi @jorgemgoncalves @petermonte

So rebuilding the VM now works. I can `vagrant up` in the repo, then `vagrant ssh`, `cd /vagrant` and:

[code]

Note that there are a few issues:

1. An issue building a couple of the blog posts (listed above)
2. Something's not working with the jekyll build process because I can't access the website from my host. (I should be able to load it on `http://localhost:4

[2017-07-27 16:37] petermonte commented on #98
@yalisassoon

Strange, I simply `jekyll serve` the project on terminal.
[code]

Yes. That will need to be addressed in each one of those 3 posts. I haven't did so because we will have to do a new batch on the entire folder to reproduce all posts again to build the last version. remember the ideia is to test and if all is ok run the `gulp task` to build the posts.
[code]

I've always accessed the p

[2017-07-28 13:02] jorgemgoncalves commented on #227
I've followed @dilyand approach and uploaded the logo onto the [Assets for the site design](https://discourse.snowplowanalytics.com/t/assets-for-the-site-design/7) topic and used that link to place replace the Digest Logo on the emails.

Let us wait and see if this works.

[2017-07-31 20:56] yalisassoon opened #236 "Add Viventura to our users list"

[2017-07-31 21:33] yalisassoon commented on #98
Hi @petermonte

The way the repo is setup, the idea is that you build the website on the VM and then access it in the host on `localhost:4001`. This is a really great setup, because it means everyone is testing the website using exactly the same development environment simply by cloning the repo and then running:

[code]

Because the VM is [set to forward everything on port 4000 on the VM to 4001

[2017-08-01 09:43] ungn commented on #227
LGTM! New black text logo is appearing in the summary emails.

Closing as complete.

[2017-08-01 09:43] #227 closed

[2017-08-01 13:29] jorgemgoncalves commented on #218
User added to the new branch develop-new-blog-travis.

[2017-08-01 13:30] jorgemgoncalves commented on #217
User added to the new branch develop-new-blog-travis.

[2017-08-01 13:31] jorgemgoncalves commented on #207
User added to the new branch develop-new-blog-travis.

[2017-08-01 13:31] jorgemgoncalves commented on #231
User added to the new branch develop-new-blog-travis.

[2017-08-01 13:32] jorgemgoncalves commented on #229
User added on the new branch develop-new-blog-travis.

[2017-08-01 13:35] jorgemgoncalves commented on #203
Hi @yalisassoon as promised here are the new mockups for the new partner section. We feel that are still a few things to be improved but wanted to receive your feedback before moving on.

You can see the mockups [here](https://drive.google.com/open?id=0B24yFNN5aMhmU2hpQ3pnWndTbU0).

Please give us your thoughts.

[2017-08-01 16:56] jorgemgoncalves commented on #215
Hi @yalisassoon i've placed the meta online on the new branch develop-new-blog-travis.

[2017-08-02 09:09] yalisassoon commented on #98
@jbeemster has fixed this! The key is in the VM to run:

[code]

Everything then works as expected!

[2017-08-02 09:16] petermonte commented on #98
@yalisassoon that is great :)

So we can now start to analyse the new version and step-by-step make all the adjustments and fixes. Many of the new tasks Monarqa has done are in the branch [develop-new-blog-travis](https://github.com/snowplow/snowplowanalytics.com/tree/develop-new-blog-travis).

[2017-08-02 11:19] yalisassoon commented on #98
Hi @petermonte @jorgemgoncalves

Now that I can test the new version locally I've spotted an issue:

The URL paths on the blog post are changed from e.g.:

[code]

to:

[code]

(Note the `-index`.)

Please can we update the setup so the URLs revert to their original path. Otherwise we'll:

* Break any incoming links to our existing blog posts
* Potentially negatively impact our SEO. (Because a lot

[2017-08-02 12:55] yalisassoon commented on #191
We've had the green light from the Picnic team to publish it.

Monarqa team - latest version of the case study can be found here: https://docs.google.com/document/d/1jKhahq4tsM5_diZaa-Pu9k2wA2_PIEfTGF8ZpH6NRic/edit?usp=sharing.

Thanks!

[2017-08-02 16:19] petermonte commented on #98
@yalisassoon as strange as it might seem, it looks like the new version of **Jekyll 3** combined with **Jekyll-Paginate-v2** is allowing after all to have `*.md` files for blog pagination.

The good part of this is that it fills up the permalink like you desire. But it does request a full test by adding back in the old `_posts` folder with all the `*.md` files to see how it goes. A good example ar

[2017-08-02 16:28] petermonte commented on #98
@yalisassoon In the meantime I tested and it looks great. The problem is that all the highlighted code line numbers go wild and get misconfigured. This must be due to the mix of **markdown** with **liquid tags** outputting **markup**

[2017-08-02 19:20] yalisassoon commented on #98
OK @petermonte - so what's the plan? To revert to the old structure of posts? Or to tweak the Jekyll configuration with the new approach so that it doesn't add `-index` to the end of each blog post path?

[2017-08-02 19:20] yalisassoon commented on #98
Keen to get this sorted to we can push all these lovely changes live :smile:

[2017-08-03 07:18] yalisassoon opened #237 "Add b12.io to our list of users"

[2017-08-03 07:19] yalisassoon opened #238 "Add incrowdsports.com to our list of users"

[2017-08-03 10:53] yalisassoon opened #239 "Buy snowplow-analytics.com"

[2017-08-03 17:55] petermonte commented on #98
@yalisassoon, I really don't know how to solve the link issue. Been searching in forums but no luck.

In any case, **HTML** folder structure only came because of a reported bug on **jekyll-paginate-v2** and `*.md` files. Seems that the bug no longer exists with all systems updated. So in this order I think we can move into the old structure and leave code highlight without numbers for now. This wa

[2017-08-03 19:13] yalisassoon commented on #98
Looks great @petermonte ! I've merged to develop then master. Closing!

[2017-08-03 19:13] #98 closed

[2017-08-03 19:17] petermonte commented on #98
Great I'll report the line numbers task to @jorgemgoncalves .

[2017-08-03 20:46] alexanderdean opened #240 "Epic SEO meltdown on website"
Search on Google for "dataflow runner snowplow":

https://www.google.co.uk/search?q=dataflow+runner+snowplow&ie=utf-8&oe=utf-8&client=firefox-b&gfe_rd=cr&ei=E4uDWbf1A4XHXteTgeAJ

Click the links, they all 404.

[2017-08-04 08:23] mikenem opened #241 "Blog Posts all go to 404"
Luckily someone submitted a contact form letting us know.

[2017-08-04 08:24] chuwy commented on #241
I successfully viewed some blog post this morning.

[2017-08-04 08:25] mikenem commented on #241
Not working for me currently

[2017-08-04 08:26] chuwy commented on #241
Yeah. It was cached probably back then.

[2017-08-04 08:26] mikenem commented on #241
Could be.

[2017-08-04 09:03] alexanderdean commented on #240
Duplicate of #241

[2017-08-04 09:03] #240 closed

[2017-08-04 09:25] yalisassoon opened #242 "URGENT: Blog links don't work in new version of jekyll"
HI @jorgemgoncalves @petermonte

There's an issue with the new version of Jekyll - the blog post URL paths aren't working. I don't understand how I didn't spot this when testing (suspect it was a caching issue) but...

1. If you go to https://next.snowplowanalytics.com/blog/
2. If you click on any of the blog post links they 404 e.g. https://next.snowplowanalytics.com/blog/2017/07/21/elasticsearch

[2017-08-04 16:01] bogaert commented on #235
New pictures uploaded for Anton, Alex, Ben, Leon, Josh: https://drive.google.com/drive/folders/0B_Ho7UyBmOJnbG1VVmhITUoxbWM

[2017-08-05 18:54] alexanderdean commented on #239
Done, closing

[2017-08-05 18:54] #239 closed

[2017-08-05 20:59] yalisassoon commented on #242
It looks like this issue doesn't occur when building locally, only on next.snowplowanalytics.com or https://snowplowanalytics.com

cc @jbeemster

[2017-08-05 21:32] yalisassoon commented on #242
So @petermonte @jbeemster...

It looks like this is an issue deploying the website via s3 / cloudfront. It looks like there are two approaches to getting the post URLs to not include the `.html` extension as per [this post](https://simpleit.rocks/having-pretty-urls-in-a-jekyll-website-hosted-in-amazon-s3/):

1. Change the structure of the posts in the repo from `/_posts/yyyy-mm-dd-my-post-name.md`

[2017-08-07 10:59] petermonte commented on #242
@yalisassoon your point **1** assumes that we are going back to the folder structure with a ìndex.html` file inside. Is this correct? Because my last commit was to go back to the simple `****.md` file with no need of folder.

[2017-08-07 11:54] #241 closed

[2017-08-07 19:08] yalisassoon commented on #242
HI @petermonte - my understanding based on the blog posts is that if we go back to a folder structure with a `index.html` this will solve the problem. As it is: the current setup will have the correct URLs when building locally, but the incorrect URLs when serving from S3 / Cloudfront _unless_ we implement fix (2).

My issue with fix (1) was that when we had the posts in that structure there was a

[2017-08-08 21:37] petermonte commented on #242
@yalisassoon It makes sense to me too.

My concern with that approach is that it requires me to come up with a solution for the paths. Now this is an issue that I'm honestly struggling to understand how to overcome it. My knowledge of Jekyll or even Ruby isn't that much. And let's face it, Jekyll documentation isn't the best. Most of what you learn isn't from the docs page but from issue on github

[2017-08-09 08:07] yalisassoon commented on #242
Understood Peter. If you can update a couple of the blog posts to the new structure and merge to develop, I can then have a look and see if I can help figure out how to fix it.

Things we could try:

1. If we update to the structure do we still have the `-index` in the path?
2. Does the path end in `.html` on next.snowplowanalytics.com? Or is that issue at least resolved?
3. What happens if we add

[2017-08-11 09:19] jorgemgoncalves commented on #238
Hi @yalisassoon, this user already exists 😄

[2017-08-11 09:28] jorgemgoncalves commented on #237
Hi @yalisassoon user added.

[2017-08-11 09:28] jorgemgoncalves commented on #236
Hi @yalisassoon user added.

[2017-08-11 12:17] yalisassoon commented on #242
@petermonte please can you update the oflder structure for each post so that it is as per https://github.com/snowplow/snowplowanalytics.com/tree/develop/_posts/2017-07-21-elasticsearch-loader-0.9.0-released.

Note that I think each post can be `index.md` rather than `index.html` but otherwise as it was before we reverted to the original structure.

Any issues please let m eknow - I'd love to get t

[2017-08-11 12:18] yalisassoon commented on #219
@BenFradet we don't intend to fix this - it's part of the redesign to make the blog roll more readable. We cut each post after 75 words.

[2017-08-11 12:18] #219 closed

[2017-08-11 12:21] yalisassoon commented on #212
I think the links now work (previously they just broke) but they're all slightly offset becuase the header is effectively covering up the anchor.

This isn't a big deal so if we can't fix it let's not spend too much time on it but if it is a quikc fix then great.

[2017-08-11 12:21] yalisassoon commented on #142
Done - closing

[2017-08-11 12:21] #142 closed

[2017-08-11 12:22] yalisassoon commented on #196
Looks like this bug is still here

[2017-08-11 12:23] yalisassoon opened #244 "Can we add a margin / padding on the careers page"
https://github.com/snowplow/snowplowanalytics.com/tree/develop/_posts/2017-07-21-elasticsearch-loader-0.9.0-released
![image](https://user-images.githubusercontent.com/201147/29212800-4248a610-7e98-11e7-8db8-0c4d89859f73.png)

On the hero image there's no padding on the left or the right (see above)

[2017-08-11 12:23] yalisassoon commented on #244
Do you think we shoudl have a margin on the side of "Join the Snowplow Team..."?

[2017-08-11 12:27] yalisassoon commented on #233
[Enterprise vs Standard.pdf](https://github.com/snowplow/snowplowanalytics.com/files/1217799/Enterprise.vs.Standard.pdf)

[2017-08-11 12:28] yalisassoon commented on #233
Not sure where on the page it should go - open to suggestion. Just want to add the content at this stage as I think having the pricing explicitly will be helpful

[2017-08-11 12:29] yalisassoon commented on #171
Done! Looks great - closing

[2017-08-11 12:29] #171 closed

[2017-08-11 12:32] yalisassoon commented on #96
From my perspective - we want the page to link to:

* Discourse
* Meetup: https://www.meetup.com/topics/snowplow/. Could also link to individual meetup groups
* Github: https://github.com/snowplow or https://github.com/snowplow/snowplow

So not much content to start off with but would be nice to have a good way of presenting it. (We'll also add to it over time.)

[2017-08-11 12:36] alexanderdean commented on #96
We have some pinned repos above the fold on https://github.com/snowplow so I think that link is fine

[2017-08-11 12:37] yalisassoon commented on #203
This looks great @jorgemgoncalves - I will come back with some content and ask you to slot it in / make a few updates. We can then share the first version of this with our partners.

[2017-08-11 12:39] yalisassoon commented on #191
Going to mockup/  do white papers mid next week.

[2017-08-11 12:41] yalisassoon commented on #96
This should be where "Resources" is currently - so let's rename the top level menu item from resources -> "Community".

The submenus hsould then match teh three links in the page i.e. discourse/ meetup / github / blog

[2017-08-11 12:59] yalisassoon commented on #96
Note we should also update the "Community" link on the homepage to point to this rather than our discourse.

[2017-08-11 14:03] petermonte commented on #242
@yalisassoon changed folder structure and got links working correctly locally. Sorry for the amount of files but thought that backing up old structure would be wise and simple even if in repo.

[2017-08-11 14:54] yalisassoon commented on #242
Hey @petermonte - just tried building the site locally after fetching the updated `develop` branch and I'm getting the following error:

[code]

Isn't the only update the folder structure for the posts? Why are the gem dependencies changed?

[2017-08-11 14:57] yalisassoon commented on #242
Currently not building:

[code]

[2017-08-11 15:07] yalisassoon commented on #242
Hey @petermonte

This is a bit frustrating:

1. The site isn't building locally for me. The issue is that multiple blog posts are missing the opening `{% markdown %}` tag. I've fixed this in some posts: https://github.com/snowplow/snowplowanalytics.com/commit/9612aa843ed5a82636778353debb34b08eeeab84 - but I'm a bit loathe to go through every one of them just to test your update. It makes me suspec

[2017-08-12 15:05] petermonte commented on #242
I @yalisassoon,

I understand your frustration, and for that I am the one to blame.

Since the beginning of this task that I was led to assume, under the documentation and issues of `jekyll-paginate-v2`, that posts structure would have to be under a folder holding an `index.html` file. But today, I realised that we don't need any structure of folders or `indexes` or `*.md` inside folders. It might

[2017-08-14 12:58] yalisassoon commented on #242
Hi @petermonte

Many thanks for working on this over the weekend.

I'm not interested in blame / fault. I just want to get it sorted quickly.

We aren't communicating effectively on this thread at all. What I see in the latest commits is not what I want or what I thought I asked for.

Please can we jump on a quick Skype call to discuss? I've requested this from @jorgemgoncalves (sorry I don't have

[2017-08-14 14:21] petermonte commented on #242
@yalisassoon yes we can.

[2017-08-16 12:49] jorgemgoncalves commented on #244
Hi @yalisassoon, I've placed the headings inside a container that has standard margins and paddings.

[2017-08-16 14:42] jorgemgoncalves commented on #233
Hi @yalisassoon, I was just working on the pricing information on the website when I remembered that we had already mocked up this earlier.

You can check them here ![snowplow_website_v4-product-insights_i-notfinal](https://user-images.githubusercontent.com/26622929/29369077-72363c52-8299-11e7-85df-cc78934730b8.jpg)

Would you like to move forward with this more elaborate version?

[2017-08-16 15:48] nickiio opened #245 "No text displayed on website"
Somebody has been in touch to say no text is being displayed on the website. They've tested in Chrome and IE, using Windows 10, 64 bit.

[2017-08-16 16:12] nickiio commented on #245
Received the following message from the user.

" investigated it and starting disabling classes.

In the <head> tag disabling the following link causes the text to come back up.  I
<link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,700,700i" rel="stylesheet">"

[2017-08-17 11:15] yalisassoon opened #246 "Add fairfax media (Australia) to user list"

[2017-08-18 10:47] jorgemgoncalves commented on #242
Hi @yalisassoon,

At this point, we've already added the permalink to all the blog posts.

We've been checking the #anchor issue, and we verified that you are writing them with postsname#id and I believe they were written this way because you also use them on the old Excerpts that showed on the Post Feed.

We have two ways of solving this issue:

- We change all the links on the posts deleting all

[2017-08-18 10:49] jorgemgoncalves commented on #235
I've updated the latest team photos. At this point we are missing only new photos for Ed and Ihor.

[2017-08-18 10:55] jorgemgoncalves commented on #234
Hi @yalisassoon, I've removed Idan and Giuseppe from the team grid.

Can you give me the new collaborators first and last name so that I create their placeholder with their initial while we don't have their photos?

[2017-08-18 11:07] jorgemgoncalves commented on #196
Hi @yalisassoon we've corrected this bug and now it correctly separates each job among the columns.

[2017-08-18 11:48] yalisassoon commented on #233
Yes please!

On Fri, Aug 18, 2017 at 12:25 PM, Jorge Gonçalves <notifications@github.com>
wrote:

--
Co-founder
Snowplow Analytics <http://snowplowanalytics.com/>
The Roma Building, 32-38 Scrutton Street, London EC2A 4RQ, United Kingdom
+44 7841 954 117
@yalisassoon <https://twitter.com/yalisassoon>
<https://twitter.com/yalisassoon>
Sign up to our mailing list! <http://eepurl.com/b0yEgz>

[2017-08-18 14:13] bogaert commented on #234
@yalisassoon I'll bring my camera to work and take pictures.

[2017-08-21 10:28] jorgemgoncalves commented on #246
User added and can be preview on the Develop [Trusted By](https://next.snowplowanalytics.com/customers/trusted-by/) page.

[2017-08-23 09:05] jbeemster opened #252 "Blog inconsistencies between production and develop blog sidebar"
Issues found on the develop branch at this link: https://next.snowplowanalytics.com/blog/

1. No more recent releases
2. Double `Inside the plow` category
3. Wrong count of blog posts as compared to production

Production for comparison: https://snowplowanalytics.com/blog/

![screen shot 2017-08-23 at 11 01 42](https://user-images.githubusercontent.com/7984544/29607888-e319dbd2-87f2-11e7-8b7e-fe03

[2017-08-23 14:03] jorgemgoncalves commented on #191
Hi @yalisassoon, we are almost finished creating PicNic's case study page although it seems that this page is a lot more extensive than the other case studies.

Please take a look at this [mockup](https://drive.google.com/open?id=0B_-rK3P8F8xVRXFDdmQ4Tk1Hb0U) (still with no images) to understand what we mean.

Is it possible to shorten the content so that it takes up less vertical space?

[2017-08-29 19:18] yalisassoon opened #257 "Skin snowplow.zendesk.com"
https://support.zendesk.com/hc/en-us/articles/203664326-Customizing-your-Help-Center-theme

Currently we use minimal styling and the old brand logo

[2017-08-31 11:01] jorgemgoncalves commented on #96
Hi @yalisassoon,

We've created a mock up for the Community Page that you can see [here](https://drive.google.com/file/d/0BwwSh8n94UreQUpSeUt0RThueWM/view?usp=sharing).

The idea is that this will work as a masonry grid and will allow adding other sites if needed.

Please share your thoughts.

[2017-09-04 15:36] jorgemgoncalves commented on #191
Hi @yalisassoon,

[Here](https://drive.google.com/open?id=0B09pW_o37q9-bTZKdHhkS0hmdzA) you can see the mockup of the full case study.

I've noticed at the beginning of the issue that there is a short version for the website but I haven't access to it, can you please send it so we can update the page?

[2017-09-04 16:13] yalisassoon commented on #96
Hi @jorgemgoncalves - I love the design! The text obviously needs some work but as a first version I think this is great.

[2017-09-04 16:18] yalisassoon commented on #191
Hi @jorgemgoncalves - the case study looks great! I've reshared the shorter version of the website.

Do you mean we should shorten the [website version](https://docs.google.com/document/d/1f-rHDNeQhqO5S1IJMa_yemvOTiwASo22rwOC8Ab8P8U/edit) or the [full PDF](https://drive.google.com/file/d/0B09pW_o37q9-bTZKdHhkS0hmdzA/view)?

[2017-09-05 12:19] jorgemgoncalves commented on #191
@yalisassoon I thought you only had the full PDF document and I was asking to shorten the document for the website version but it's all sorted now that I've read the hole issue 😓

[2017-09-06 15:51] jorgemgoncalves commented on #191
Hi @yalisassoon,

[Here](https://drive.google.com/open?id=0B09pW_o37q9-b2x2eFIxQjNLdkE) you can see the updated mockup of the case study page!

Please give me your feedback in order to start implementing it.

[2017-09-06 16:30] jorgemgoncalves commented on #96
Hi @jbeemster just a quick question! Should we create a new branch from the master to create this new page?

[2017-09-07 12:11] yalisassoon commented on #233
Rather than talk about "batch" vs "real-time" we now talk about "standard" vs "enterprise"

[2017-09-07 12:18] yalisassoon opened #260 "Add new team members to company page"
Me to:

* Get list of people who've joined
* Get bio on each of them
* Ask each for a photo
* Share with the Monarqa team and assign issue.

[2017-09-07 19:12] #235 closed

[2017-09-07 19:13] yalisassoon commented on #212
Love the way it works now!

[2017-09-07 19:13] #212 closed

[2017-09-07 19:14] #244 closed

[2017-09-07 19:14] #196 closed

[2017-09-07 19:15] #201 closed

[2017-09-07 19:17] yalisassoon commented on #234
Hi @jorgemgoncalves - the new team members to add are:

* Mike Nemirovsky
* Nicki Iodice
* Tim Haines

Thanks!

[2017-09-07 19:20] yalisassoon commented on #185
It looks like this is working on next.snowplowanalytics.com but not on https://snowplowanalytics.com?

[2017-09-08 11:53] jorgemgoncalves commented on #185
I've tested the Buttons on https://snowplowanalytics.com on Safari, Firefox and Chrome and they worked.

Can you send us some screenshots?

[2017-09-08 14:57] yalisassoon commented on #185
It's working for me now too - must have been a local issue... Sorry for wasting your time! Closing

[2017-09-08 14:57] #185 closed

[2017-09-12 09:44] jorgemgoncalves commented on #233
Hi @yalisassoon we've created a new branch [mnq-233-insights-new-area](https://github.com/snowplow/snowplowanalytics.com/tree/mnq-233-insights-new-area) for the new Pricing on Snowplow Insights.

We are just waiting for the two new icons for "Standard" and "Enterprise", and then we can merge this branch with next.snowplowanalytics.com.

I'll keep you posted.

[2017-09-13 14:25] jorgemgoncalves commented on #233
Hello @yalisassoon,

I've just merged the [mnq-233-insights-new-area](https://github.com/snowplow/snowplowanalytics.com/tree/mnq-233-insights-new-area) with http://qa.snowplowanalytics.com.

You can check the https://qa.snowplowanalytics.com/products/snowplow-insights/.

After you give green light should I make the pull request with develop?

[2017-09-13 17:00] jorgemgoncalves commented on #191
Hi @yalisassoon, we've published the news PicNic case study on the https://qa.snowplowanalytics.com.

We've changed the menu, footer, customer's page and created the news page with the PDF download.

Please share your thoughts.

[2017-09-13 18:32] #252 closed

[2017-09-13 18:33] #242 closed

[2017-09-13 18:34] yalisassoon commented on #203
HI @jorgemgoncalves - please find an updated version of the text content for the pages [here](https://docs.google.com/a/snowplowanalytics.com/document/d/1QhdK1_zPKMlZIGgC7K6ZlH0gthFQlAxDfTdARELMtm0/edit?usp=sharing). Let me know if you have any questions - otherwise hoping you have enough to create a new branch and add the pages their?

[2017-09-14 11:53] yalisassoon opened #275 "Add Seven West Media to our users lists"

[2017-09-14 17:05] jorgemgoncalves commented on #204
I've tested both links on https://snowplowanalytics.com and they are functioning correctly.

Closing.

[2017-09-14 17:05] #204 closed

[2017-09-14 17:08] jorgemgoncalves commented on #207
Tested on https://snowplowanalytics.com/customers/trusted-by/ and working properly.

[2017-09-14 17:08] #207 closed

[2017-09-14 17:10] jorgemgoncalves commented on #217
Tested on https://snowplowanalytics.com/customers/trusted-by/ and working correctly.

[2017-09-14 17:10] #217 closed

[2017-09-14 17:10] jorgemgoncalves commented on #218
Tested on https://snowplowanalytics.com/customers/trusted-by/ and working correctly.

[2017-09-14 17:10] #218 closed

[2017-09-14 17:11] jorgemgoncalves commented on #229
Tested on https://snowplowanalytics.com/customers/trusted-by/ and working correctly.

[2017-09-14 17:11] #229 closed

[2017-09-14 17:12] jorgemgoncalves commented on #231
Tested on https://snowplowanalytics.com/customers/trusted-by/ and working correctly.

[2017-09-14 17:12] #231 closed

[2017-09-14 17:13] jorgemgoncalves commented on #236
Teste on https://snowplowanalytics.com/customers/trusted-by/ and working correctly.

[2017-09-14 17:13] #236 closed

[2017-09-14 17:14] jorgemgoncalves commented on #237
Tested on https://snowplowanalytics.com/customers/trusted-by/ and working correctly.

[2017-09-14 17:14] #237 closed

[2017-09-14 17:14] #238 closed

[2017-09-14 18:31] yalisassoon commented on #191
Hi @jorgemgoncalves - this looks good - the only outstanding issue I've spotted is that you've capitalised the "n" in picnic in the menus i.e. "PicNic" not "Picnic". I think that's a mistake?

Can you please update the mnrq-191-picnic-case-study branch accordingly and then issue a pull request into next.snowplowanalytics.com when done?

[2017-09-14 19:19] yalisassoon commented on #233
HI @jorgemgoncalves,

This looks good! I've updated the text in these two commits:

* https://github.com/snowplow/snowplowanalytics.com/commit/936bde984fafd0ffa9a1161995d23a3d7eda8e46
* https://github.com/snowplow/snowplowanalytics.com/commit/f064fda8dd6dac0aa0f7dd363ca1ee0651abdbc5

Unfortunately they seem to have broken the formatting so that the two sections no longer take up equal width. I've

[2017-09-15 10:12] jorgemgoncalves commented on #191
Hey @yalisassoon, I've corrected the PicNic N and created a pull request to next.snowplowanalytics.com.

[2017-09-18 09:17] jorgemgoncalves commented on #246
Tested on http://snowplowanalytics.com and working correctly.

[2017-09-18 09:17] #246 closed

[2017-09-20 09:18] jorgemgoncalves opened #288 "Add parallax effects to the website images"

[2017-09-20 09:18] jorgemgoncalves opened #289 "Animating the website icons and infographics"

[2017-09-20 09:20] jorgemgoncalves opened #290 "Develop community section on Homepage"

[2017-09-20 09:21] jbeemster opened #291 "Blog post for S3 Loader has incorrect permalink"
https://snowplowanalytics.com/blog/2017/09/13/snowplow-s3-loader-0.6.0-released/

It is in the 2017/09/14 folder but has a 2017/09/13 permalink.  This subsequently breaks the navigation ability at the top of the post.

cc/ @yalisassoon @alexanderdean

[2017-09-20 09:31] jorgemgoncalves opened #292 "Create cross content sections to improve navigation"

[2017-09-20 09:31] jorgemgoncalves opened #293 "Include more Call to Action on the website"

[2017-09-20 09:32] jorgemgoncalves opened #294 "SEO improvements according to schema.org best practices"

[2017-09-20 09:57] jorgemgoncalves opened #295 "Review section spacings on all pages"

[2017-09-21 10:40] bogaert opened #297 "Fix or remove feeds"
From Simon:

[2017-09-21 10:50] jbeemster commented on #297
To add to this the current atom link (https://snowplowanalytics.com/atom.xml) no longer correctly HREFs any of the blog posts:

Should be:

[2017-09-21 14:13] yalisassoon commented on #297
We'll get these fixed. I can't however see where we're advertising / linking to them? (Would like to remove them until they're fixed.)

[2017-09-21 14:17] yalisassoon opened #298 "Update our Discourse template so that we drive more users back to the main website"
Currently once you arrive at the Discourse, it's back to the website unless you click a specific page link.

Let's think about driving more people back by:

* Making the discourse more a "part" of the website (e.g. with the top menu nav)
* Including more cross sectino calls to action in discourse (if possible)
* Maybe have an "ad unit" that we put somehwere on the side

These are just random ideas

[2017-09-21 14:26] yalisassoon commented on #275
I need to merge this one

[2017-09-21 14:30] yalisassoon opened #299 "Skin console.snowplowanalytics.com"

[2017-09-21 14:41] yalisassoon commented on #299
Next step to

1. Get Monarqa access
2. Setup briefing meeting

[2017-09-21 14:43] yalisassoon commented on #290
Inspiration: mixpanel.com

[2017-09-21 14:50] yalisassoon commented on #216
Hopefully something to show and discuss in a couple of weeks.

[2017-09-21 14:51] yalisassoon commented on #96
PR expected on Monday :smile:

[2017-09-21 14:53] #215 closed

[2017-09-21 14:53] #161 closed

[2017-09-21 14:54] yalisassoon opened #300 "Implement partner page as per design / content"

[2017-09-21 14:55] #25 closed

[2017-09-21 14:55] #21 closed

[2017-09-21 14:55] #203 closed

[2017-09-21 14:55] yalisassoon commented on #25
Closed in favour of https://github.com/snowplow/snowplowanalytics.com/issues/300

[2017-09-21 14:59] yalisassoon opened #301 "1.9 Skin our Meetups pages"

[2017-09-25 15:37] yalisassoon commented on #301
@jorgemgoncalves don't forget to join our meetup groups and then ping me - I can give you permission to update them.

The top priority page is our Berlin one - having a meetup there in a few weeks...

[2017-09-26 11:37] jorgemgoncalves commented on #233
Hi @yalisassoon, I've corrected the links on the pricing list and verified it on qa.snowplowanalytics.com.

I've then asked for a pull request for next.snowplowanalytics.com just to guarantee that it's ok. This merge should be done as soons as possible because it is already on Master without links in the pricing list buttons.

#306

[2017-09-27 09:25] yalisassoon opened #309 "Add date to current version of Terms of Service"
Like this approach: https://www.datadoghq.com/legal/terms/2017-06-02/

[2017-09-27 09:27] yalisassoon opened #310 "Add privacy policy for Snowplow Insight"
Short doc that explains roles and responsibilities and references the security guide

[2017-09-27 09:27] alexanderdean commented on #309
Based on this:

https://github.com/snowplow/snowplowanalytics.com/commits/0523c4bfb426d12f1f0e92a85c33db62bb2c4bdd/pages/terms-of-service/index.html

It looks to me like the date for this version is 28 April 2017?

[2017-09-27 09:27] yalisassoon opened #311 "Break out Snowplow Insights Product description into a separate doc and reference it from the Terms of Service"

[2017-09-27 09:31] yalisassoon opened #312 "Make repo private"

[2017-09-27 14:17] jorgemgoncalves commented on #234
Hi @yalisassoon, I've added the new team member to a new branch with placeholders and the bio sent by Nicki, Mike and Tim.

I've and already asked for a merge with next.snowplowanalytics.com on #308

[2017-09-28 14:48] jorgemgoncalves commented on #234
@yalisassoon tested the new member on next.snowplowanalytics.com and everything is working correctly.

Created a new pull request to merge this commit with master #314.

[2017-10-01 14:49] bogaert commented on #234
My camera is broken so I won't be able to take new profile pictures.

[2017-10-03 11:54] jorgemgoncalves commented on #297
Hi @yalisassoon @bogaert @jbeemster, we have implemented a fix for this issue although we would like to point out some possible misusage of site variables.

Jekyll RSS Feed and Sitemap build use the **_config.yml** `production_url` var. This is referenced in the **sitemap.txt** front matter comment. Because we didn't find the variable `production_url` we changed it to just `url`.

Our fix confirme

[2017-10-04 16:08] jorgemgoncalves commented on #275
After #282 the user was added to the Trusted By page.

[2017-10-04 16:08] #275 closed

[2017-10-04 16:10] jorgemgoncalves commented on #233
After #306 the news Snowplow Insights pricing table was correctly added to the Snowplow Insights page.

[2017-10-04 16:10] #233 closed

[2017-10-04 16:18] jorgemgoncalves commented on #191
After #280 the Picnic case study was successfully added to the production website.

[2017-10-04 16:18] #191 closed

[2017-10-06 09:28] dmpacheco opened #321 "Create redirects"
There is still a lot of traffic landing on 404 pages due to the old structure of the website. We need to create redirects in the following pages:

snowplowanalytics.com/analytics/ (directory and subdirectories)
snowplowanalytics.com/documentation/ (directory and subdirectories)
snowplowanalytics.com/no-js-tracker.html (Either link to the blog post or to GitHub? )

[2017-10-06 12:31] yalisassoon opened #322 "Add www.digimonks.com to our user list"

[2017-10-06 13:53] yalisassoon commented on #297
Thanks @jorgemgoncalves !

It looks like there's an issue with a stray character on both the atom feeds?

![image](https://user-images.githubusercontent.com/201147/31280982-209581fe-aa7c-11e7-889c-ad8186f06152.png)

The sitemap looks good!

[2017-10-09 11:44] jorgemgoncalves commented on #295
Final pull request #323 created after checking with next.snowplowanalytics.com.

[2017-10-09 12:18] #234 closed

[2017-10-09 12:21] yalisassoon commented on #96
Can you view here: https://qa.snowplowanalytics.com/community/.

can't merge yet because fixes to rss feeds are being applied on the same branch.

[2017-10-09 12:23] yalisassoon commented on #300
Aim to launch at the end of this week and we might make revisions. @jorgemgoncalves to send an update on Wednesday.

[2017-10-09 12:30] #260 closed

[2017-10-10 06:07] yalisassoon opened #324 "Add funda.nl to our users list"

[2017-10-10 13:58] jorgemgoncalves commented on #301
Hi @yalisassoon, we've completed skinning all Meetups pages. Closing the issue.

[2017-10-10 13:58] #301 closed

[2017-10-10 20:34] yalisassoon opened #327 "Add usersnap.com to our user list"

[2017-10-11 15:39] jorgemgoncalves commented on #300
Hi @yalisassoon, I've finished merging the new Partners section onto qa.snowplowanalytics.com.
Can you please take a look and give me feedback before we merge it to next and then to master?

[2017-10-12 11:55] alexanderdean opened #333 "Placeholder for rebranding GitHub"
* [ ] Logos for each of our organizations
* [ ] Avatar for our snowplowcla bot
* [ ] Visual look-and-feel for each of our project READMEs

The visual look-and-feel for each README is blocked by our work on the docs reboot - once the docs reboot is a bit further along, we will know which standard icons/links we want to have in each README.